<table width="800" border="0" cellspacing="0" cellpadding="0" class="tabel">
 <tr>
   <td height="20" bgcolor="#006699"><div align="center" class="txt-copyright">{$copyright}</div></td>
 </tr>
</table>