{include file="header.html"}
{include file="menu.html"}
<table width="800" border="0" cellspacing="0" cellpadding="0" class="tabel">
	<tr>
	   <td height="20"></td>
	</tr>
	<tr>
		<td height="20"><div align="center" class="text">
			Selamat Datang di CMS CONTENT ADMIN
		</div></td>
	</tr>
	<tr>
	   <td height="20"></td>
	</tr>
</table>
{include file="copyright.html"}
{include file="footer.html"}