<table width="800" border="0" cellspacing="0" cellpadding="0" class="tabel">
	<tr>
	   <td height="25"><div align="center" class="text">| {$tgl} {$menu_html} | <a href="logout.php" class="link-page">Logout</a> |</div></td>
	</tr>
</table>