{include file="header.html"}
{include file="menu.html"}
<table width="800" border="0" cellspacing="0" cellpadding="0" class="tabel">
	<tr>
	   <td height="20"></td>
	</tr>
	<tr>
		<td height="20"><div align="center" class="text">
			<form name="form1" method="post" action="">
			  <table width="50%"  border="0" cellspacing="0" cellpadding="0" class="tabel">
			    <tr>
			      <td height="20" colspan="3"><div align="center" class="text">{$msg}</div></td>
			    </tr>
			    <tr>
			      <td height="20" colspan="3"><div align="center" class="text">Add Content Push </div></td>
			    </tr>
			    <tr>
			      <td height="20"><div align="right" class="text">Service</div></td>
			      <td>&nbsp;</td>
			      <td height="20"><div align="left" class="text">
			        {$dd_service}
			      </div></td>
			    </tr>
			    <tr>
			      <td height="20"><div align="right" class="text">Content</div></td>
			      <td>&nbsp;</td>
			      <td height="20"><div align="left" class="text">
			        <textarea class="text" name="content" cols="30" rows="7" onKeyDown="textCounter(this.form.content,this.form.remLentext,{$len_content});" onKeyUp="textCounter(this.form.content,this.form.remLentext,{$len_content});">{$contente}</textarea>*
			      </div></td>
			    </tr>
			    <tr>
			      <td height="20"><div align="right" class="text">Character Count</div></td>
			      <td>&nbsp;</td>
			      <td height="20"><div align="left" class="text">
			        <input name="remLentext" type="text" class="text" id="remLentext" value="{$len_content}" size="10">
			      </div></td>
			    </tr>
			    <tr>
			      <td height="20"><div align="right" class="text">Keyword</div></td>
			      <td>&nbsp;</td>
			      <td height="20"><div align="left" class="text">
			        <input name="keyword" type="text" class="text" value="{$keyworde}" size="15">
			      </div></td>
			    </tr>
			    <tr>
			      <td height="20"><div align="right" class="text">Publish Date</div></td>
			      <td>&nbsp;</td>
			      <td height="20"><div align="left" class="text">
			        <input type="text" name="publish_date" class="text" value="{$publish_datee}" size="10" id="a"><input name="reset" type="reset" class="text" onclick="return showCalendar('a', '%Y-%m-%d', '24', true);" value=" ... ">
			      </div></td>
			    </tr>
					<tr>
			      <td height="20"><div align="right" class="text">Push Hour</div></td>
			      <td>&nbsp;</td>
			      <td height="20"><div align="left" class="text">
			        <select name='push_hour' class="text">
							<option value='00' >00</option>
							<option value='01' >01</option>
							<option value='02' >02</option>
							<option value='03' >03</option>
							<option value='04' >04</option>
							<option value='05' >05</option>
							<option value='06' >06</option>
							<option value='07' >07</option>
							<option value='08' >08</option>
							<option value='09' >09</option>
							<option value='10' >10</option>
							<option value='11' >11</option>
							<option value='12' >12</option>
							<option value='13' >13</option>
							<option value='14' >14</option>
							<option value='15' >15</option>
							<option value='16' >16</option>
							<option value='17' >17</option>
							<option value='18' >18</option>
							<option value='19' >19</option>
							<option value='20' >20</option>
							<option value='21' >21</option>
							<option value='22' >22</option>
							<option value='23' >23</option>
							</select>
			      </div></td>
			    </tr>
			    <tr>
			      <td height="20"><div align="right" class="text">Push Charge</div></td>
			      <td>&nbsp;</td>
			      <td height="20"><div align="left" class="text">
			        <select name='push_charge' class="text">
							<option value='PS-0' >0</option>
							<option value='PS-500' >500</option>
							<option value='PS-1000' >1000</option>
							<option value='PS-2000' >2000</option>
							</select>
			      </div></td>
			    </tr>
			    <tr>
			      <td height="20">&nbsp;</td>
			      <td>&nbsp;</td>
			      <td height="20"><div align="left" class="text">
			      	<input type="hidden" name="id" value="{$ide}">
			        <input type="submit" name="{$smt}" value="Submit" class="text">
			      </div></td>
			    </tr>
			    <tr>
			      <td colspan="3">&nbsp;</td>
			    </tr>
			  </table>
			</form>
			<br/>
			<table width="95%"  border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td bgcolor="#003366">
			    	<table width="100%" border="0" cellspacing="1" cellpadding="2">
					  <tr bgcolor="#FFFFFF">
					    <td><div align="center"><strong>SERVICE</strong></div></td>
					    <td><div align="center"><strong>CONTENT</strong></div></td>
					    <td><div align="center"><strong>PUBLISH DATE</strong></div></td>
					    <td><div align="center"><strong>PUBLISH HOUR</strong></div></td>
					    <td><div align="center"><strong>ENTRY DATE</strong></div></td>
					    <td><div align="center"><strong>DELETE</strong></div></td>
					  </tr>
					  {section name=row loop=$id}
					  <tr bgcolor="#FFFFFF">
					    <td><div align="left">{$desc[row]}</div></td>
					    <td><div align="left">{$content[row]}</div></td>
					    <td><div align="center">{$publish_date[row]}</div></td>
					    <td><div align="center">{$publish_seq[row]}</div></td>
					    <td><div align="center">{$entry_date[row]}</div></td>
					    <td><div align="center"><a href="javascript:go_delete({$id[row]},'{$appid[row]}')" class="link-page">DELETE</a></div></td>
					  </tr>
					  {/section}
					</table>
					{literal}
					<script type="text/javascript" language="JavaScript"> 
					<!-- 
					function go_delete(i,j) 
					{ 
					 var where_to= confirm("Yakin Anda akan menghapus content ini?");
					 var a;
					 var b;
					 a = i;
					 b = j;

					 if (where_to== true)
					   window.location= "push_schedule.php?id=" + a + "&action=delete&appid=" + b;
					}
					//-->
					</script>
					{/literal}
			    </td>
			  </tr>
			  <tr bgcolor="#FFFFFF">
			  	<td>
			  		<br/>
					{if $numrows ne ""}
					<table width="100%" border="0" cellpadding="5" cellspacing="0" style="margin-bottom: 30px;">
						<tr class="text">
							<td align="left" valign="center" width="60%"><div class="garis">
								<a href="list_content.php?begin={$first}" class="link-page"><strong><<</strong></a>
								<a href="list_content.php?begin={$prev}" class="link-page"><strong>< </strong></a>{$dispfrom} - {$dispto} / {$numrows} 
								<a href="list_content.php?begin={$next}" class="link-page"><strong>></strong></a>
								<a href="list_content.php?begin={$last}" class="link-page"><strong>>></strong></a> </div></td>
							<td width="40%" align="right" style="padding-top: 5px; font-weight: bold;" class="text"><div class="garis">Total Data: {$numrows}</div></td>
						</tr>
					</table>
					{/if}
			  	</td>
			  </tr>
			</table>
		</div></td>
	</tr>
	<tr>
	   <td height="20"></td>
	</tr>
</table>
{include file="copyright.html"}
{include file="footer.html"}