body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.tabel {
	border: 1px solid #003366;
}
.txt-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #003366;
	text-decoration: underline;
}
A.link1 {
	text-decoration: none; color: #003366; font-family: Verdana, Arial, Helvetica, sans-serif;; font-size: 12px ;
}
A.link1:hover {
	color : #006699
}
A.link-page { 
	text-decoration: none; color: #003366; font-family: Verdana, Arial, Helvetica, sans-serif;; font-size: 11px ;
}
A.link-page:hover {
	color : #006699
}
.txt-menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.txt-copyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
}
.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
}