{include file="header2.html"}
<body class="hold-transition skin-blue sidebar-mini">

    <div class="content-wrapper">

        <section class="content-header">
            <h1>Add New Application</h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <form class="form-horizontal" style="margin-top:25px;" method="post" action="">

                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>Description</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" name="app_desc" class="form-control"  placeholder="DESCRIPTION">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>Push Service</label>
                                            </div>
                                            <div class="col-md-7">
                                                <select id="pushctrl" class="form-control" name="push_status">                                                            
                                                    <option value="yes">Yes</option>
                                                    <option value="not">Not</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>Push Type</label>
                                            </div>
                                            <div class="col-md-7">
                                                <select id="pushctrl" class="form-control" name="push_type">                                                            
                                                    <option value="seq">By Sequence</option>
                                                    <option value="date">By Date</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>Push Day</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input id="pday" type="text" class="form-control" name="push_day" placeholder="wed,tue... or date">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>Push Hour</label>
                                            </div>
                                            <div class="col-md-7">
                                                <select id="phour" class="form-control" name="push_time">
                                                    <?php
                                                    for ($i = 0; $i <= 23; $i++) {
                                                    echo "<option value='" . $i . "'>" . $i . "</option>";
                                                }
                                                ?>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <label>Push Retry in Hour</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input id="pretry" type="number" name="retry_push" class="form-control"  placeholder="12,18 in hour 24">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <label>Pull Cost</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input id="pcost" type="number" class="form-control" name="cost_pull" placeholder="Cost of pull sms">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <label>Pull Cost Code</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input id="pcost" type="text" class="form-control" name="cost_pull_code" placeholder="Code of pull cost">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">       
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <label>Push Cost</label>
                                        </div>
                                        <div class="col-md-7"> 
                                            <input type="number" class="form-control" name="cost_push" placeholder="Cost of push sms">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <label>Push Cost Code</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input id="pcost" type="text" class="form-control" name="cost_push_code" placeholder="Code of push cost">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <label>Partner</label>
                                        </div>
                                        <div class="col-md-7">
                                            <select class="form-control" name="id_partner">
                                                <option>asdsads</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <label>Contact</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" name="contact" class="form-control"  placeholder="CONTACT">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <label>Marketing</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" name="marketing" class="form-control"  placeholder="MARKETING">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <label>PIC</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" name="pic" class="form-control"  placeholder="PIC">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <label>Status</label>
                                        </div>
                                        <div class="col-md-7">
                                            <select class="form-control" name="config_status">
                                                <option value="active">Active</option>
                                                <option value="deactive">Deactive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success">
                                        <i class="fa fa-plus"></i> Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->


        <section class="content-header">
            <h1>Manage Application</h1>                    
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- AREA CHART -->
                    <div class="box box-primary">
                        <div class="box-body">

                            <div class="col-md-6">
                                <form class="form-horizontal" action="" method="POST">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button name="searchbtn" class="btn btn-warning" type="submit">
                                                <i class="fa fa-search" style="margin-right:5px;"></i>Search
                                            </button>
                                        </div>
                                        <input type="text" class="form-control" name="search" placeholder="Type what you want to search">
                                    </div>
                                </form>
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <a href='../report/application?add=true' class="btn btn-success btn-flat">
                                        <i class="fa fa-plus"></i> Add new application
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-body" style="overflow-x:auto">
                            <table id="example2" class="table table-bordered table-striped" style="font-size: 14px">
                                <thead>
                                    <tr>
                                        <th style="text-align: center">ACTION</th>
                                        <th style="text-align: center">APPID</th>
                                        <th style="text-align: center">DESCRIPTION</th>
                                        <th style="text-align: center">PUSH TYPE</th>
                                        <th style="text-align: center">PUSH SERVICE</th>
                                        <th style="text-align: center">PUSH TIME</th>
                                        <th style="text-align: center">PUSH DAY</th>
                                        <th style="text-align: center">PUSH COST</th>

                                        <th style="text-align: center">PULL COST</th>

                                        <th style="text-align: center">PARTNER</th>
                                        <th style="text-align: center">ENTRY DATE</th>
                                        <th style="text-align: center">STATUS</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr>
                                        <td style="text-align:center;">
                                            <a href="../report/applicationedit?id="><i class="fa fa-pencil-square-o"></i><small>Edit</small></a>
                                            <br>
                                            <a href="../report/applicationdelete?id="><i class="fa fa-trash"></i><small>Delete</small></a>
                                        </td>
                                        <td>asdasd</td>
                                        <td>sdasd</td>
                                        <td>sdasd</td>
                                        <td style="text-align:center;">asdsad</td>
                                        <td style="text-align:center;">asdasd</td>
                                        <td> asdasd </td>
                                        <td> asdasd </td>

                                        <td>adasd</td>

                                        <td style="text-align:center;">
                                            adasdds
                                        </td>
                                        <td>asdasd</td>
                                        <td style="text-align:center;">
                                            asdad
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="main-footer">
            <strong>Copyright &copy; 2017 Macrokiosk.</strong> All rights reserved.
        </footer>
    </div>

    <!-- ./wrapper -->
    <!-- jQuery 3.1.1 -->
    <script src="../dist2/plugins/jQuery/jquery-3.1.1.min.js"></script>

    <script src="../dist2/plugins/jQueryUI/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button);</script>
    <!-- Bootstrap 3.3.7 -->
    <script src="../dist2/bootstrap/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <!-- Slimscroll -->
    <script src="../dist2/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="../dist2/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="../dist2/js/adminlte.min.js"></script>
    <script src="../dist2/plugins/iCheck/icheck.min.js"></script>
    <!-- DataTables -->
    <script src="../dist2/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../dist2/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- bootstrap datepicker -->
    <script src="../dist2/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script>
        $(function () {
            $('#datepicker').datepicker({
                autoclose: true
            });
        });
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": true,
                "autoWidth": false
            });
        });

        $('#pushctrl').change(function () {
            if ($('#pushctrl').val() === 'not') {
                $("#pday").attr("readonly", "readonly");
                $("#phour").hide();
                $("#pretry").attr("readonly", "readonly");
                $("#pcost").attr("readonly", "readonly");
            } else {
                $("#pday").removeAttr("readonly", "readonly");
                $("#phour").show();
                $("#pretry").removeAttr("readonly", "readonly");
                $("#pcost").removeAttr("readonly", "readonly");
            }
        });
    </script>
</body>
</html>