{include file="header2.html"}
<title>Application</title>
<body class="hold-transition skin-blue sidebar-mini">
    {literal}
    <script type="text/javascript" language="JavaScript"> 
        <!-- 
        function go_delete(d,e) 
        { 
         var where_to= confirm("Yakin Anda akan menghapus ini?");
         var i;
         var j;
         i = d;
         j = e;
         if (where_to== true)
           window.location=i + j;
        }

        $(document).ready(function () {
            if ($('#is_retry').val() === '0') {
                $('#retry_time').attr('readonly', true);
                $('#retry_type').attr('readonly', true);
                $('#retry_day').attr('readonly', true);
            } else{
                $('#retry_time').attr('readonly', false);
                $('#retry_type').attr('readonly', false);
                $('#retry_day').attr('readonly', false);
            }
        });


        function retryChange() {
            if ($('#is_retry').val() === '0') {
                $('#retry_time').attr('readonly', true);
                $('#retry_type').attr('readonly', true);
                $('#retry_day').attr('readonly', true);
            } else{
                $('#retry_time').attr('readonly', false);
                $('#retry_type').attr('readonly', false);
                $('#retry_day').attr('readonly', false);
            }
        }




        // $('#dynamic-content').empty();
        // $.ajax({
        //     type: 'GET',
        //     url: "../content/getcategory?q=" + $('#typeContent').val(),
        //     success: function (data) {
        //         $('#load').hide();
        //         $('#dynamic-content').append(data);
        //     },
        //     error: function (data) {
        //         console.log(data);
        //     }
        // });
//-->
    </script>
{/literal}
<div class="wrapper">

    {include file="menu2.html"}

    <div class="content-wrapper" style="min-height:0px;">

        <section class="content-header">
            <h1>Application</h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- AREA CHART -->
                    <div class="box box-primary">
                        <div class="box-body">

                            <div class="col-md-6">
                                <form class="form-horizontal" name="filter" action="" method="GET">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button name="searchbtn" class="btn btn-warning" type="submit">
                                                <i class="fa fa-search" style="margin-right:5px;"></i>Search
                                            </button>
                                        </div>
                                        <input type="hidden" name="active" value="report">
                                        <input type="hidden" name="menu" value="Application">
                                        <input type="text" class="form-control" name="filter" value="{$filter}" placeholder="Type what you want to search">
                                    </div>
                                </form>
                            </div>
                            <b style="color:red;">{$msg}</b>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-body" style="overflow-x:auto">
                            <table id="example1" class="table table-bordered table-striped" style="font-size: 14px">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">ACTION</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">APPID</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">DESCRIPTION</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">PUSH SERVICE</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">PUSH TIME</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">PUSH DAY</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">RETRY SERVICE</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">RETRY TIME</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">RETRY DAY</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">RETRY TYPE</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">PARTNER</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">CONTACT</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">MARKETING</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">PIC</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">ENTRY DATE</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">STATUS</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {section name=row loop=$appid}
                                    <tr>
                                        <td style="text-align:center;">
                                            <a href="application.php?action=edit&id={$id[row]}&active=report&menu=Application"><i class="fa fa-pencil-square-o"></i><small>Edit</small></a>
                                            <br>
                                            <a href="javascript:go_delete('application.php?action=delete&id=',{$id[row]})"><i class="fa fa-trash"></i><small>Delete</small></a>
                                        </td>
                                        <td style="text-align:center;">{$appid[row]}</td>
                                        <td style="text-align:center;">{$description[row]}</td>
                                        <td style="text-align:center;">{$is_push[row]}</td>
                                        <td style="text-align:center;">{$push_time[row]}</td>
                                        <td>{$push_day[row]}</td>
                                        <td style="text-align:center;">{$is_retry[row]}</td>
                                        <td style="text-align:center;">{$retry_time[row]}</td>
                                        <td>{$retry_day[row]}</td>
                                        <td style="text-align:center;">{$retry_type[row]}</td>
                                        <td style="text-align:center;">{$partner[row]}</td>
                                        <td style="text-align:center;">{$contact[row]}</td>
                                        <td style="text-align:center;">{$marketing[row]}</td>
                                        <td style="text-align:center;">{$pic[row]}</td>
                                        <td style="text-align:center;">{$datetime[row]}</td>
                                        <td style="text-align:center;">{$status[row]}</td>
                                    </tr>
                                    {/section}
                                </tbody>
                            </table>

                            {if $numrows ne ""}
                            <table width="85%" border="0" cellpadding="5" cellspacing="0" style="margin-bottom: 30px;">
                             <tr class="text">
                              <td align="left" valign="top">
                               <a href="application.php?begin={$first}&filter={$filter}&active=report&menu=Application"><img class="first" src="{$img_dir}bd_firstpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
                               <a href="application.php?begin={$prev}&filter={$filter}&active=report&menu=Application"><img class="prev" src="{$img_dir}bd_prevpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="prev" /></a>{$dispfrom} - {$dispto} / {$numrows}
                               <a href="application.php?begin={$next}&filter={$filter}&active=report&menu=Application"><img class="next" src="{$img_dir}bd_nextpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="next" /></a>
                               <a href="application.php?begin={$last}&filter={$filter}&active=report&menu=Application"><img class="last" src="{$img_dir}bd_lastpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
                           </td>
                           <td align="right" class="text">Total Data: {$numrows}</td>
                       </tr>
                   </table>
                   {/if}
               </div>
           </div>
       </div>
   </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Application</h3>
                    </div>
                    <form class="form-horizontal" style="margin-top:25px;" method="post" action="">

                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <label>Description</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" name="desc" class="form-control"  placeholder="DESCRIPTION" value="{$description_edit}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <label>Push Service</label>
                                    </div>
                                    <div class="col-md-7">
                                        {$dd_is_push}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <label>Push Hour</label>
                                    </div>
                                    <div class="col-md-7">
                                        {$dd_push_time}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <label>Push Day</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" name="push_day" placeholder="wed,tue... or date" value="{$push_day_edit}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <label>Partner</label>
                                    </div>
                                    <div class="col-md-7">
                                        {$dd_partner}
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <label>Contact</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" name="contact" value="{$contact_edit}" class="form-control"  placeholder="CONTACT">
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <label>Marketing</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" name="marketing" class="form-control" value="{$marketing_edit}"  placeholder="MARKETING">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <label>PIC</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" name="pic" class="form-control" value="{$pic_edit}"  placeholder="PIC">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <label>Retry Service</label>
                                    </div>
                                    <div class="col-md-7">
                                        {$dd_is_retry}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <label>Retry Time</label>
                                    </div>
                                    <div class="col-md-7">
                                        {$dd_retry_time}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <label>Retry Type</label>
                                    </div>
                                    <div class="col-md-7">
                                        {$dd_retry_type}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <label>Retry Day</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" id='retry_day' name="retry_day" class="form-control" value="{$retry_day_edit}"  placeholder="mon,wed... or date">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <label>Status</label>
                                    </div>
                                    <div class="col-md-7">
                                        {$dd_status}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <button type="submit" name="app_add" class="btn btn-success">
                                    <i class="fa fa-plus"></i> Submit</button>
                                    <input type="hidden" name="action" value="{$action}" class="text">
                                    <input type="hidden" name="id" value="{$id_edit}" class="text">    
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->


</div> 
<footer class="main-footer">
    {$copyright}
</footer>
</div>

{include file="footer2.html"}
