{include file="header2.html"}
<title>Blacklist MSISDN</title>
<body class="hold-transition skin-blue sidebar-mini">
	{literal}
	<script type="text/javascript" language="JavaScript"> 
		<!-- 
		function go_delete(d,e) 
		{ 
			var where_to= confirm("Yakin Anda akan menghapus ini?");
			var i;
			var j;
			i = d;
			j = e;
			if (where_to== true)
				window.location=i + j;
		} 
//-->
</script>
{/literal}
<div class="wrapper">

	{include file="menu2.html"}

	<div class="content-wrapper" style="min-height:0px;">

		<section class="content-header">
			<h1>Blacklist MSISDN</h1>
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<!-- AREA CHART -->
					<div class="box box-primary">
						<div class="box-body">

							<div class="col-md-12">
								<form name="frmS" class="form-horizontal" name="filter" action="" method="GET">
									<div class="input-group">
										<div class="input-group-btn">
											<button name="Scari" value="Cari" class="btn btn-warning" type="submit">
												<i class="fa fa-search" style="margin-right:5px;"></i>Search
											</button>
										</div>
										<input type="hidden" name="active" value="cs">
										<input type="hidden" name="menu" value="Blacklist">
										<input type="text" class="form-control" name="msisdnS" value="{$msisdnS}" placeholder="Type MSISDN">
									</div>
								</form>
							</div>

							<div class="col-md-12">
								<form name="form1" class="form-horizontal" action="" method="POST">
									<div class="col-md-5">
										<div class="form-group">
											<label class="col-md-3">MSISDN</label>
											<div class="col-md-8">
												<input name="msisdn" class="form-control" type="text" placeholder="Type MSISDN">
											</div>
										</div>
									</div>

									<div class="col-md-5">
										<div class="form-group">
											<label class="col-md-3">TELCO</label>
											<div class="col-md-8">
												<select name='telco' class="form-control">
													<option value='tsel'>Telkomsel</option>
													<option value='xl'>XL</option>
													<option value='isat'>Indosat</option>
													<option value='hutch'>Hutch</option>
												</select>
											</div>
										</div>
									</div>

									<div class="col-md-2">
										<div class="col-md-5 col-md-offset-3">
											<button type="submit" class="btn btn-danger" name="AddBL" value="Add"><i class="fa fa-gear"></i> Blacklist</button>
											<input type="hidden" name="active" value="cs">
											<input type="hidden" name="menu" value="Blacklist">
										</div>
									</div>                                     
								</form>
							</div>
						</div>
						<div class="col-md-12">
							<strong style="color: #4183D7"></strong>
						</div>
						<div class="box-body" style="overflow-x:auto">
							<table id="example2" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th style="text-align: center;background-color: #4183D7;color: #fff;">MSISDN</th>
										<th style="text-align: center;background-color: #4183D7;color: #fff;">TELCO</th>
										<th style="text-align: center;background-color: #4183D7;color: #fff;">ENTRY DATE</th>
										<th style="text-align: center;background-color: #4183D7;color: #fff;">DELETE</th>
									</tr>
								</thead>

								<tbody>
									{section name=row loop=$id}
									<tr>
										<td style="text-align:center">{$msisdn[row]}</td>
										<td style="text-align:center">{$telco[row]}</td>
										<td style="text-align:center">{$entry_date[row]}</td>
										<td style="text-align:center"><a href="javascript:go_delete({$id[row]})"><i class="fa fa-trash"></i></a></td>
									</tr>
									{/section}

									{literal}
									<script type="text/javascript" language="JavaScript"> 
										<!-- 
										function go_delete(i,j) 
										{ 
											var where_to= confirm("Yakin Anda akan menghapus content ini?");
											var a;
											var b;
											a = i;
											b = j;

											if (where_to== true)
												window.location= "blacklist.php?id=" + a + "&action=delete";
										}
										//-->
									</script>
									{/literal}
								</tbody>
							</table>
							{if $numrows ne ""}
							<table width="100%" border="0" cellpadding="5" cellspacing="0" style="margin-bottom: 30px;">
								<tr class="text">
									<td align="left" valign="center" width="60%"><div class="garis">
										<a href="blacklist.php?begin={$first}" class="link-page"><strong><<</strong></a>
										<a href="blacklist.php?begin={$prev}" class="link-page"><strong>< </strong></a>{$dispfrom} - {$dispto} / {$numrows} 
										<a href="blacklist.php?begin={$next}" class="link-page"><strong>></strong></a>
										<a href="blacklist.php?begin={$last}" class="link-page"><strong>>></strong></a> </div></td>
										<td width="40%" align="right" style="padding-top: 5px; font-weight: bold;" class="text"><div class="garis">Total Data: {$numrows}</div></td>
									</tr>
								</table>
								{/if}
							</div>
						</div>
					</div>
				</div>

			</section>
			<!-- /.content -->

		</div> 
		<footer class="main-footer">
			{$copyright}
		</footer>
	</div>

	{include file="footer2.html"}
