{include file="header2.html"}
<title>Content Text</title>
<body class="hold-transition skin-blue sidebar-mini">
    {literal}
    <script type="text/javascript" language="JavaScript">
        function submit_form()
        {
            document.frmView.submit()
        }

        function go_delete(i,j) 
        { 
          var where_to= confirm("Yakin Anda akan menghapus content ini?");
          var a;
          var b;
          a = i;
          b = j;

          if (where_to== true)
            window.location= "category_download.php?id=" + a + "&action=delete&active=download&menu=Category Download";
    }
</script>
{/literal}
<div class="wrapper">

    {include file="menu2.html"}

    <div class="content-wrapper" style="min-height:0px;">

        <section class="content-header">
            <h1>Category Download</h1> 
            <b style="color:red">{$msg}</b>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- AREA CHART -->
                    <div class="box box-primary">
                        <div class="box-body">
                            <form class="form-horizontal" name="form1" action="" method="POST">
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>Content</label>
                                            </div>
                                            <div class="col-md-7">
                                                {$content_service}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>Category Name</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input name="category" type="text" class="form-control" value="{$category_name_e}"  placeholder="Category">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>Status</label>
                                            </div>
                                            <div class="col-md-7">
                                                {$dd_status}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <input type="hidden" name="id" value="{$category_id_e}">
                                        <input type="submit" name="{$smt}" value="{$valBtn}" class="btn btn-success">
                                        {$news}
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-body" style="overflow-x:auto">
                            <table id="example2" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">Category Name</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">Type</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">Status</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">Create Date</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {section name=row loop=$category_id}
                                    <tr>
                                        <td>{$category_name[row]}</td>
                                        <td style="text-align: center;">{$content_type[row]}</td>
                                        <td style="text-align: center;">{$status[row]}</td>
                                        <td style="text-align: center;">{$entry_date[row]}</td>
                                        <td style="text-align: center;">
                                            <a href="category_download.php?active=download&menu=Content Category&id={$category_id[row]}&action=edit&cntn={$content_type[row]}" class="link-page"><i class="fa fa-pencil"></i><small>Edit</small></a>
                                            |
                                            <a href="javascript:go_delete('category_download.php?action=delete&id={$category_id[row]}')"><i class="fa fa-trash"></i><small>Delete</small></a>
                                        </td>
                                    </tr>
                                    {/section}
                                </tbody>
                            </table>

                            {if $numrows ne ""}
                            <table width="85%" border="0" cellpadding="5" cellspacing="0" style="margin-bottom: 30px;">
                                <tr class="text">
                                    <td align="left" valign="top">
                                        <a href="category_download.php?begin={$first}&filter={$filter}"><img class="first" src="{$img_dir}bd_firstpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
                                        <a href="category_download.php?begin={$prev}&filter={$filter}"><img class="prev" src="{$img_dir}bd_prevpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="prev" /></a>{$dispfrom} - {$dispto} / {$numrows}
                                        <a href="category_download.php?begin={$next}&filter={$filter}"><img class="next" src="{$img_dir}bd_nextpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="next" /></a>
                                        <a href="category_download.php?begin={$last}&filter={$filter}"><img class="last" src="{$img_dir}bd_lastpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
                                    </td>
                                    <td align="right" class="text">Total Data: {$numrows}</td>
                                </tr>
                            </table>
                            {/if}
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->


    </div> 
    <footer class="main-footer">
        {$copyright}
    </footer>
</div>

{include file="footer2.html"}
