{include file="header2.html"}
<title>Check MSISDN</title>
<body class="hold-transition skin-blue sidebar-mini">
    {literal}
    <script type="text/javascript" language="JavaScript"> 
        <!-- 
        function go_delete(d,e) 
        { 
           var where_to= confirm("Yakin Anda akan menghapus ini?");
           var i;
           var j;
           i = d;
           j = e;
           if (where_to== true)
             window.location=i + j;
     } 
//-->
</script>
{/literal}
<div class="wrapper">

    {include file="menu2.html"}

    <div class="content-wrapper" style="min-height:0px;">

        <section class="content-header">
            <h1>Check MSISDN</h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- AREA CHART -->
                    <div class="box box-primary">
                        <div class="box-body">

                            <div class="col-md-6">
                                <form class="form-horizontal" name="filter" action="" method="GET">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button name="Submit" value="Search" class="btn btn-warning" type="submit">
                                                <i class="fa fa-search" style="margin-right:5px;"></i>Search
                                            </button>
                                        </div>
                                        <input type="hidden" name="active" value="cs">
                                        <input type="hidden" name="menu" value="Check MSISDN">
                                        <input type="text" class="form-control" name="msisdn" value="{$msisdn}" placeholder="Type MSISDN">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-body" style="overflow-x:auto">
                            <table id="example1" class="table table-bordered table-striped" style="font-size: 14px">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">ACTION</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">SERVICE</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">MSISDN</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">SHORTCODE</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">DATE REG</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">DATE UNREG</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">STATUS</th> 
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">COST</th> 
                                    </tr>
                                </thead>

                                <tbody>
                                    {if $smt eq "y"}
                                    {if $data eq "FOUND"}
                                    {section name=row loop=$id}
                                    <form name="frm{$id[row]}" method="post" action="">
                                        <tr>
                                            <td style="text-align:center;">
                                                {if $status[row] eq "Aktif"}
                                                <input type="hidden" name="msisdn" value="{$msisdn2[row]}" class="text">
                                                <input type="hidden" name="id" value="{$id[row]}" class="text">
                                                <input type="submit" name="SubmitU" value="Unreg" class="text">
                                                {/if}
                                            </td>
                                            <td style="text-align:center;">{$appid[row]} - {$desc[row]}</td>
                                            <td style="text-align:center;">{$msisdn2[row]}</td>
                                            <td style="text-align:center;">{$shortcode[row]}</td>
                                            <td style="text-align:center;">{$date_reg[row]}</td>
                                            <td style="text-align:center;">{$date_unreg[row]}</td>
                                            <td style="text-align:center;">{$status[row]}</td>
                                            <td style="text-align:center;">{$msisdn_cost[row]}</td>
                                        </tr>
                                    </form>
                                    {/section}
                                    {else}
                                    {$data}
                                    {/if}
                                    {/if}
                                </tbody>
                            </table>

                            <hr>

                            <div class="col-md-6">
                                <div class="row">
                                    <table id="example1" class=" table table-bordered table-striped" style="font-size: 14px">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">DATETIME</th> 
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">COST</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {if $smt eq "y"}
                                                {if $data eq "FOUND"}
                                                    {section name=row loop=$msisdn_cost}
                                                    <tr>
                                                        <td style="text-align:center;">{$msisdn_cost_date[row]}</td>
                                                        <td style="text-align:right;">{$msisdn_cost[row]}</td>
                                                    </tr>
                                                    {/section}
                                                    <tr>
                                                        <td style="text-align: right;"><b>TOTAL</b></td>
                                                        <td style="text-align: right;"><b>{$msisdn_cost_sum}</b></td>
                                                    </tr>
                                                {else}
                                                    {$data}
                                                {/if}
                                            {/if}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div> 
    <footer class="main-footer">
        {$copyright}
    </footer>
</div>

{include file="footer2.html"}
