{include file="header2.html"}
<title>Content Text</title>
<body class="hold-transition skin-blue sidebar-mini">
    {literal}
    <script type="text/javascript" language="JavaScript">
        function submit_form()
        {
            document.frmView.submit()
        }

        function go_delete(i,j) 
					{ 
					 var where_to= confirm("Yakin Anda akan menghapus content ini?");
					 var a;
					 var b;
					 a = i;
					 b = j;

					 if (where_to== true)
					   window.location= "delete_content.php?id=" + a + "&action=delete&appid=" + b;
					}
    </script>
    {/literal}
    <div class="wrapper">

        {include file="menu2.html"}

        <div class="content-wrapper" style="min-height:0px;">

            <section class="content-header">
                <h1>Content Text</h1> 
                <b style="color:red">{$msg}</b>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <!-- AREA CHART -->
                        <div class="box box-primary">
                            <div class="box-body">
                                <form class="form-horizontal" name="form1" action="" method="POST">
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>SERVICE / KEYWORD</label>
                                                </div>
                                                <div class="col-md-7">
                                                    {$dd_service}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>CONTENT</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <textarea class="form-control" name="content" cols="30" rows="3" onKeyDown="textCounter(this.form.content, this.form.remLentext, 160);" onKeyUp="textCounter(this.form.content, this.form.remLentext, 160);">{$contente}</textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>CHARACTER COUNT</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <input name="remLentext" type="text" class="form-control" id="remLentext" value="160" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>CATEGORY</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input name="category" type="text" class="form-control" value="{$categorye}"  placeholder="Category">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>PUBLISH DATE</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input name="publish_date" type="text" class="form-control col-md-10" id="a" value="{$publish_datee}" style="width:85%" placeholder="DATE"><input name="reset" type="reset" class="text" onclick="return showCalendar('a', '%Y-%m-%d', '24', true);" value=" ... ">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>PUBLISH SEQ</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input name="publish_seq" type="text" class="form-control" value="{$publish_seqe}"  placeholder="Publish Seq">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <input type="hidden" name="id" value="{$ide}">
                                            <input type="submit" name="{$smt}" value="{$btn}" class="btn btn-success">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-body" style="overflow-x:auto">
                                <table id="example2" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">SERVICE</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">CATEGORY</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">CONTENT</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">PUBLISH DATE</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">PUBLISH SEQ</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">ENTRY DATE</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">EDIT</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">DELETE</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {section name=row loop=$id}
                                        <tr>
                                            <td>{$desc[row]}</td>
                                            <td>{$category[row]}</td>
                                            <td>{$content[row]}</td>
                                            <td>{$publish_date[row]}</td>
                                            <td>{$publish_seq[row]}</td>
                                            <td>{$entry_date[row]}</td>
                                            <td><a href="edit_content.php?active=cms&menu=Content Text&id={$id[row]}&appid={$appid[row]}&action=edit" class="link-page">EDIT</a></td>
                                            <td><a href="javascript:go_delete({$id[row]},'{$appid[row]}')" class="link-page">DELETE</a></td>
                                        </tr>
                                        {/section}
                                    </tbody>
                                </table>

                                {if $numrows ne ""}
                                <table width="85%" border="0" cellpadding="5" cellspacing="0" style="margin-bottom: 30px;">
                                    <tr class="text">
                                        <td align="left" valign="top">
                                            <a href="contents_text.php?begin={$first}&filter={$filter}"><img class="first" src="{$img_dir}bd_firstpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
                                            <a href="contents_text.php?begin={$prev}&filter={$filter}"><img class="prev" src="{$img_dir}bd_prevpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="prev" /></a>{$dispfrom} - {$dispto} / {$numrows}
                                            <a href="contents_text.php?begin={$next}&filter={$filter}"><img class="next" src="{$img_dir}bd_nextpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="next" /></a>
                                            <a href="contents_text.php?begin={$last}&filter={$filter}"><img class="last" src="{$img_dir}bd_lastpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
                                        </td>
                                        <td align="right" class="text">Total Data: {$numrows}</td>
                                    </tr>
                                </table>
                                {/if}
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
                <!-- /.row -->

            </section>
            <!-- /.content -->


        </div> 
        <footer class="main-footer">
            {$copyright}
        </footer>
    </div>

    {include file="footer2.html"}
