{include file="header2.html"}
<title>Content Download</title>
<body class="hold-transition skin-blue sidebar-mini">
    {literal}
    <script type="text/javascript" language="JavaScript">
        function submit_form()
        {
            document.frmView.submit()
        }

        function go_delete(jays) 
        { 
         var where_to= confirm("Yakin Anda akan menghapus content ini?");

         if (where_to== true)
            //console.log(jays);
        window.location = "content_download.php?active=download&menu=Content Download&id="+jays+"&action=hapuz";
    }
    function CheckAll() {
        var allInputs = document.getElementsByTagName("input")
        for (var i = 0; i < allInputs.length; i++) {
            if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
                allInputs[i].checked = true;
            } else continue;
        }
    }

    function UnCheckAll() {
        var allInputs = document.getElementsByTagName("input")
        for (var i = 0; i < allInputs.length; i++) {
            if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
                allInputs[i].checked = false;
            } else continue;
        }
    }
</script>
{/literal}
<div class="wrapper">

    {include file="menu2.html"}

    <div class="content-wrapper" style="min-height:0px;">

        <section class="content-header">
            <h1>Content Download</h1> 
            <b style="color:red">{$msg}</b>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- AREA CHART -->
                    <div class="box box-primary">
                        <div class="box-body">
                            <form class="form-horizontal" name="form1" action="" method="POST" enctype="multipart/form-data">
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>Content</label>
                                            </div>
                                            <div class="col-md-7">
                                                {$content_service}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>Artist</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input name="singer" type="text" class="form-control" value="{$singer2}"  placeholder="Artist">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>Title</label>
                                            </div>
                                            <div class="col-md-7">

                                                <input required="" name="title" type="text" class="form-control" value="{$title2}"  placeholder="Title">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>Description</label>
                                            </div>
                                            <div class="col-md-7">
                                                <textarea class="form-control" name="description" cols="30" rows="3" placeholder="Description">{$description2}</textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6">


                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>Partner</label>
                                            </div>
                                            <div class="col-md-7">
                                                {$dd_partner}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>File Content</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input required="" type="file" name="fileContent">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>File Preview</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="file" name="filePreview">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        <input type="hidden" name="id" value="{$ide}">
                                        <input type="submit" name="{$smt}" value="Submit" class="btn btn-success">
                                    </div>
                                </div>

                                <div class="col-md-12" style="margin-bottom: 20px">
                                	<hr>
                                	<div class="col-md-12" style="text-align:center"><b>Category</b></div>
                                	<hr>

                                	<div class="col-md-12">
                                        {$checkbox}
                                    </div>

                                </div>
                            </form>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-body" style="overflow-x:auto">
                            <table id="example2" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">Content Code</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">Title</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">Upload Date</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">Partner</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">Preview</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">URL</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {section name=row loop=$content_id}
                                    <tr>
                                        <td>{$content_code[row]}</td>
                                        <td>{$titles[row]}</td>
                                        <td>{$entry_date[row]}</td>
                                        <td>{$partner_id[row]}</td>
                                        <td>
                                            {if $preview[row] eq '0'}
                                                No Preview
                                            {else}
                                                <img src="{$preview[row]}" class="img img-responsive" style="width: 100px">
                                            {/if}                                            
                                        </td>
                                        <td>{$short_url[row]}</td>
                                        <td><a href="javascript:go_delete({$content_id[row]})" class="link-page"><i class="fa fa-trash"></i> Hapus</a></td>
                                    </tr>
                                    {/section}
                                </tbody>
                            </table>

                            {if $numrows ne ""}
                            <table width="85%" border="0" cellpadding="5" cellspacing="0" style="margin-bottom: 30px;">
                                <tr class="text">
                                    <td align="left" valign="top">
                                        <a href="content_download.php?begin={$first}&filter={$filter}"><img class="first" src="{$img_dir}bd_firstpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
                                        <a href="content_download.php?begin={$prev}&filter={$filter}"><img class="prev" src="{$img_dir}bd_prevpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="prev" /></a>{$dispfrom} - {$dispto} / {$numrows}
                                        <a href="content_download.php?begin={$next}&filter={$filter}"><img class="next" src="{$img_dir}bd_nextpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="next" /></a>
                                        <a href="content_download.php?begin={$last}&filter={$filter}"><img class="last" src="{$img_dir}bd_lastpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
                                    </td>
                                    <td align="right" class="text">Total Data: {$numrows}</td>
                                </tr>
                            </table>
                            {/if}
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->


    </div> 
    <footer class="main-footer">
        {$copyright}
    </footer>
</div>

{include file="footer2.html"}
