{include file="header2.html"}
<title>Cost Service</title>
<body class="hold-transition skin-blue sidebar-mini">
    {literal}
    <script type="text/javascript" language="JavaScript"> 
        <!-- 
        function go_delete(d,e) 
        { 
         var where_to= confirm("Yakin Anda akan menghapus ini?");
         var i;
         var j;
         i = d;
         j = e;
         if (where_to== true)
           window.location=i + j;
   } 
    //-->
</script>
<script LANGUAGE="JavaScript">
    <!--

    <!-- Begin
    function CheckAll()
    {
        var allInputs = document.getElementsByTagName("input")
        for (var i = 0; i < allInputs.length; i++) {
            if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
                allInputs[i].checked = true;
            } else continue;
        }
    }

    function UnCheckAll()
    {
        var allInputs = document.getElementsByTagName("input")
        for (var i = 0; i < allInputs.length; i++) {
            if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
                allInputs[i].checked = false;
            } else continue;
        }
    }
    // End -->
</script>
{/literal}
<div class="wrapper">

    {include file="menu2.html"}

    <div class="content-wrapper" style="min-height:0px;">

        <section class="content-header">
            <h1>Cost Service</h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- AREA CHART -->

                    <!-- <td width="16%" height="444" valign="top" background="{$img_dir}leftcollumbkg2.gif"><div align="left">
                        <td height="106" valign="center" background="{$img_dir}topbarbkg.gif"><div align="center" class="txt-title">{$title}</td> -->

                            <div class="box box-primary">
                                {$msg}
                                <div class="box-body">
                                    <form class="form-horizontal" action="" method="GET" name="add">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-3">SERVICE</label>
                                                <div class="col-md-8">
                                                    {$dd_service}
                                                </div>
                                            </div>
                                        </div> 
                                        
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-3">SHORTCODE</label>
                                                <div class="col-md-8">
                                                    {$dd_shortcode}                                                
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="col-md-5" style="width: 80px">
                                                    <label>TELCO</label>
                                                </div>
                                                <div class="col-md-4" style="width: 40%">
                                                    {$dd_telco}
                                                </div>
                                                <div class="col-md-3" style="padding-right: 0px; padding-left: 0px">
                                                    <button style="width:100%" name="submit" type="submit" class="btn btn-success">Submit</button>
                                                    <input type="hidden" name="active" value="report">
                                                    <input type="hidden" name="menu" value="Cost Service"> 
                                                </div>                      
                                            </div>
                                        </div>                             
                                    </form>
                                </div>
                                <div class="col-md-12">
                                    <strong style="color: #4183D7">COST SERVICE : [ SHORTCODE : {$sc} ] [ TELCO : {$tlc} ] [ Service : {$s_name} ]</strong>
                                </div>
                                <div class="box-body" style="overflow-x:auto">
                                    <table id="example2" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">APPID</th>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">DESCRIPTION</th>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">TELCO</th>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">SHORTCODE</th>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">COST NAME</th>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">COST AMOUNT</th>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">DELETE</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            {section name=row loop=$appid}
                                            <tr>
                                                <td style="text-align:center">{$appid[row]}</td>
                                                <td style="text-align:center">{$description[row]}</td>
                                                <td style="text-align:center">{$telco[row]}</td>
                                                <td style="text-align:center">{$shortcode[row]}</td>
                                                <td style="text-align:center">{$cost_name[row]}</td>
                                                <td style="text-align:center">{$cost_amount[row]|number_format}</td>
                                                <td style="text-align:center"><a href="javascript:go_delete('cost_service.php?action=delete&id=',{$id[row]})" class="link-page">DELETE</a></td>
                                            </tr>
                                            {/section}
                                            
                                            <tr bgcolor="#CCCCCC">
                                                <td style="text-align:center"><strong>TOTAL</strong></td>
                                                <td style="text-align:center"></td>
                                                <td style="text-align:center"></td>
                                                <td style="text-align:center"></td>
                                                <td style="text-align:center"></td>
                                                <td style="text-align:center"><strong>{$cost_tot|number_format}</strong></td>
                                                <td style="text-align:center"></td>             
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                    
                                    {if $numrows ne ""}
                                    <table width="70%" border="0" cellpadding="5" cellspacing="0" style="margin-bottom: 30px;">
                                        <tr class="text">
                                                <td align="left" valign="top">
                                                        <a href="cost_service.php?begin={$first}&filter={$filter}"><img class="first" src="{$img_dir}bd_firstpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
                                                        <a href="cost_service.php?begin={$prev}&filter={$filter}"><img class="prev" src="{$img_dir}bd_prevpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="prev" /></a>{$dispfrom} - {$dispto} / {$numrows}
                                                        <a href="cost_service.php?begin={$next}&filter={$filter}"><img class="next" src="{$img_dir}bd_nextpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="next" /></a>
                                                        <a href="cost_service.php?begin={$last}&filter={$filter}"><img class="last" src="{$img_dir}bd_lastpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
                                                </td>
                                                <td align="right" class="text">Total Data: {$numrows}</td>
                                        </tr>
                                    </table>
                                    {/if}
                                </div>
                            </div>
                            <!-- /.box --> 
                        </div>
                    </div>
                    <!-- /.row -->

                </section>
                <!-- /.content -->
                
                <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Add Cost</h3>
                                </div>
                                <form class="form-horizontal" style="margin-top:25px;" method="post" action="">

                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>Service</label>
                                                </div>
                                                <div class="col-md-7">
                                                    {$dd_service}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>TELCO</label>
                                                </div>
                                                <div class="col-md-7">
                                                    {$dd_telco}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>SHORTCODE</label>
                                                </div>
                                                <div class="col-md-7">
                                                    {$dd_shortcode}
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>COST NAME</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" name="cost_name" placeholder="Cost Name" value="{$cost_namee}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>COST AMOUNT</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" name="cost_amount" placeholder="Cost Name" value="{$cost_amounte}">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12">
                                            <button type="submit" name="app_add" class="btn btn-success">
                                                <i class="fa fa-plus"></i> Submit</button>
                                            <input type="reset" name="Reset" value="Reset" class="btn btn-warning">
                                            <input type="hidden" name="action" value="{$action}" class="text">
                                            <input type="hidden" name="id" value="{$id_edit}" class="text">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </section>
            <!-- /.content -->


            </div> 
            <footer class="main-footer">
                {$copyright}
            </footer>
        </div>

        {include file="footer2.html"}
