{include file="header2.html"}
<title>Daily Traffic</title>

<body class="hold-transition skin-blue sidebar-mini">
    {literal}
    <script type="text/javascript" language="JavaScript">
        <!--
        function go_delete(d,e)
        {
         var where_to= confirm("Yakin Anda akan menghapus ini?");
         var i;
         var j;
         i = d;
         j = e;
         if (where_to== true)
           window.location=i + j;
   }
//-->
</script>
<SCRIPT LANGUAGE="JavaScript">
    <!--

    <!-- Begin
    function CheckAll()
    {
        var allInputs = document.getElementsByTagName("input")
        for (var i = 0; i < allInputs.length; i++) {
            if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
                allInputs[i].checked = true;
            } else continue;
        }
    }

    function UnCheckAll()
    {
        var allInputs = document.getElementsByTagName("input")
        for (var i = 0; i < allInputs.length; i++) {
            if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
                allInputs[i].checked = false;
            } else continue;
        }
    }
// End -->
</script>
{/literal}
<div class="wrapper">

    {include file="menu2.html"}

    <div class="content-wrapper" style="min-height:0px;">

        <section class="content-header">
            <h1>Mo Incoming Log</h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <form class="form-horizontal" style="margin-top:25px;" method="get" action="">
                                <input type="hidden" name="active" value="report">
                                <input type="hidden" name="menu" value="Daily Traffic">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label>BULAN</label>
                                        </div>
                                        <div class="col-md-5">
                                            {$dd_month}
                                        </div>

                                        <div class="col-md-4">
                                            {$dd_year}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label>SHORTCODE</label>
                                        </div>
                                        <div class="col-md-9">
                                            {$dd_shortcode}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label>TELCO</label>
                                        </div>
                                        <div class="col-md-9">
                                            {$dd_telco}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-1">
                                            <label>SERVICE</label>
                                        </div> 
                                        <div style="margin-left:-10px" class="col-md-11">
                                            <div class="col-md-12">
                                                {$checkbox}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-body -->

                        <div class="col-md-12">
                            <strong style="color: #4183D7">DAILY TRAFFIC -- : [ Bulan : {$bulan_traffic} , Tahun : {$tahun_traffic} ] [ SHORTCODE : {$sc} ] [ TELCO : {$tlc} ] [ Service : {$s_name} ]</strong>
                        </div>

                        <div class="box-body" style="overflow-x:auto">
                            <table id="example1" class="table table-bordered table-striped" style="font-size: 14px">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">Tanggal</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">Total</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">Projection</th>
                                        <!--tanggal-->
                                        {if $is_today eq "ya"}
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">{$tgl_printt}</th>
                                        {/if}
                                        {section name=r loop=$tgl_print}
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">{$tgl_print[r]}</th>
                                        {/section}
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <!--MO-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">MO</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$mo_tot|number_format}</td>
                                        <td style="background-color:#646464; color:#fff"></td>
                                        {if $is_today eq "ya"}
                                        <td style="text-align: right;">{$mot|number_format}</td>
                                        {/if}
                                        {section name=rmo loop=$mo}
                                        <td style="text-align: right;">{$mo[rmo]|number_format}</td>
                                        {/section}

                                    </tr>

                                    <tr>
                                        <!--MO REG-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">MO REG</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$mo_reg_tot|number_format}</td>
                                        <td style="background-color:#646464; color:#fff"></td>
                                        {if $is_today eq "ya"}
                                        <td style="text-align: right;">{$mo_regt|number_format}</td>
                                        {/if}
                                        {section name=rmo_reg loop=$mo_reg}
                                        <td style="text-align: right;">{$mo_reg[rmo_reg]|number_format}</td>
                                        {/section}

                                    </tr>

                                    <tr>
                                        <!--MO UNREG-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">MO UNREG</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$mo_unreg_tot|number_format}</td>
                                        <td style="background-color:#646464; color:#fff"></td>
                                        {if $is_today eq "ya"}
                                        <td style="text-align: right;">{$mo_unregt|number_format}</td>
                                        {/if}
                                        {section name=rmo_unreg loop=$mo_unreg}
                                        <td style="text-align: right;">{$mo_unreg[rmo_unreg]|number_format}</td>
                                        {/section}

                                    </tr>

                                    <tr>
                                        <!--MT Delivered Firstpush-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">MT Delivered Firstpush</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$mt_ok_totf|number_format}</td>
                                        <td style="background-color:#646464; color:#fff"></td>
                                        {if $is_today eq "ya"}
                                        <td style="text-align: right;">{$mt_oktf|number_format}</td>
                                        {/if}
                                        {section name=rmt_okf loop=$mt_okf}
                                        <td style="text-align: right;">{$mt_okf[rmt_okf]|number_format}</td>
                                        {/section}
                                    </tr>

                                    <tr>
                                        <!--MT Rejected Firstpush-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">MT Rejected Firstpush</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$mt_nok_totf|number_format}</td>
                                        <td style="background-color:#646464; color:#fff"></td>
                                        {if $is_today eq "ya"}
                                        <td style="text-align: right;">{$mt_noktf|number_format}</td>
                                        {/if}
                                        {section name=rmt_nokf loop=$mt_nokf}
                                        <td style="text-align: right;">{$mt_nokf[rmt_nokf]|number_format}</td>
                                        {/section}
                                    </tr>

                                    <tr>
                                        <!--MT Total Firstpush-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">MT Total Firstpush</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$total_mt_totf|number_format}</td>
                                        <td style="background-color:#646464; color:#fff"></td>
                                        {if $is_today eq "ya"}
                                        <td style="text-align: right;">{$total_mttf|number_format}</td>
                                        {/if}
                                        {section name=rtotal_mtf loop=$total_mtf}
                                        <td style="text-align: right;">{$total_mtf[rtotal_mtf]|number_format}</td>
                                        {/section}
                                    </tr>

                                    <tr>
                                        <!--Persen Firstpush-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">Persentage Firstpush</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;"></td>
                                        <td style="background-color:#646464; color:#fff"></td>
                                        {if $is_today eq "ya"}
                                        <td style="text-align: right;">{$persentagetf|number_format:2:".":","}%</td>
                                        {/if}
                                        {section name=rpersentagef loop=$persentagef}
                                        <td style="text-align: right;">{$persentagef[rpersentagef]|number_format:2:".":","}%</td>
                                        {/section}
                                    </tr>

                                    <tr>
                                        <!--MT Delivered-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">MT Delivered</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$mt_ok_tot|number_format}</td>
                                        <td style="background-color:#646464; color:#fff"></td>
                                        {if $is_today eq "ya"}
                                        <td style="text-align: right;">{$mt_okt|number_format}</td>
                                        {/if}
                                        {section name=rmt_ok loop=$mt_ok}
                                        <td style="text-align: right;">{$mt_ok[rmt_ok]|number_format}</td>
                                        {/section}
                                    </tr>

                                    <tr>
                                        <!--MT Rejected-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">MT Rejected</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$mt_nok_tot|number_format}</td>
                                        <td style="background-color:#646464; color:#fff"></td>
                                        {if $is_today eq "ya"}
                                        <td style="text-align: right;">{$mt_nokt|number_format}</td>
                                        {/if}
                                        {section name=rmt_nok loop=$mt_nok}
                                        <td style="text-align: right;">{$mt_nok[rmt_nok]|number_format}</td>
                                        {/section}
                                    </tr>

                                    <tr>
                                        <!--MT Total-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">MT Total</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$total_mt_tot|number_format}</td>
                                        <td style="background-color:#646464; color:#fff"></td>
                                        {if $is_today eq "ya"}
                                        <td style="text-align: right;"><a href="" data-toggle="modal" data-target="#myModal" id='detail' data-detail='{$tahun_traffic}-{$bulan_traffic}-{$tgl_printt}&telco={$tlc}' title="Detail DN TELCO">{$total_mtt|number_format}</a></td>
                                        {/if}
                                        {section name=rtotal_mt loop=$total_mt}
                                        <td style="text-align: right;"><a href="" data-toggle="modal" data-target="#myModal" id='detail' data-detail='{$tahun_traffic}-{$bulan_traffic}-{$tgl_print[rtotal_mt]}&telco={$tlc}' title="Detail DN TELCO">{$total_mt[rtotal_mt]|number_format}</a></td>
                                        {/section}
                                    </tr>

                                    <tr>
                                        <!--Persentage Dailypush-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">Persentage Dailypush</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;"></td>
                                        <td style="background-color:#646464; color:#fff"></td>
                                        {if $is_today eq "ya"}
                                        <td style="text-align: right;">{$persentaget|number_format:2:".":","}%</td>
                                        {/if}
                                        {section name=rpersentage loop=$persentage}
                                        <td style="text-align: right;">{$persentage[rpersentage]|number_format:2:".":","}%</td>
                                        {/section}
                                    </tr>

                                    <tr>
                                        <!--Gross Rev Firstpush-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">Gross Rev Firstpush</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$gross_totf|number_format}</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$gross_projectionf|number_format}</td>
                                        {if $is_today eq "ya"}
                                        <td style="text-align: right;">{$grosstf|number_format}</td>
                                        {/if}
                                        {section name=rgrossf loop=$grossf}
                                        <td style="text-align: right;">{$grossf[rgrossf]|number_format}</td>
                                        {/section}
                                    </tr>

                                    <tr>
                                        <!--Net Rev Firstpushh-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">Net Rev Firstpush</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$net_totf|number_format}</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$net_projectionf|number_format}</td>
                                        {if $is_today eq "ya"}
                                        <td style="text-align: right;">{$nettf|number_format}</td>
                                        {/if}
                                        {section name=rnetf loop=$netf}
                                        <td style="text-align: right;">{$netf[rnetf]|number_format}</td>
                                        {/section}
                                    </tr>

                                    <tr>
                                        <!--Gross Rev Dailypush-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">Gross Rev Dailypush</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$gross_tot|number_format}</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$gross_projection|number_format}</td>
                                        {if $is_today eq "ya"}
                                        <td style="text-align: right;">{$grosst|number_format}</td>
                                        {/if}
                                        {section name=rgross loop=$gross}
                                        <td style="text-align: right;">{$gross[rgross]|number_format}</td>
                                        {/section}
                                    </tr>

                                    <tr>
                                        <!--NET Rev Dailypush-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">Net Rev Dailypush</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$net_tot|number_format}</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$net_projection|number_format}</td>
                                        {if $is_today eq "ya"}
                                        <td style="text-align: right;">{$nett|number_format}</td>
                                        {/if}
                                        {section name=rnet loop=$net}
                                        <td style="text-align: right;">{$net[rnet]|number_format}</td>
                                        {/section}
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="clear">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <div id="dynamic-content"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="clear" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</section>

{literal}
<script>
$('#detail').click(function(){
	$('#dynamic-content').empty();
	var q = $(this).attr('data-detail');
	$.get('detail_dn_telco.php?tgl='+q, function(data) {
        	$('#dynamic-content').append(data); 
    	});
});
$('#clear').click(function(){
        $('#dynamic-content').empty();
});
</script>

{/literal}

</div> 
<footer class="main-footer">
    {$copyright}
</footer>
</div>

{include file="footer2.html"}
