{include file="header.html"}
<body>
{literal}
<script type="text/javascript" language="JavaScript">
<!--
function go_delete(d,e)
{
 var where_to= confirm("Yakin Anda akan menghapus ini?");
 var i;
 var j;
 i = d;
 j = e;
 if (where_to== true)
   window.location=i + j;
}
//-->
</script>
<SCRIPT LANGUAGE="JavaScript">
<!--

<!-- Begin
function CheckAll()
{
	var allInputs = document.getElementsByTagName("input")
	for (var i = 0; i < allInputs.length; i++) {
		if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
			allInputs[i].checked = true;
		} else continue;
	}
}

function UnCheckAll()
{
	var allInputs = document.getElementsByTagName("input")
	for (var i = 0; i < allInputs.length; i++) {
		if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
			allInputs[i].checked = false;
		} else continue;
	}
}
// End -->
</script>
{/literal}
<table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0" class="tabel">
  <tr>
    <td height="106" valign="center" background="{$img_dir}topbarbkg.gif"><div align="center" class="txt-title">{$title}</td>
  </tr>
  <tr>
    <td height="435" valign="top"><table width="100%" height="91%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="16%" height="444" valign="top" background="{$img_dir}leftcollumbkg2.gif"><div align="left">
{include file="menu.html"}
        </div></td>
        <td width="95%" valign="top">
		  <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr height="20">
            <td width="97%">&nbsp;</td>
            <td width="3%">&nbsp;</td>
          </tr>
          <tr>
            <td height="401" valign="top"><div align="center">
            <!-- content begin -->
            	<div align="left" class="text">
            		<div align="left" class="text">
            		<strong>DAILY TRAFFIC</strong>
            	<br>
            	<br>
            	 <!-- Add -->
					  <a name="add">
					  <form name="add" method="get" action="">
						  <table width="1070" border="0" cellpadding="0" cellspacing="0" bgcolor="#000033">
						    <tr>
						      <td width="850"><table width="100%" height="100"  border="0" cellpadding="3" cellspacing="1">
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">BULAN</td>
						          <td><div align="left">
						            {$dd_month}
						            {$dd_year}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">SHORTCODE</td>
						          <td><div align="left">
						            {$dd_shortcode}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">TELCO</td>
						          <td><div align="left">
						            {$dd_telco}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">SERVICE</td>
						          <td><div align="left">
						            {$checkbox}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">&nbsp;</td>
						          <td><div align="left">
						            <input type="submit" name="submit" value="Submit" class="text">
						          </div></td>
						        </tr>
						      </table></td>
						    </tr>
						  </table>
						</form>
					  <!-- Add -->
					  	<br>
					  	<br>
					  	<!-- List -->
			        <table border="0" cellspacing="0" cellpadding="0">
						  	<tr>
								 <td><div align="left"><strong>DAILY TRAFFIC -- : [ Bulan : {$bulan_traffic} , Tahun : {$tahun_traffic} ] [ SHORTCODE : {$sc} ] [ TELCO : {$tlc} ] [ Service : {$s_name} ]</strong></div></td>
								 </tr>
								 <tr>
								 <td>&nbsp;</td>
								 </tr>
					  	</table>
							<table border="0" cellspacing="0" cellpadding="0">
						  	<tr bgcolor="#000033">
								 <td>
								 	<table border="0" cellpadding="3" cellspacing="1">
										<tr bgcolor="#006699" class="text">
											<td><div align="center" class="txt-menu"><strong>Tanggal</strong></div></td>
											<td><div align="center" class="txt-menu"><strong>Total</strong></div></td>
											<td><div align="center" class="txt-menu"><strong>Projection</strong></div></td>
											{if $is_today eq "ya"}<td><div align="center" class="txt-menu"><strong>{$tgl_printt}</strong></div></td>{/if}
											{section name=r loop=$tgl_print}
											<td><div align="center" class="txt-menu"><strong>{$tgl_print[r]}</strong></div></td>
											{/section}
										</tr>
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>MO</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$mo_tot|number_format}</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong></strong></div></td>
											{if $is_today eq "ya"}<td bgcolor="#FFFFFF"><div align="right" class="text">{$mot|number_format}</div></td>{/if}
											{section name=rmo loop=$mo}
											<td bgcolor="#FFFFFF"><div align="right" class="text">{$mo[rmo]|number_format}</div></td>
											{/section}
										</tr>
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>MO REG</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$mo_reg_tot|number_format}</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong></strong></div></td>
											{if $is_today eq "ya"}<td bgcolor="#FFFFFF"><div align="right" class="text">{$mo_regt|number_format}</div></td>{/if}
											{section name=rmo_reg loop=$mo_reg}
											<td bgcolor="#FFFFFF"><div align="right" class="text">{$mo_reg[rmo_reg]|number_format}</div></td>
											{/section}
										</tr>
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>MO UNREG</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$mo_unreg_tot|number_format}</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong></strong></div></td>
											{if $is_today eq "ya"}<td bgcolor="#FFFFFF"><div align="right" class="text">{$mo_unregt|number_format}</div></td>{/if}
											{section name=rmo_unreg loop=$mo_unreg}
											<td bgcolor="#FFFFFF"><div align="right" class="text">{$mo_unreg[rmo_unreg]|number_format}</div></td>
											{/section}
										</tr>
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>MT Delivered Firstpush</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$mt_ok_totf|number_format}</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong></strong></div></td>
											{if $is_today eq "ya"}<td bgcolor="#FFFFFF"><div align="right" class="text">{$mt_oktf|number_format}</div></td>{/if}
											{section name=rmt_okf loop=$mt_okf}
											<td bgcolor="#FFFFFF"><div align="right" class="text">{$mt_okf[rmt_okf]|number_format}</div></td>
											{/section}
										</tr>
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>MT Rejected Firstpush</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$mt_nok_totf|number_format}</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong></strong></div></td>
											{if $is_today eq "ya"}<td bgcolor="#FFFFFF"><div align="right" class="text">{$mt_noktf|number_format}</div></td>{/if}
											{section name=rmt_nokf loop=$mt_nokf}
											<td bgcolor="#FFFFFF"><div align="right" class="text">{$mt_nokf[rmt_nokf]|number_format}</div></td>
											{/section}
										</tr>
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>MT Total Firstpush</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$total_mt_totf|number_format}</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong></strong></div></td>
											{if $is_today eq "ya"}<td bgcolor="#FFFFFF"><div align="right" class="text">{$total_mttf|number_format}</div></td>{/if}
											{section name=rtotal_mtf loop=$total_mtf}
											<td bgcolor="#FFFFFF"><div align="right" class="text">{$total_mtf[rtotal_mtf]|number_format}</div></td>
											{/section}
										</tr>

										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>Persentage Firstpush</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong></strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong></strong></div></td>
											{if $is_today eq "ya"}<td bgcolor="#FFFFFF"><div align="right" class="text">{$persentagetf|number_format}%</div></td>{/if}
											{section name=rpersentagef loop=$persentagef}
											<td bgcolor="#FFFFFF"><div align="center" class="text">{$persentagef[rpersentagef]|number_format}%</div></td>
											{/section}
										</tr>



										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>MT Delivered</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$mt_ok_tot|number_format}</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong></strong></div></td>
											{if $is_today eq "ya"}<td bgcolor="#FFFFFF"><div align="right" class="text">{$mt_okt|number_format}</div></td>{/if}
											{section name=rmt_ok loop=$mt_ok}
											<td bgcolor="#FFFFFF"><div align="right" class="text">{$mt_ok[rmt_ok]|number_format}</div></td>
											{/section}
										</tr>
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>MT Rejected</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$mt_nok_tot|number_format}</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong></strong></div></td>
											{if $is_today eq "ya"}<td bgcolor="#FFFFFF"><div align="right" class="text">{$mt_nokt|number_format}</div></td>{/if}
											{section name=rmt_nok loop=$mt_nok}
											<td bgcolor="#FFFFFF"><div align="right" class="text">{$mt_nok[rmt_nok]|number_format}</div></td>
											{/section}
										</tr>
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>MT Total</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$total_mt_tot|number_format}</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong></strong></div></td>
											{if $is_today eq "ya"}<td bgcolor="#FFFFFF"><div align="right" class="text">{$total_mtt|number_format}</div></td>{/if}
											{section name=rtotal_mt loop=$total_mt}
											<td bgcolor="#FFFFFF"><div align="right" class="text">{$total_mt[rtotal_mt]|number_format}</div></td>
											{/section}
										</tr>
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>Persentage Dailypush</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong></strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong></strong></div></td>
											{if $is_today eq "ya"}<td bgcolor="#FFFFFF"><div align="right" class="text">{$persentaget|number_format}%</div></td>{/if}
											{section name=rpersentage loop=$persentage}
											<td bgcolor="#FFFFFF"><div align="center" class="text">{$persentage[rpersentage]|number_format}%</div></td>
											{/section}
										</tr>

										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>Gross Rev Firstpush</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$gross_totf|number_format}</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$gross_projectionf|number_format}</strong></div></td>
											{if $is_today eq "ya"}<td bgcolor="#CCCCCC"><div align="right" class="text"><strong>{$grosstf|number_format}</strong></div></td>{/if}
											{section name=rgrossf loop=$grossf}
											<td bgcolor="#CCCCCC"><div align="right" class="text"><strong>{$grossf[rgrossf]|number_format}</strong></div></td>
											{/section}
										</tr>
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>Net Rev Firstpush</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$net_totf|number_format}</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$net_projectionf|number_format}</strong></div></td>
											{if $is_today eq "ya"}<td bgcolor="#CCCCCC"><div align="right" class="text"><strong>{$nettf|number_format}</strong></div></td>{/if}
											{section name=rnetf loop=$netf}
											<td bgcolor="#CCCCCC"><div align="right" class="text"><strong>{$netf[rnetf]|number_format}</strong></div></td>
											{/section}
										</tr>


										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>Gross Rev Dailypush</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$gross_tot|number_format}</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$gross_projection|number_format}</strong></div></td>
											{if $is_today eq "ya"}<td bgcolor="#CCCCCC"><div align="right" class="text"><strong>{$grosst|number_format}</strong></div></td>{/if}
											{section name=rgross loop=$gross}
											<td bgcolor="#CCCCCC"><div align="right" class="text"><strong>{$gross[rgross]|number_format}</strong></div></td>
											{/section}
										</tr>
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>Net Rev Dailypush</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$net_tot|number_format}</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$net_projection|number_format}</strong></div></td>
											{if $is_today eq "ya"}<td bgcolor="#CCCCCC"><div align="right" class="text"><strong>{$nett|number_format}</strong></div></td>{/if}
											{section name=rnet loop=$net}
											<td bgcolor="#CCCCCC"><div align="right" class="text"><strong>{$net[rnet]|number_format}</strong></div></td>
											{/section}
										</tr>

										<!--
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>Total Gross Rev</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$grand_tot_gross|number_format}</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$gross_projection|number_format}</strong></div></td>
											{if $is_today eq "ya"}<td bgcolor="#CCCCCC"><div align="right" class="text"><strong>{$tot_gross|number_format}</strong></div></td>{/if}
											{section name=trgross loop=$tot_gross}
											<td bgcolor="#CCCCCC"><div align="right" class="text"><strong>{$tot_gross[trgross]|number_format}</strong></div></td>
											{/section}
										</tr>
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>Total Net Rev</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$grand_tot_net|number_format}</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$net_projection|number_format}</strong></div></td>
											{if $is_today eq "ya"}<td bgcolor="#CCCCCC"><div align="right" class="text"><strong>{$tot_nett|number_format}</strong></div></td>{/if}
											{section name=trnet loop=$tot_net}
											<td bgcolor="#CCCCCC"><div align="right" class="text"><strong>{$tot_net[trnet]|number_format}</strong></div></td>
											{/section}
										</tr>
										-->
							 </table>
								 </td>
								 </tr>
					  	</table>
							<!--Detail Subject-->
							{if $subject_detail eq "ya"}
							<br><br>
							<table border="0" cellspacing="0" cellpadding="0">
						  	<tr bgcolor="#fff">
								 <td>
								 	<table border="0" cellpadding="3" cellspacing="1">
										<tr bgcolor="#006699" class="text">
											<td><div align="center" class="txt-menu"><strong>SUBJECT</strong></div></td>
											<!--<td><div align="center" class="txt-menu"><strong>Total</strong></div></td>-->
											{if $is_today eq "ya"}<td><div align="center" class="txt-menu"><strong>{$tgl_printt}</strong></div></td>{/if}
											{section name=r loop=$tgl_print}
											<td><div align="center" class="txt-menu"><strong>{$tgl_print[r]}</strong></div></td>
											{/section}
										</tr>
										<tr bgcolor="#ccc" class="text">
											<td><div align="center" class="text"><strong>SUBJECT TOTAL</strong></div></td>
											<!--<td><div align="center" class="text"><strong></strong></div></td>-->
											{if $is_today eq "ya"}<td><div align="center" class="txt-menu"><strong></strong></div></td>{/if}
											{section name=r loop=$tgl_print}
											<td><div align="center" class="txt-menu"><strong></strong></div></td>
											{/section}
										</tr>
										{foreach from=$subject_totf key=servicetot item=itot}
										<tr bgcolor="#ccc" class="text">
											<td ><div align="left">{$servicetot}</div></td>
											<!--<td ><div align="right">xxx</div></td>-->
											<td ><div align="right">{$subject_totft[$servicetot]|number_format}</div></td>
											{foreach from=$itot key=tgltot item=jumlahtot}
											<td ><div align="right">{$jumlahtot|number_format}</div></td>
											{/foreach}
										</tr>
										{/foreach}
										<tr bgcolor="#ccc" class="text">
											<td><div align="center" class="text"><strong>SUBJECT DELIVERED</strong></div></td>
											<!--<td><div align="center" class="text"><strong></strong></div></td>-->
											{if $is_today eq "ya"}<td><div align="center" class="txt-menu"><strong></strong></div></td>{/if}
											{section name=r loop=$tgl_print}
											<td><div align="center" class="txt-menu"><strong></strong></div></td>
											{/section}
										</tr>
										{foreach from=$subject_dlvf key=service item=i}
										<tr bgcolor="#ccc" class="text">
											<td ><div align="left">{$service}</div></td>
											<!--<td ><div align="right">xxx</div></td>-->
											<td ><div align="right">{$subject_dlvft[$service]|number_format}</div></td>
											{foreach from=$i key=tgl item=jumlah}
											<td ><div align="right">{$jumlah|number_format}</div></td>
											{/foreach}
										</tr>
										{/foreach}
										<tr bgcolor="#ccc" class="text">
											<td><div align="center" class="text"><strong>SUBJECT REJECTED</strong></div></td>
											<!--<td><div align="center" class="text"><strong></strong></div></td>-->
											{if $is_today eq "ya"}<td><div align="center" class="txt-menu"><strong></strong></div></td>{/if}
											{section name=r loop=$tgl_print}
											<td><div align="center" class="txt-menu"><strong></strong></div></td>
											{/section}
										</tr>
										{foreach from=$subject_ref key=servicere item=ire}
										<tr bgcolor="#ccc" class="text">
											<td ><div align="left">{$servicere}</div></td>
											<!--<td ><div align="right">xxx</div></td>-->
											<td ><div align="right">{$subject_reft[$servicere]|number_format}</div></td>
											{foreach from=$ire key=tglre item=jumlahre}
											<td ><div align="right">{$jumlahre|number_format}</div></td>
											{/foreach}
										</tr>
										{/foreach}
							 </table>
								 </td>
								 </tr>
					  	</table>
					  	{/if}
							<!--Detail Subject-->
					  <!-- List -->
					  	<br/>
						   <table width="100%" height="100%"  border="0" cellpadding="3" cellspacing="1">
									<tr class="txt-menu">
										<td><div align="left"><img src="http://103.29.214.133/sms/engine/reporting/chart_daily_traffic.php{$php_query_string}" /></div></td>
									</tr>
							 </table>
            	</div>
            <!-- content end -->
            </div></td>
            <td>&nbsp;</td>
          </tr>
{include file="copyright.html"}
        </table>
		</td>
      </tr>
    </table></td>
  </tr>
</table>

{include file="footer.html"}
