{include file="header2.html"}
<title>DN Log</title>

<body class="hold-transition skin-blue sidebar-mini">
    {literal}
    <script type="text/javascript" language="JavaScript">
        <!-- 
        function go_delete(d, e)
        {
            var where_to = confirm("Yakin Anda akan menghapus ini?");
            var i;
            var j;
            i = d;
            j = e;
            if (where_to == true)
                window.location = i + j;
        }
        //-->
    </script>
    {/literal}
    <div class="wrapper">

        {include file="menu2.html"}

        <div class="content-wrapper" style="min-height:0px;">

            <section class="content-header">
                <h1>DN Incoming Logs</h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <form class="form-horizontal" style="margin-top:25px;" method="get" action="">

                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>MSISDN</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" name="msisdn2" class="form-control"  placeholder="MSISDN" value="{$msisdn2}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>TELCO</label>
                                                </div>
                                                <div class="col-md-7">
                                                    {$dd_telco}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>SHORTCODE</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" name="shortcode2" class="form-control"  placeholder="Shortcode" value="{$shortcode2}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>TRX ID</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" name="trx_id2" class="form-control"  placeholder="Trx ID" value="{$trx_id2}">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>SID</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" name="sid2" class="form-control"  placeholder="SID" value="{$sid2}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>STATUS</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" name="status2" class="form-control"  placeholder="Status" value="{$status2}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>LIMIT</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" name="limit" class="form-control"  placeholder="Limit">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">

                                                <div class="form-group">
                                                    <div class="col-md-5">
                                                        <label>TIME</label>
                                                    </div>
                                                    <div class="col-md-7" style="padding-left:0px">
                                                        <div class="col-md-7">
                                                            {$dd_month}
                                                        </div>
                                                        <div class="col-md-5" style="padding-right:0px">
                                                            {$dd_year}
                                                        </div>
                                                    </div>
                                                </div>

                                        </div>

                                        <div class="col-md-12">
                                            <button type="submit" name="submit" class="btn btn-success">Submit</button> 
					    <input type="hidden" name="active" value="report">
					    <input type="hidden" name="menu" value="DN LOG"> 
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-body" style="overflow-x:auto">
                                <table id="example1" class="table table-bordered table-striped" style="font-size: 14px">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">MSISDN</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">TELCO</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">SHORTCODE</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">TRX ID</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">SID</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">STATUS</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">DATETIME</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {section name=row loop=$msisdn}
                                        <tr>
                                            <td><a href="mt_log.php?msisdn2={$msisdn[row]}&active=report&menu=MT LOG" class="link-page">{$msisdn[row]}</a></td>
                                            <td style="text-align:center;">{$telco[row]}</td>
                                            <td style="text-align:center;">{$shortcode[row]}</td>
                                            <td>{$trx_id[row]}</td>
                                            <td style="text-align:center;">{$sid[row]}</td>
                                            <td style="text-align:center;">{$status[row]}</td>
                                            <td>{$datetime[row]}</td>
                                        </tr>
                                        {/section}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </section>



        </div> 
        <footer class="main-footer">
            {$copyright}
        </footer>
    </div>

{include file="footer2.html"}
