{include file="header2.html"}
<title>Keyword</title>
{literal}
<script type="text/javascript" language="JavaScript"> 
    <!-- 
    function go_delete(d,e) 
    { 
       var where_to= confirm("Yakin Anda akan menghapus ini?");
       var i;
       var j;
       i = d;
       j = e;
       if (where_to== true)
         window.location=i + j;
 } 
//-->
</script>
{/literal}

<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">

        {include file="menu2.html"}

        <div class="content-wrapper" style="min-height:0px;">

            <section class="content-header">
                <h1>Keyword</h1>
            </section>

            <!-- Main content -->
            <section class="content" style="min-height:0px">
                <div class="row">
                    <div class="col-md-12">
                        <!-- AREA CHART -->
                        <div class="box box-primary">
                            <div class="box-body">

                                <div class="col-md-6">
                                    <form class="form-horizontal" name="filter" action="" method="GET">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button name="searchbtn" class="btn btn-warning" type="submit">
                                                    <i class="fa fa-search" style="margin-right:5px;"></i>Search
                                                </button>
                                            </div>
                                            <input type="text" class="form-control" name="filter" value="{$filter}" placeholder="Type what you want to search">
                                            <input type="hidden" name="active" value="report">
                                            <input type="hidden" name="menu" value="Keyword">
                                        </div>
                                    </form>
                                </div>
                                <b style="color:red;">{$msg}</b>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-body" style="overflow-x:auto">
                                <table id="example1" class="table table-bordered table-striped" style="font-size: 14px">
                                    <thead>
                                        <tr>
                                           <th style="text-align: center;background-color: #4183D7;color: #fff;">ACTION</th>
                                           <th style="text-align: center;background-color: #4183D7;color: #fff;">KEYWORD</th>
                                           <th style="text-align: center;background-color: #4183D7;color: #fff;">TELCO</th>
                                           <th style="text-align: center;background-color: #4183D7;color: #fff;">SHORTCODE</th>
                                           <th style="text-align: center;background-color: #4183D7;color: #fff;">APP ID</th>
                                           <th style="text-align: center;background-color: #4183D7;color: #fff;">ENTRY DATE</th>
                                       </tr>
                                   </thead>

                                   <tbody>
                                    {section name=row loop=$appid}
                                    <tr>
                                        <td style="text-align:center;">
                                            <a href="keyword.php?action=edit&id={$id[row]}&active=report&menu=Keyword"><i class="fa fa-pencil-square-o"></i><small>Edit</small></a>
                                            <br>
                                            <a href="javascript:go_delete('keyword.php?action=delete&id=',{$id[row]})"><i class="fa fa-trash"></i><small>Delete</small></a>
                                        </td>
                                        <td>{$keyword[row]}</td>
                                        <td>{$telco[row]}</td>
                                        <td>{$shortcode[row]}</td>
                                        <td>{$appid[row]}</td>
                                        <td>{$datetime[row]}</td>
                                    </tr>
                                    {/section}
                                </tbody>
                            </table>

                            {if $numrows ne ""}
                            <table width="85%" border="0" cellpadding="5" cellspacing="0" style="margin-bottom: 30px;">
                               <tr class="text">
                                  <td align="left" valign="top">
                                     <a href="keyword.php?begin={$first}&filter={$filter}"><img class="first" src="{$img_dir}bd_firstpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
                                     <a href="keyword.php?begin={$prev}&filter={$filter}"><img class="prev" src="{$img_dir}bd_prevpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="prev" /></a>{$dispfrom} - {$dispto} / {$numrows}
                                     <a href="keyword.php?begin={$next}&filter={$filter}"><img class="next" src="{$img_dir}bd_nextpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="next" /></a>
                                     <a href="keyword.php?begin={$last}&filter={$filter}"><img class="last" src="{$img_dir}bd_lastpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
                                 </td>
                                 <td align="right" class="text">Total Data: {$numrows}</td>
                             </tr>
                         </table>
                         {/if}
                     </div>
                 </div>
             </div>
         </div>
     </section>

     <!-- Main content -->
     <section class="content" style="min-height:0px">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="box-header with-border">
                            <h3 class="box-title">Add Keyword</h3>
                        </div>
                        <form class="form-horizontal" style="margin-top:25px;" method="post" action="">

                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <label>Keyword</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" name="keyword" class="form-control"  placeholder="KEYWORD" value="{$keyword_edit}"">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <label>Telco</label>
                                        </div>
                                        <div class="col-md-7">
                                            {$dd_telco}
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <label>App ID</label>
                                        </div>
                                        <div class="col-md-7">
                                            {$dd_service}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                  <div class="form-group">
                                   <div class="col-md-5">
                                      <label>Shortcode</label>
                                  </div>
                                  <div class="col-md-4">
                                      {$dd_shortcode}
                                  </div>
                                  <div class="col-md-3">
                                    <button style="width:100%" name="app_add" value="Submit" type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Submit</button>
                                     <input type="hidden" name="action" value="{$action}" class="text">
                                    <input type="hidden" name="id" value="{$id_edit}" class="text"> 
                                 </div>						
                             </div> 
                         </div>
                     </div>
                 </form>
             </div>
             <!-- /.box-body -->
         </div>
     </div>
 </div>
 <!-- /.row -->

</section>
<!-- /.content -->


</div> 
<footer class="main-footer">
    {$copyright}
</footer>
</div>

{include file="footer2.html"}
