{include file="header2.html"}
<title>SMS Getway Dashboard</title>
<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">

        {include file="menu2.html"}

        <div class="content-wrapper">
		<!-- Main content -->
                <section class="content">
                    <!-- Main row -->
                    <div class="row">

                        <!-- Main content -->
                        <section class="content">
                            <div class="callout callout-info">
                                <p style="text-align: center;font-size: 20px;">Selamat Datang di CMS Admin SMS Gateway</p>
                            </div>
                        </section>
                        <!-- /.content -->


                    </div>
                    <!-- /.row (main row) -->

                </section>
                <!-- /.content -->		
        </div>
        <footer class="main-footer">
            {$copyright}
        </footer>
    </div>

    {include file="footer2.html"}