{include file="header2.html"}
<title>Application</title>
<body class="hold-transition skin-blue sidebar-mini">
    {literal}
    <script type="text/javascript" language="JavaScript"> 
        <!-- 
        function go_delete(i) 
        { 
           var where_to= confirm("Yakin Anda akan menghapus content ini?");
           var a;
           a = i;

           if (where_to== true)
            window.location= "manage_user.php?active=user&menu=Manage User&di=delete&uname=" + a;
     } 
//-->
</script>
{/literal}
<div class="wrapper">

    {include file="menu2.html"}

    <div class="content-wrapper" style="min-height:0px;">

        <section class="content-header">
            <h1>Manage User</h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- AREA CHART -->
                    <div class="box box-primary">
                        <div class="box-body">
                            <strong style="color: red">{$msg}</strong>
                            <div class="col-md-6">
                                <form class="form-horizontal" name="filter" action="" method="GET">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button name="searchbtn" class="btn btn-warning" type="submit">
                                                <i class="fa fa-search" style="margin-right:5px;"></i>Search
                                            </button>
                                        </div>
                                        <input type="hidden" name="active" value="user">
                                        <input type="hidden" name="menu" value="Manage User">
                                        <input type="text" class="form-control" name="filter" value="{$filter}" placeholder="Type  username what you want to search">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-body" style="overflow-x:auto">
                            <table id="example1" class="table table-bordered table-striped" style="font-size: 14px">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">ACTION</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">USERNAME</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">TELCO</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">APP ID</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">MENU</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">LAST LOGIN</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {section name=row loop=$datauser}
                                    <tr>
                                        <td style="text-align:center;">
                                            <a href="edit_user.php?di=edit&uname={$username[row]}"><i class="fa fa-pencil-square-o"></i><small>Edit</small></a>
                                            <br>
                                            <a href="javascript:go_delete('{$username[row]}')"><i class="fa fa-trash"></i><small>Delete</small></a>
                                        </td>
                                        <td>{$username[row]}</td>
                                        <td>{$telco[row]}</td>
                                        <td>{$appid[row]}</td>
                                        <td>{$menu_module[row]}</td>
                                        <td>{$last_login[row]}</td>
                                    </tr>
                                    {/section}
                                </tbody>
                            </table>

                            {if $numrows ne ""}
                            <table width="85%" border="0" cellpadding="5" cellspacing="0" style="margin-bottom: 30px;">
                             <tr class="text">
                              <td align="left" valign="top">
                                <a href="manage_user.php?begin={$first}&filter={$filter}"><img class="first" src="{$img_dir}bd_firstpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
                                <a href="manage_user.php?begin={$prev}&filter={$filter}"><img class="prev" src="{$img_dir}bd_prevpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="prev" /></a>{$dispfrom} - {$dispto} / {$numrows}
                                <a href="manage_user.php?begin={$next}&filter={$filter}"><img class="next" src="{$img_dir}bd_nextpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="next" /></a>
                                <a href="manage_user.php?begin={$last}&filter={$filter}"><img class="last" src="{$img_dir}bd_lastpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
                            </td>
                            <td align="right" class="text">Total Data: {$numrows}</td>
                        </tr>
                    </table>
                    {/if}
                </div>
            </div>
        </div>
    </div>
</section>
</div> 
<footer class="main-footer">
    {$copyright}
</footer>
</div>

{include file="footer2.html"}
