{include file="header2.html"}
<title>Market Code</title>
<body class="hold-transition skin-blue sidebar-mini">
    {literal}
    <script type="text/javascript" language="JavaScript">
        function submit_form() {
            document.frmView.submit()
        }

        function go_delete(code) { 
            console.log(code);
            var where_to= confirm("Yakin Anda akan menghapus content ini?");

            if (where_to== true) {
                window.location= "market_code.php?active=download&menu=Market Code&deletemarketcode=" + code;
            }
       }

        function CheckAll() {
            var allInputs = document.getElementsByTagName("input")
            for (var i = 0; i < allInputs.length; i++) {
                if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
                    allInputs[i].checked = true;
                } else continue;
            }
        }

        function UnCheckAll() {
            var allInputs = document.getElementsByTagName("input")
            for (var i = 0; i < allInputs.length; i++) {
                if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
                    allInputs[i].checked = false;
                } else continue;
            }
        }

        $(function () {
            $("#getCntnDnld").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        dataType: "json",
                        type: 'GET',
                        url: "../reporting2/getContentDownload.php?q=" + request.term,
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: (item.code + ' - ' + item.singer + ' - ' + item.title).toUpperCase(),
                                    value: (item.code + ' - ' + item.singer + ' - ' + item.title).toUpperCase()
                                };
                            }));
                            $("#idcontent").val(data[0].id);
                            console.log(data);
                        },
                        error: function (data) {
                            console.log('error : ' + data);
                        }
                    });
                },
                minLength: 1,
                open: function () {},
                close: function () {},
                focus: function (event, ui) {},
                select: function (event, ui) {
                    console.log(ui);
                }
            });
        });
// End -->
</script>

{/literal}
<div class="wrapper">

    {include file="menu2.html"}

    <div class="content-wrapper" style="min-height:0px;">

        <section class="content-header">
            <h1>Market Code</h1> 
            <b style="color:red">{$msg}</b>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- AREA CHART -->
                    <div class="box box-primary">
                        <div class="box-body">
                            <form class="form-horizontal" name="form1" action="" method="POST">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label>Content Code</label>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                                <input require id="getCntnDnld" name="code" type="text" class="form-control" placeholder="Search Content code, title or singer">
                                                <input type="hidden" name="idcontent" id="idcontent">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label>Media</label>
                                        </div> 
                                        <div class="col-md-10">
                                            {$checkbox}
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-12">

                                    <div class="col-md-2 col-md-offset-2">
                                        <input type="hidden" name="id" value="{$ide}">
                                        <input type="submit" name="q" value="Submit" class="btn btn-success">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-body" style="overflow-x:auto">
                            <table id="example2" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">Market Code</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">Content Code</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">Media</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {section name=row loop=$market_id}
                                    <tr>
                                        <td style="text-align: center">{$market_code[row]}</td>
                                        <td style="text-align: center">{$content_code[row]}</td>
                                        <td style="text-align: center">{$media_id[row]}</td>
                                        <td style="text-align: center"><a href="javascript:go_delete('{$market_id[row]}')"><i class="fa fa-trash"></i><small>Delete</small></a></td>
                                    </tr>
                                    {/section}
                                </tbody>
                            </table>

                            {if $numrows ne ""}
                            <table width="85%" border="0" cellpadding="5" cellspacing="0" style="margin-bottom: 30px;">
                                <tr class="text">
                                    <td align="left" valign="top">
                                        <a href="market_code.php?begin={$first}&filter={$filter}"><img class="first" src="{$img_dir}bd_firstpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
                                        <a href="market_code.php?begin={$prev}&filter={$filter}"><img class="prev" src="{$img_dir}bd_prevpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="prev" /></a>{$dispfrom} - {$dispto} / {$numrows}
                                        <a href="market_code.php?begin={$next}&filter={$filter}"><img class="next" src="{$img_dir}bd_nextpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="next" /></a>
                                        <a href="market_code.php?begin={$last}&filter={$filter}"><img class="last" src="{$img_dir}bd_lastpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
                                    </td>
                                    <td align="right" class="text">Total Data: {$numrows}</td>
                                </tr>
                            </table>
                            {/if}
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->


    </div> 
    <footer class="main-footer">
        {$copyright}
    </footer>
</div>

{include file="footer2.html"}
