<table width="90%" height="100%"  border="0" cellpadding="0" cellspacing="0">
<tr>
  <td height="19">&nbsp;</td>
</tr>
<tr>
  <td height="305" valign="top"><div align="center">
    <table width="95%"  border="0" cellpadding="0" cellspacing="0" class="tabel">
      <tr>
        <td height="20" bgcolor="#0B5688"><div align="center" class="txt-menu">::: REPORTING ::: </div></td>
      </tr>
	  {$menu_html}
	  <tr>
        <td height="20" bgcolor="#0B5688"><div align="center" class="txt-menu">::: SETTING ::: </div></td>
      </tr>
      <tr>
        <td height="20"><div align="center"><a href="change_password.php" class="link1">:: Change Password :: </a></div></td>
      </tr>
      <tr>
        <td height="20"><div align="center"><a href="logout.php" class="link1">:: Logout :: </a></div></td>
      </tr>
    </table>
    </div></td>
</tr>
<tr>
  <td height="19">&nbsp;</td>
</tr>
</table>