{include file="header.html"}
<body>
{literal}
<script type="text/javascript" language="JavaScript"> 
<!-- 
function go_delete(d,e) 
{ 
 var where_to= confirm("Yakin Anda akan menghapus ini?");
 var i;
 var j;
 i = d;
 j = e;
 if (where_to== true)
   window.location=d + e;
} 
//-->
</script>
{/literal}
<table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0" class="tabel">
  <tr>
    <td height="106" valign="center" background="{$img_dir}topbarbkg.gif"><div align="center" class="txt-title">{$title}</td>
  </tr>
  <tr>
    <td height="435" valign="top"><table width="100%" height="91%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="16%" height="444" valign="top" background="{$img_dir}leftcollumbkg2.gif"><div align="left">
{include file="menu.html"}
        </div></td>
        <td width="84%" valign="top">
		  <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr height="20">
            <td width="97%">&nbsp;</td>
            <td width="3%">&nbsp;</td>
          </tr>
          <tr>
            <td height="401" valign="top"><div align="center">
            <!-- content begin -->
            	<div align="left" class="text">
            	<!-- Description -->
            	<strong>MO Incoming Logs</strong>
            	<br>
            	<br>
            	 <!-- Add -->
					  <a name="add">
					  <form name="add" method="get" action="">
						  <table width="392" border="0" cellpadding="0" cellspacing="0" bgcolor="#000033">
						    <tr>
						      <td width="392"><table width="100%" height="100"  border="0" cellpadding="3" cellspacing="1">
						        <tr bgcolor="#FFFFFF">
						          <td width="40%" bgcolor="#9DC1F5">MO Origin</td>
						          <td width="49%"><div align="left">
						            <input type="text" name="mo_origin2" class="text" border="0" value="{$mo_origin2}">
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">APPID</td>
						          <td><div align="left">
						            <input type="text" name="appid2" class="text" value="{$appid2}">
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">MSISDN</td>
						          <td><div align="left">
						            <input type="text" name="msisdn2" class="text" value="{$msisdn2}">
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">TELCO</td>
						          <td><div align="left">
						            {$dd_telco}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">SHORTCODE</td>
						          <td><div align="left">
						            <input type="text" name="shortcode2" class="text"  value="{$shortcode2}">
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">TRX ID</td>
						          <td><div align="left">
						            <input type="text" name="trx_id2" class="text"  value="{$trx_id2}">
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">SESSION ID</td>
						          <td><div align="left">
						            <input type="text" name="session_id2" class="text"  value="{$session_id2}">
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">LIMIT</td>
						          <td><div align="left">
						            <input type="text" name="limit" class="text"  value="20">
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">TIME</td>
						          <td><div align="left">
						            {$dd_month}
						            {$dd_year}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">&nbsp;</td>
						          <td><div align="left">
						            <input type="submit" name="app_add" value="Submit" class="text">
						          </div></td>
						        </tr>
						      </table></td>
						    </tr>
						  </table>
						</form>
					  <!-- Add -->
			        <!-- Description -->
			        <br>
			        <br>
			        <!-- List -->
			        <table border="0" cellspacing="0" cellpadding="0">
						 <tr>
						   <td bgcolor="#000033">
						    	<table width="100%" height="100%"  border="0" cellpadding="3" cellspacing="1">
								<tr bgcolor="#006699" class="txt-menu">
									<td width="100"><div align="center"><strong>MO ORIGIN</strong></div></td>
									<td width="150"><div align="center"><strong>APPID</strong></div></td>
									<td width="150"><div align="center"><strong>MSISDN</strong></div></td>
									<td width="100"><div align="center"><strong>PREPAID</strong></div></td>
									<td width="100"><div align="center"><strong>SMS</strong></div></td>
									<td width="100"><div align="center"><strong>TELCO</strong></div></td>
									<td width="100"><div align="center"><strong>SHORTCODE</strong></div></td>
									<td width="100"><div align="center"><strong>TRX ID</strong></div></td>
									<td width="100"><div align="center"><strong>TRX DATE</strong></div></td>
									<td width="100"><div align="center"><strong>SESSION ID</strong></div></td>
									<td width="100"><div align="center"><strong>DATETIME</strong></div></td>
								</tr>
{section name=row loop=$msisdn}
								<tr bgcolor="{$warna[row]}" class="text">
									<td ><div align="center">{$mo_origin[row]}</div></td>
									<td ><div align="center">{$appid[row]}</div></td>
									<td ><a href="mt_log_partner.php?msisdn2={$msisdn[row]}" class="link-page">{$msisdn[row]}</a></td>
									<td ><div align="center">{$prepaid[row]}</div></td>
									<td >{$sms[row]}</td>
									<td ><div align="center">{$telco[row]}</div></td>
									<td ><div align="center">{$shortcode[row]}</div></td>
									<td >{$trx_id[row]}</td>
									<td >{$trx_date[row]}</td>
									<td ><a href="mt_log_partner.php?session_id2={$session_id[row]}" class="link-page">{$session_id[row]}</a></td>
									<td >{$datetime[row]}</td>
								</tr>
{/section}
							 </table>
						   </td>
						 </tr>
					  </table>
					  <!-- List -->
					  <br>
            	</div>
            <!-- content end -->
            </div></td>
            <td>&nbsp;</td>
          </tr>
{include file="copyright.html"}
        </table>
		</td>
      </tr>
    </table></td>
  </tr>
</table>

{include file="footer.html"}