{include file="header.html"}
<body>
{literal}
<script type="text/javascript" language="JavaScript">
<!--
function go_delete(d,e)
{
 var where_to= confirm("Yakin Anda akan menghapus ini?");
 var i;
 var j;
 i = d;
 j = e;
 if (where_to== true)
   window.location=i + j;
}
//-->
</script>
{/literal}
<table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0" class="tabel">
  <tr>
    <td height="106" valign="center" background="{$img_dir}topbarbkg.gif"><div align="center" class="txt-title">{$title}</td>
  </tr>
  <tr>
    <td height="435" valign="top"><table width="100%" height="91%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="16%" height="444" valign="top" background="{$img_dir}leftcollumbkg2.gif"><div align="left">
{include file="menu.html"}
        </div></td>
        <td width="84%" valign="top">
		  <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr height="20">
            <td width="97%">&nbsp;</td>
            <td width="3%">&nbsp;</td>
          </tr>
          <tr>
            <td height="401" valign="top"><div align="center">
            <!-- content begin -->
            	<div align="left" class="text">
            		<div align="left" class="text">
            		<strong>MO STAT</strong>
            	<br>
            	<br>
            	 <!-- Add -->
					  <a name="add">
					  <form name="add" method="get" action="">
						  <table width="392" border="0" cellpadding="0" cellspacing="0" bgcolor="#000033">
						    <tr>
						      <td width="392"><table width="100%" height="100"  border="0" cellpadding="3" cellspacing="1">
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">TANGGAL</td>
						          <td><div align="left">
						            <input name="tgl2" type="text" class="text" id="a" value="{$tgl2}"><input name="reset" type="reset" class="text" onclick="return showCalendar('a', '%Y-%m-%d', '24', true);" value=" ... ">
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">SHORTCODE</td>
						          <td><div align="left">
						            {$dd_shortcode}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">TELCO</td>
						          <td><div align="left">
						            {$dd_telco}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">SERVICE</td>
						          <td><div align="left">
						            {$dd_service}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">&nbsp;</td>
						          <td><div align="left">
						            <input type="submit" name="submit" value="Submit" class="text">
						          </div></td>
						        </tr>
						      </table></td>
						    </tr>
						  </table>
						</form>
					  <!-- Add -->
					  	<br>
					  	<table border="0" cellspacing="0" cellpadding="0">
								 <tr>
								 <td><div align="left"><strong>MO STAT : [ Tanggal : {$tgl2} ] [ SHORTCODE : {$sc} ] [ TELCO : {$tlc} ] [ Service : {$s_name} ]</strong></div></td>
								 </tr>
								 <tr>
								 <td>&nbsp;</td>
								 </tr>
								 <tr>
								   <td bgcolor="#000033">
								    	<table width="100%" height="100%"  border="0" cellpadding="3" cellspacing="1">
											<tr bgcolor="#9DC1F5">
												<th align="center" >JAM</th>
												<th align="center" >MO REG</th>
												<th align="center" >MO UNREG</th>
												<th align="center" >MO TOTAL</th>
											</tr>
		{section name=p loop=$i}
											<tr bgcolor="#FFFFFF">
												<td align="center">{$fix_jam[p]}</td>
												<td align="center">{$t_reg[p]}</td>
												<td align="center">{$t_unreg[p]}</td>
												<td align="center">{$total_reg_unreg[p]|number_format}</td>

											</tr>
		{/section}
									 		<tr bgcolor="#FFFFFF">
												<td align="center"><strong>TOTAL</strong></td>
												<td align="center"><strong>{$total_reg|number_format}</strong></td>
												<td align="center"><strong>{$total_unreg|number_format}</strong></td>
												<td align="center"><strong>{$tot_total_reg_unreg|number_format}</strong></td>
											</tr>
									 </table>
								   </td>
								 </tr>
							  </table>
            	</div>
            	<br/>
              <!--
							  <table width="100%" height="100%"  border="0" cellpadding="3" cellspacing="1">
									<tr class="txt-menu">
										<td><div align="left"><img src="http://103.29.214.133/sms/engine/reporting/chart_mo_reg.php?submit={$submit}&tgl2={$tgl2}&shortcode={$shortcode}&telco={$telco}&service={$service}" /></div></td>
									</tr>
								 </table>
               -->
            <!-- content end -->
            </div></td>
            <td>&nbsp;</td>
          </tr>
{include file="copyright.html"}
        </table>
		</td>
      </tr>
    </table></td>
  </tr>
</table>

{include file="footer.html"}
