{include file="header2.html"}
<title>MO Reg</title>

<body class="hold-transition skin-blue sidebar-mini">
    {literal}
    <script type="text/javascript" language="JavaScript">
        <!--
        function go_delete(d, e)
        {
            var where_to = confirm("Yakin Anda akan menghapus ini?");
            var i;
            var j;
            i = d;
            j = e;
            if (where_to == true)
                window.location = i + j;
        }
        //-->
    </script>
    {/literal}
    <div class="wrapper">

        {include file="menu2.html"}

        <div class="content-wrapper" style="min-height:0px;">

            <section class="content-header">
                <h1>Mo REG</h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <form class="form-horizontal" name="add" style="margin-top:25px;" method="get" action="">

                                    <div class="col-md-6">
                                        <div class="col-md-12">

                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>TANGGAL</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input name="tgl2" type="text" class="form-control col-md-10" id="a" value="{$tgl2}" style="width:85%"><input name="reset" type="reset" class="text" onclick="return showCalendar('a', '%Y-%m-%d', '24', true);" value=" ... ">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>SHORTCODE</label>
                                                </div>
                                                <div class="col-md-7">
                                                    {$dd_shortcode}
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>TELCO</label>
                                                </div>
                                                <div class="col-md-7">
                                                    {$dd_telco}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>MEDIA</label>
                                                </div>
                                                <div class="col-md-7">
                                                    {$dd_media}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                        <label>SERVICE</label>
                                                </div>
                                                <div class="col-md-4">
                                                        {$dd_service}
                                                </div>
                                                <div class="col-md-3">
                                                    <button style="width:100%" type="submit" name="submit" value="Submit" class="btn btn-success">Submit</button>
                                                    <input type="hidden" name="active" value="report">
                                                    <input type="hidden" name="menu" value="MO REG">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <!-- /.box-body -->

                            <div class="col-md-12">
                                <strong style="color: #4183D7">MO STAT : [ Tanggal : {$tgl2} ] [ SHORTCODE : {$sc} ] [ TELCO : {$tlc} ] [ Service : {$s_name} ]  [ Media : {$s_media} ]</strong>
                            </div>

                            <div class="box-body" style="overflow-x:auto">
                                <table id="example1" class="table table-bordered table-striped" style="font-size: 14px">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">JAM</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">MO REG</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">MO UNREG</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">MO TOTAL</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {section name=p loop=$i}
                                        <tr>
                                            <td style="text-align:center;">{$fix_jam[p]}</td>
                                            <td style="text-align:center;">{$t_reg[p]}</td>
                                            <td style="text-align:center;">{$t_unreg[p]}</td>
                                            <td style="text-align:center;">{$total_reg_unreg[p]|number_format}</td>
                                        </tr>
                                        {/section}
                                        <tr>
                                            <td style="background-color: rgba(34, 167, 240,0.8);color: #fff;text-align: center;">Total</td>
                                            <td style="background-color: rgba(34, 167, 240,0.8);color: #fff;text-align: center;">{$total_reg|number_format}</td>
                                            <td style="background-color: rgba(34, 167, 240,0.8);color: #fff;text-align: center;">{$total_unreg|number_format}</td>
                                            <td style="background-color: rgba(34, 167, 240,0.8);color: #fff;text-align: center;">{$tot_total_reg_unreg|number_format}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </section>



        </div>
        <footer class="main-footer">
            {$copyright}
        </footer>
    </div>

{include file="footer2.html"}
