{include file="header2.html"}
<title>Monthly Traffic</title>

<body class="hold-transition skin-blue sidebar-mini">
{literal}
<style>
#container {
    max-width: 1000px;
    height: 400px;
    margin: 0 auto;
    margin-top: 35px;
}
</style>
<script type="text/javascript" language="JavaScript">
    <!--
    function go_delete(d,e)
    {
       var where_to= confirm("Yakin Anda akan menghapus ini?");
       var i;
       var j;
       i = d;
       j = e;
       if (where_to== true)
         window.location=i + j;
 }
//-->
</script>
<SCRIPT LANGUAGE="JavaScript">
    <!--

    <!-- Begin
    function CheckAll()
    {
        var allInputs = document.getElementsByTagName("input")
        for (var i = 0; i < allInputs.length; i++) {
            if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
                allInputs[i].checked = true;
            } else continue;
        }
    }

    function UnCheckAll()
    {
        var allInputs = document.getElementsByTagName("input")
        for (var i = 0; i < allInputs.length; i++) {
            if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
                allInputs[i].checked = false;
            } else continue;
        }
    }

    function printReport(area) {
     var printContents = document.getElementById(area).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
// End -->
</script>
{/literal}
<div class="wrapper">

    {include file="menu2.html"}

    <div class="content-wrapper" style="min-height:0px;">

        <section class="content-header">
            <h1>Monthly Traffic</h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <form class="form-horizontal" style="margin-top:25px;" method="get" action="">
                                <input type="hidden" name="active" value="report">
                                <input type="hidden" name="menu" value="Daily Traffic">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label>TAHUN</label>
                                        </div>
                                        <div class="col-md-9">
                                            {$dd_year}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label>SHORTCODE</label>
                                        </div>
                                        <div class="col-md-9">
                                            {$dd_shortcode}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label>TELCO</label>
                                        </div>
                                        <div class="col-md-9">
                                            {$dd_telco}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label>MEDIA</label>
                                        </div>
                                        <div class="col-md-9">
                                            {$dd_media}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-1">
                                            <label>SERVICE</label>
                                        </div>
                                        <div style="margin-left:-10px" class="col-md-11">
                                            <div class="col-md-12">
                                                {$checkbox}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-body -->

                        <div class="col-md-12">
                            <strong style="color: #4183D7">MONTHLY TRAFFIC : [ Tahun : {$tahun_traffic} ] [ SHORTCODE : {$sc} ] [ TELCO : {$tlc} ] [ Service : {$s_name} ]</strong>
                            <br>
                            <button class="btn btn-danger" onclick="printReport('printreport')">
                                <i class="fa fa-print"></i> Print Report
                            </button>
                        </div>

                        <div class="box-body" style="overflow-x:auto">
                            <table id="example1" class="table table-bordered table-striped" style="font-size: 14px">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">BULAN</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">This Year Running</th>
                                        <!--bulan-->
                                        {section name=r loop=$tgl_print}
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">{$tgl_print[r]}</th>
                                        {/section}
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <!--MO-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">MO</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$mo_tot|number_format}</td>
                                        {section name=rmo loop=$mo}
                                        <td style="text-align: right;">{$mo[rmo]|number_format}</td>
                                        {/section}

                                    </tr>

                                    <tr>
                                        <!--MT Delivered-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">MT Delivered</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$mt_ok_tot|number_format}</td>
                                        {section name=rmt_ok loop=$mt_ok}
                                        <td style="text-align: right;">{$mt_ok[rmt_ok]|number_format}</td>
                                        {/section}
                                    </tr>

                                    <tr>
                                        <!--MT Rejected-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">MT Rejected</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$mt_nok_tot|number_format}</td>
                                        {section name=rmt_nok loop=$mt_nok}
                                        <td style="text-align: right;">{$mt_nok[rmt_nok]|number_format}</td>
                                        {/section}
                                    </tr>

                                    <tr>
                                        <!--MT Total-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">MT Total</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$total_mt_tot|number_format}</td>
                                        {section name=rtotal_mt loop=$total_mt}
                                        <td style="text-align: right;">{$total_mt[rtotal_mt]|number_format}</td>
                                        {/section}
                                    </tr>
                                    <tr>
                                        <!--Gross Rev Dailypush-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">Gross Rev</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$gross_tot|number_format}</td>
                                        {section name=rgross loop=$gross}
                                        <td style="text-align: right;">{$gross[rgross]|number_format}</td>
                                        {/section}
                                    </tr>

                                    <tr>
                                        <!--NET Rev Dailypush-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">Net Rev</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$net_tot|number_format}</td>
                                        {section name=rnet loop=$net}
                                        <td style="text-align: right;">{$net[rnet]|number_format}</td>
                                        {/section}
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <!-- printable  -->

                         <div class="box-body" style="display:none" id="printreport">
                            <h1>Monthly Trafic Report</h1>
                            <table id="example1" class="table table-bordered table-striped" style="font-size: 14px">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">BULAN</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">This Year Running</th>
                                        <!--bulan-->
                                        {section name=r loop=$tgl_print}
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">{$tgl_print[r]}</th>
                                        {/section}
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <!--MO-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">MO</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$mo_tot|number_format}</td>
                                        {section name=rmo loop=$mo}
                                        <td style="text-align: right;">{$mo[rmo]|number_format}</td>
                                        {/section}

                                    </tr>

                                    <tr>
                                        <!--MT Delivered-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">MT Delivered</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$mt_ok_tot|number_format}</td>
                                        {section name=rmt_ok loop=$mt_ok}
                                        <td style="text-align: right;">{$mt_ok[rmt_ok]|number_format}</td>
                                        {/section}
                                    </tr>

                                    <tr>
                                        <!--MT Rejected-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">MT Rejected</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$mt_nok_tot|number_format}</td>
                                        {section name=rmt_nok loop=$mt_nok}
                                        <td style="text-align: right;">{$mt_nok[rmt_nok]|number_format}</td>
                                        {/section}
                                    </tr>

                                    <tr>
                                        <!--MT Total-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">MT Total</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$total_mt_tot|number_format}</td>
                                        {section name=rtotal_mt loop=$total_mt}
                                        <td style="text-align: right;">{$total_mt[rtotal_mt]|number_format}</td>
                                        {/section}
                                    </tr>
                                    <tr>
                                        <!--Gross Rev Dailypush-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">Gross Rev</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$gross_tot|number_format}</td>
                                        {section name=rgross loop=$gross}
                                        <td style="text-align: right;">{$gross[rgross]|number_format}</td>
                                        {/section}
                                    </tr>

                                    <tr>
                                        <!--NET Rev Dailypush-->
                                        <td style="background-color:rgba(37, 116, 169, 0.6); color:#fff">Net Rev</td>
                                        <td style="background-color:#646464; color:#fff;text-align: right;">{$net_tot|number_format}</td>
                                        {section name=rnet loop=$net}
                                        <td style="text-align: right;">{$net[rnet]|number_format}</td>
                                        {/section}
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div id="container" style="padding-bottom:20px;"></div>
                    </div>
                </div>
            </div>


        </section>



    </div>
    <footer class="main-footer">
        {$copyright}
    </footer>
</div>
{literal}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script type="text/javascript" language="JavaScript">
    Highcharts.chart('container', {
        colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',
            '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
        chart: {
            backgroundColor: {
                linearGradient: {x1: 0, y1: 0, x2: 1, y2: 1},
                stops: [
                    [0, '#2a2a2b'],
                    [1, '#3e3e40']
                ]
            },
            style: {
                fontFamily: '\'Unica One\', sans-serif'
            },
            plotBorderColor: '#606063'
        },
        title: {
            style: {
                color: '#E0E0E3',
                textTransform: 'uppercase',
                fontSize: '20px'
            },
            text: 'Grafik Monthly Traffic Gross Revenue'
        },

        subtitle: {
            text: ''
        },

        yAxis: {
            gridLineColor: '#707073',
            labels: {
                style: {
                    color: '#E0E0E3'
                }
            },
            lineColor: '#707073',
            minorGridLineColor: '#505053',
            tickColor: '#707073',
            tickWidth: 1,
            title: {
                style: {
                    color: '#A0A0A3'
                }
            },
            title: {
                text: ''
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        xAxis: {
            gridLineColor: '#707073',
            labels: {
                style: {
                    color: '#E0E0E3'
                }
            },
            lineColor: '#707073',
            minorGridLineColor: '#505053',
            tickColor: '#707073',
            title: {
                text: 'Bulan',
                style: {
                    color: '#fff'

                }
            },
            categories: ["{/literal}{section name=r loop=$tgl_print}{$tgl_print[r]|cat:'"'|cat:','|cat:'"'}{/section}{literal}"]

        },

        series: [{
                showInLegend: false,
                data: [
                {/literal}
                        {section name=rgross loop=$gross}
                                {$gross[rgross]|cat:','}
                        {/section}
                {literal}
                ]
                }]

    });
</script>
{/literal}

{include file="footer2.html"}
