{include file="header2.html"}
<title>MT Log</title>

<body class="hold-transition skin-blue sidebar-mini">
    {literal}
    <script type="text/javascript" language="JavaScript">
        <!--
        function go_delete(d, e)
        {
            var where_to = confirm("Yakin Anda akan menghapus ini?");
            var i;
            var j;
            i = d;
            j = e;
            if (where_to == true)
                window.location = i + j;
        }
        //-->
    </script>
    {/literal}
    <div class="wrapper">

        {include file="menu2.html"}

        <div class="content-wrapper" style="min-height:0px;">

            <section class="content-header">
                <h1>MT Outgoing Log</h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <form class="form-horizontal" style="margin-top:25px;" method="get" action="">

                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>APPID</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" name="appid2" class="form-control"  placeholder="Mo Origin" value="{$appid2}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>SUBJECT</label>
                                                </div>
                                                <div class="col-md-7">
                                                    {$dd_subject}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>MSISDN</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" name="msisdn2" class="form-control"  placeholder="MSISDN" value="{$msisdn2}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>TELCO</label>
                                                </div>
                                                <div class="col-md-7">
                                                    {$dd_telco}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>SHORTCODE</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" name="shortcode2" class="form-control"  placeholder="Shortcode" value="{$shortcode2}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>MT TYPE</label>
                                                </div>
                                                <div class="col-md-7">
                                                    {$dd_mt_type}
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">

					<div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>TRX ID</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" name="trx_id2" class="form-control"  placeholder="Trx ID" value="{$trx_id2}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>SESSION ID</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" name="session_id2" class="form-control"  placeholder="Session ID" value="{$session_id2}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>DATE</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input name="tgl2" type="text" class="form-control col-md-10" id="a" value="{$tgl2}" style="width:85%" placeholder="DATE"><input name="reset" type="reset" class="text" onclick="return showCalendar('a', '%Y-%m-%d', '24', true);" value=" ... ">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>LIMIT</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" name="limit" class="form-control"  placeholder="Limit">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">

                                                <div class="form-group">
                                                    <div class="col-md-5">
                                                        <label>TIME</label>
                                                    </div>
                                                    <div class="col-md-7" style="padding-left:0px">
                                                        <div class="col-md-7">
                                                            {$dd_month}
                                                        </div>
                                                        <div class="col-md-5" style="padding-right:0px">
                                                            {$dd_year}
                                                        </div>
                                                    </div>
                                                </div>

                                        </div>

                                        <div class="col-md-12">
                                            <button type="submit" name="submit" class="btn btn-success">Submit</button>
					    <input type="hidden" name="active" value="report">
					    <input type="hidden" name="menu" value="MT LOG">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-body" style="overflow-x:auto">
                                <table id="example1" class="table table-bordered table-striped" style="font-size: 14px">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">APPID</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">MSISDN</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">SMS</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">SUBJECT</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">MESSAGE</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">URL</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">TELCO</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">SHORTCODE</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">CHARGE</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">MT TYPE</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">TRX ID</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">SESSION ID</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">MEDIA ID</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">PARTNER ID</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">ACK STATUS</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">SID</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">DN TELCO</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">DN STATUS</th>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">DATETIME</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {section name=row loop=$msisdn}
                                        <tr>
                                            <td style="text-align:center;">{$appid[row]}</td>
                                            <td><a href="mo_log.php?msisdn2={$msisdn[row]}&active=report&menu=MO LOG" class="link-page">{$msisdn[row]}</a></td>
                                            <td>{$sms[row]}</td>
                                            <td>{$subject[row]}</td>
                                            <td>{$message[row]}</td>
                                            <td>{$url[row]}</td>
                                            <td style="text-align:center;">{$telco[row]}</td>
                                            <td style="text-align:center;">{$shortcode[row]}</td>
                                            <td style="text-align:center;">{$charge[row]}</td>
                                            <td style="text-align:center;">{$mt_type[row]}</td>
                                            <td>{$trx_id[row]}</td>
                                            <td><a href="mo_log.php?session_id2={$session_id[row]}&active=report&menu=MO LOG" class="link-page">{$session_id[row]}</a></td>
                                            <td style="text-align:center;">{$media_id[row]}</td>
                                            <td style="text-align:center;">{$partner_id[row]}</td>
                                            <td style="text-align:center;">{$ack_status[row]}</td>
                                            <td>{$sid[row]}</td>
                                            <td style="text-align:center;">{$dn_telco[row]}</td>
                                            <td style="text-align:center;">{$dn_status[row]}</td>
                                            <td>{$datetime[row]}</td>
                                        </tr>
                                        {/section}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </section>



        </div>
        <footer class="main-footer">
            {$copyright}
        </footer>
    </div>

{include file="footer2.html"}
