{include file="header2.html"}
<title>MT SMS</title>

<body class="hold-transition skin-blue sidebar-mini">
    {literal}
    <style>
    #container {
                    max-width: 1000px;
                    height: 400px;
                    margin: 0 auto;
                    margin-top: 35px;
                }
    </style>
    <script type="text/javascript" language="JavaScript">
        <!-- 
        function go_delete(d, e)
        {
            var where_to = confirm("Yakin Anda akan menghapus ini?");
            var i;
            var j;
            i = d;
            j = e;
            if (where_to == true)
                window.location = i + j;
        }
        //-->
    </script>
    {/literal}
    <div class="wrapper">

        {include file="menu2.html"}

        <div class="content-wrapper" style="min-height:0px;">

            <section class="content-header">
                <h1>MT SMS</h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <form class="form-horizontal" name="add" style="margin-top:25px;" method="get" action="">

                                    <div class="col-md-6">
                                        <div class="col-md-12">

                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>BULAN</label>
                                                </div>
                                                <div class="col-md-7" style="padding-left:0px">
                                                    <div class="col-md-7">
                                                        {$dd_month}
                                                    </div>
                                                    <div class="col-md-5" style="padding-right:0px">
                                                        {$dd_year}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>SHORTCODE</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" name="shortcode2" class="form-control"  placeholder="Shortcode" value="{$shortcode2}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label>TELCO</label>
                                                </div>
                                                <div class="col-md-7">
                                                    {$dd_telco}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <button type="submit" name="app_add" class="btn btn-success">Submit</button>  
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-body -->

                            <div class="col-md-12">
                                <strong style="color: #4183D7">MT SMS : [ Bulan : {$bulan_traffic} , Tahun : {$tahun_traffic} ] [ SHORTCODE : {$sc} ] [ TELCO : {$tlc} ]</strong>
                            </div>

                            <div class="box-body" style="padding-bottom:20px;overflow-x:auto">
                                <table id="example1" class="table table-bordered table-striped" style="font-size: 14px">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">SERVICE</th>
                                            {section name=r loop=$tgl_print}
                                            <th style="text-align: center;background-color: #4183D7;color: #fff;">{$tgl_print[r]}</th>
                                            {/section}
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {foreach from=$mtfix key=service item=i}
                                        <tr>
                                            <td>{$service}</td>
                                            {foreach from=$i key=tgl item=jumlah}
                                            <td style="text-align:center;">{$jumlah|number_format}</a></td>
                                            {/foreach}
                                        </tr>
                                        {/foreach}
                                    </tbody>
                                </table>
                            </div>
                            
                            <!-- <div id="container" style="padding-bottom:20px;"></div> -->
                        </div>
                    </div>
                </div>


            </section>



        </div> 
        <footer class="main-footer">
            {$copyright}
        </footer>
    </div>
{literal}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script type="text/javascript" language="JavaScript">
    Highcharts.chart('container', {
        colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',
            '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
        chart: {
            backgroundColor: {
                linearGradient: {x1: 0, y1: 0, x2: 1, y2: 1},
                stops: [
                    [0, '#2a2a2b'],
                    [1, '#3e3e40']
                ]
            },
            style: {
                fontFamily: '\'Unica One\', sans-serif'
            },
            plotBorderColor: '#606063'
        },
        title: {
            style: {
                color: '#E0E0E3',
                textTransform: 'uppercase',
                fontSize: '20px'
            },
            text: 'Grafik Daily MT SMS'
        },

        subtitle: {
            text: ''
        },

        yAxis: {
            gridLineColor: '#707073',
            labels: {
                style: {
                    color: '#E0E0E3'
                }
            },
            lineColor: '#707073',
            minorGridLineColor: '#505053',
            tickColor: '#707073',
            tickWidth: 1,
            title: {
                style: {
                    color: '#A0A0A3'
                }
            },
            title: {
                text: ''
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        xAxis: {
            gridLineColor: '#707073',
            labels: {
                style: {
                    color: '#E0E0E3'
                }
            },
            lineColor: '#707073',
            minorGridLineColor: '#505053',
            tickColor: '#707073',
            title: {
                text: 'Tanggal',
                style: {
                    color: '#fff'

                }
            },
            categories: [
                        {/literal}
                                {section name=r loop=$tgl_print}
                                        {$tgl_print[r]|cat:','}
                                {/section}
                        {literal}
                        ]

        },

        series: [{
                showInLegend: false,
                data: [
                {/literal}
                    {foreach from=$mtfix key=service item=i}
                        {foreach from=$i key=tgl item=jumlah}
                                {$jumlah|cat:','}
                        {/foreach}
                    {/foreach}
                {literal}
                ]                    
                }]

    });
</script>
{/literal}
{include file="footer2.html"}
