{include file="header2.html"}
<title>Profit Loss</title>
<body class="hold-transition skin-blue sidebar-mini">
    {literal}
    <script type="text/javascript" language="JavaScript"> 
        <!-- 
        function go_delete(d,e) 
        { 
         var where_to= confirm("Yakin Anda akan menghapus ini?");
         var i;
         var j;
         i = d;
         j = e;
         if (where_to== true)
           window.location=i + j;
   } 
    //-->
</script>
<script LANGUAGE="JavaScript">
    <!--

    <!-- Begin
    function CheckAll()
    {
        var allInputs = document.getElementsByTagName("input")
        for (var i = 0; i < allInputs.length; i++) {
            if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
                allInputs[i].checked = true;
            } else continue;
        }
    }

    function UnCheckAll()
    {
        var allInputs = document.getElementsByTagName("input")
        for (var i = 0; i < allInputs.length; i++) {
            if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
                allInputs[i].checked = false;
            } else continue;
        }
    }
    // End -->
</script>
{/literal}
<div class="wrapper">

    {include file="menu2.html"}

    <div class="content-wrapper" style="min-height:0px;">

        <section class="content-header">
            <h1>Profit Loss</h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- AREA CHART -->

                    <!-- <td width="16%" height="444" valign="top" background="{$img_dir}leftcollumbkg2.gif"><div align="left">
                        <td height="106" valign="center" background="{$img_dir}topbarbkg.gif"><div align="center" class="txt-title">{$title}</td> -->

                            <div class="box box-primary">
                                <div class="box-body">
                                    <form class="form-horizontal" action="" method="GET">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-3">SHORTCODE</label>
                                                <div class="col-md-8">
                                                    {$dd_shortcode}                                                
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-3">TELCO</label>
                                                <div class="col-md-8">
                                                    {$dd_telco}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="col-md-5" style="width: 80px">
                                                    <label>SERVICE</label>
                                                </div>
                                                <div class="col-md-4" style="width: 40%">
                                                    {$dd_service}
                                                </div>
                                                <div class="col-md-3" style="padding-right: 0px; padding-left: 0px">
                                                    <button style="width:100%" type="submit" class="btn btn-success">Submit</button>
                                                    <input type="hidden" name="active" value="report">
                                                    <input type="hidden" name="menu" value="Profit Loss"> 
                                                </div>                      
                                            </div> 
                                        </div>                                    
                                    </form>
                                </div>
                                <div class="col-md-12">
                                    <strong style="color: #4183D7">PROFIT LOSS : [ SHORTCODE : {$sc} ] [ TELCO : {$tlc} ] [ Service : {$s_name} ]</strong>
                                </div>
                                <div class="box-body" style="overflow-x:auto">
                                    <table id="example2" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">APPID</th>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">DESCRIPTION</th>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">SHORTCODE</th>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">TELCO</th>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">TOTAL NET REVENUE</th>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">TOTAL COST</th>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">PROFIT/LOSS</th>
                                            </tr>
                                        </thead>
                                        {if $submit ne ""}
                                        <tbody>
                                            <tr>
                                                <td style="text-align:center">{$appid}</td>
                                                <td style="text-align:center">{$s_name}</td>
                                                <td style="text-align:center">{$sc}</td>
                                                <td style="text-align:center">{$tlc}</td>
                                                <td style="text-align:center"><strong>{$total_nett|number_format}</strong></td>
                                                <td style="text-align:center"><strong>{$total_cost|number_format}</strong></td>
                                                <td style="text-align:center"><strong>{$profit_loss|number_format}</strong></td>
                                            </tr>
                                        </tbody>
                                        {/if}
                                    </table>
                                </div>
                            </div>
                            <!-- /.box --> 
                        </div>
                    </div>
                    <!-- /.row -->

                </section>
                <!-- /.content -->


            </div> 
            <footer class="main-footer">
                {$copyright}
            </footer>
        </div>

        {include file="footer2.html"}
