{include file="header2.html"}
<title>Push SMS</title>
<body class="hold-transition skin-blue sidebar-mini">
    {literal}
    <script type="text/javascript" language="JavaScript"> 
        <!-- 
        function go_delete(d,e) 
        { 
         var where_to= confirm("Yakin Anda akan menghapus ini?");
         var i;
         var j;
         i = d;
         j = e;
         if (where_to== true)
           window.location=i + j;
   } 
//-->
</script>
{/literal}
<div class="wrapper">

    {include file="menu2.html"}

    <div class="content-wrapper" style="min-height:0px;">

        <section class="content-header">
            <h1>Application</h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- AREA CHART -->
                    <div class="box box-primary">
                        <div class="box-body">
                            <form class="form-horizontal" action="" method="POST">
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>SERVICE / KEYWORD</label>
                                            </div>
                                            <div class="col-md-7">
                                                {$dd_service}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>MSISDN</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input name="msisdn" type="text" class="form-control"  placeholder="MSISDN">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>SHORTCODE</label>
                                            </div>
                                            <div class="col-md-7">
                                                {$dd_shortcode}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>TELCO</label>
                                            </div>
                                            <div class="col-md-7">
                                                {$dd_telco}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>PRICE</label>
                                            </div>
                                            <div class="col-md-7">
                                                <select name='price' class="form-control">
                                                    <option value='PULL-0' >PULL-0</option>
                                                    <option value='PUSH-0' >PUSH-0</option>
                                                    <option value='PULL-2000' >PULL-2000</option>
                                                    <option value='PUSH-2000' >PUSH-2000</option>
                                                    <option value='PUSH-1650' >PUSH-1650</option>
                                                    <option value='PUSH-2000-musik' >PUSH-2000-cool</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>SMS</label>
                                            </div>
                                            <div class="col-md-7">
                                                <textarea class="form-control" name="content" cols="30" rows="3" onKeyDown="textCounter(this.form.content,this.form.remLentext,160);" onKeyUp="textCounter(this.form.content,this.form.remLentext,160);"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <label>CHARACTER COUNT</label>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input name="remLentext" type="text" class="form-control" id="remLentext" value="160" disabled>
                                                    </div>
                                                    <button type="submit" class="btn btn-success col-md-6"><i class="fa fa-send"></i> Send</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-body" style="overflow-x:auto">
                            <table id="example2" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">APPID</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">KEYWORD</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">MSISDN</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">SHORTCODE</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">TELCO</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">SMS</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">ENTRY DATE</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {section name=row loop=$id}
                                    <tr>
                                        <td>{$appid[row]}</td>
                                        <td>{$description[row]}</td>
                                        <td>{$msisdn[row]}</td>
                                        <td>{$shortcode[row]}</td>
                                        <td>{$telco[row]}</td>
                                        <td>{$sms[row]}</td>
                                        <td>{$datetime[row]}</td>
                                    </tr>
                                    {/section}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->


    </div> 
    <footer class="main-footer">
        {$copyright}
    </footer>
</div>

{include file="footer2.html"}
