{include file="header2.html"}
<title>Report SID</title>
<body class="hold-transition skin-blue sidebar-mini">
    {literal}
    <script type="text/javascript" language="JavaScript"> 
        <!-- 
        function go_delete(d,e) 
        { 
         var where_to= confirm("Yakin Anda akan menghapus ini?");
         var i;
         var j;
         i = d;
         j = e;
         if (where_to== true)
           window.location=i + j;
   } 
    //-->
</script>
<script LANGUAGE="JavaScript">
    <!--

    <!-- Begin
    function CheckAll()
    {
        var allInputs = document.getElementsByTagName("input")
        for (var i = 0; i < allInputs.length; i++) {
            if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
                allInputs[i].checked = true;
            } else continue;
        }
    }

    function UnCheckAll()
    {
        var allInputs = document.getElementsByTagName("input")
        for (var i = 0; i < allInputs.length; i++) {
            if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
                allInputs[i].checked = false;
            } else continue;
        }
    }

    function printReport(area) {
     var printContents = document.getElementById(area).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
    // End -->
</script>
{/literal}
<div class="wrapper">

    {include file="menu2.html"}

    <div class="content-wrapper" style="min-height:0px;">

        <section class="content-header">
            <h1>Report SID</h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- AREA CHART -->

                    <!-- <td width="16%" height="444" valign="top" background="{$img_dir}leftcollumbkg2.gif"><div align="left">
                        <td height="106" valign="center" background="{$img_dir}topbarbkg.gif"><div align="center" class="txt-title">{$title}</td> -->

                            <div class="box box-primary">
                                <div class="box-body">
                                    <form class="form-horizontal" style="margin-top:25px;" method="get" action="">

                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <label>TANGGAL</label>
                                                </div>
                                                <div class="col-md-3">
                                                    {$dd_day}
                                                </div>
                                                <div class="col-md-4">
                                                    {$dd_month}
                                                </div>

                                                <div class="col-md-3">
                                                    {$dd_year}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label>SHORTCODE</label>
                                                </div>
                                                <div class="col-md-8">
                                                    {$dd_shortcode}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label>TELCO</label>
                                                </div>
                                                <div class="col-md-5">
                                                    {$dd_telco}
                                                </div>

                                                <div class="col-md-3">
                                                     <input type="hidden" name="active" value="report">
                                                    <input type="hidden" name="menu" value="Report SID">
                                                    <button type="submit" name="submit" value="Submit" class="btn btn-success">
                                                        <i class="fa fa-database"></i> Search
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {if $submit == "Submit"}
                                <div class="col-md-12">
                                    <strong style="color: #4183D7">TRAFFIC : [ {$tgl} - {$bln} - {$thn} ] [ SHORTCODE : {$sc} ] [ TELCO : {$tlc} ]</strong>
                                    <br>
                                    <button class="btn btn-danger" onclick="printReport('printreport')">
                                        <i class="fa fa-print"></i> Print Report
                                    </button>
                                </div>
                                <div class="box-body" style="overflow-x:auto">
                                    <table id="example2" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">SID</th>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">PRICE</th>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">TRAFFIC</th>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">TOTAL</th>
                                            </tr>
                                        </thead>
                                        {section name=p loop=$sid}
                                        <tbody>
                                            <tr>
                                                <td style="text-align:center">{$sid[p]}</td>
                                                <td style="text-align:center">{$price[p]|number_format}</td>
                                                <td style="text-align:center">{$jml[p]|number_format}</td>
                                                <td style="text-align:center"><strong>{$jml[p]*$price[p]|number_format}</strong></td>
                                            </tr>
                                        </tbody>
                                        {/section}
                                    </table>
                                </div>

                                <!-- printable -->

                                <div class="box-body" style="display:none" id="printreport">
                                    <h1>SERVICE ID REPORT</h1>
                                    <table id="example2" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">SID</th>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">PRICE</th>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">TRAFFIC</th>
                                                <th style="text-align: center;background-color: #4183D7;color: #fff;">TOTAL</th>
                                            </tr>
                                        </thead>
                                        {section name=p loop=$sid}
                                        <tbody>
                                            <tr>
                                                <td style="text-align:center">{$sid[p]}</td>
                                                <td style="text-align:center">{$price[p]|number_format}</td>
                                                <td style="text-align:center">{$jml[p]|number_format}</td>
                                                <td style="text-align:center"><strong>{$jml[p]*$price[p]|number_format}</strong></td>
                                            </tr>
                                        </tbody>
                                        {/section}
                                    </table>
                                </div>
                                {/if}
                            </div>
                            <!-- /.box --> 
                        </div>
                    </div>
                    <!-- /.row -->

                </section>
                <!-- /.content -->


            </div> 
            <footer class="main-footer">
                {$copyright}
            </footer>
        </div>

        {include file="footer2.html"}
