{include file="header2.html"}
<title>SMS Subscriber</title>
<body class="hold-transition skin-blue sidebar-mini">
    {literal}
    <script type="text/javascript" language="JavaScript"> 
        <!-- 
        function go_delete(d,e) 
        { 
         var where_to= confirm("Yakin Anda akan menghapus ini?");
         var i;
         var j;
         i = d;
         j = e;
         if (where_to== true)
           window.location=i + j;
   } 
//-->
</script>
{/literal}
<div class="wrapper">

    {include file="menu2.html"}

    <div class="content-wrapper" style="min-height:0px;">

        <section class="content-header">
            <h1>SMS Subscriber</h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- AREA CHART -->
                    <div class="box box-primary">
                        <div class="box-body">
                            <form class="form-horizontal" action="" method="GET">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="col-md-3">SHORTCODE</label>
                                        <div class="col-md-8">
                                            {$dd_shortcode}                                                
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="col-md-3">TELCO</label>
                                        <div class="col-md-8">
                                            {$dd_telco}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="col-md-5 col-md-offset-3">
                                        <button type="submit" class="btn btn-success" name="app_add"><i class="fa fa-search"></i> Search</button>
                                        <input type="hidden" name="active" value="report">
                                        <input type="hidden" name="menu" value="SMS Subscriber">
                                    </div>
                                </div>                                     
                            </form>
                        </div>
			<div class="col-md-12">
                        	<strong style="color: #4183D7">SUBSCRIBER : [ SHORTCODE : {$sc} ] [ TELCO : {$tlc} ]</strong>
			</div>
                        <div class="box-body" style="overflow-x:auto">
                            <table id="example2" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">NO</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">SERVICE</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">DESCRIPTION</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">MEMBER AKTIF</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">MEMBER NON AKTIF</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">TOTAL MEMBER</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {section name=row loop=$no}
                                    <tr>
                                        <td style="text-align:center">{$no[row]}</td>
                                        <td style="text-align:center">{$appids[row]}</td>
                                        <td style="text-align:center">{$descs[row]}</td>
                                        <td style="text-align:center">{$aktifs[row]|number_format}</td>
                                        <td style="text-align:center">{$non_aktifs[row]|number_format}</td>
                                        <td style="text-align:center">{$total_members[row]|number_format}</td>
                                    </tr>
                                    {/section}

                                    <tr>
                                        <td style="text-align: center;background-color: #4183D7;color: #fff;" colspan="3">TOTAL</td>
                                        <td style="text-align: center;background-color: #4183D7;color: #fff;"><strong>{$total_reg_aktif|number_format}</strong></td>
                                        <td style="text-align: center;background-color: #4183D7;color: #fff;"><strong>{$total_reg_nonaktif|number_format}</strong></td>
                                        <td style="text-align: center;background-color: #4183D7;color: #fff;"><strong>{$total|number_format}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                                <!--                                <div class="box-body">
                                    <p style="color:#446CB3">
                                        SUBSCRIBER : [ SHORTCODE : All ] [ TELCO : All ]
                                    </p>
                                </div>-->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                    <!-- /.row -->

                </section>
                <!-- /.content -->


            </div> 
            <footer class="main-footer">
                {$copyright}
            </footer>
        </div>

        {include file="footer2.html"}
