{include file="header2.html"}
<title>Top Service</title>
<body class="hold-transition skin-blue sidebar-mini">
    {literal}
    <script type="text/javascript" language="JavaScript"> 
        <!-- 
        function go_delete(d,e) 
        { 
           var where_to= confirm("Yakin Anda akan menghapus ini?");
           var i;
           var j;
           i = d;
           j = e;
           if (where_to== true)
             window.location=i + j;
     } 
    //-->
</script>
<script LANGUAGE="JavaScript">
    <!--

    <!-- Begin
    function CheckAll()
    {
        var allInputs = document.getElementsByTagName("input")
        for (var i = 0; i < allInputs.length; i++) {
            if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
                allInputs[i].checked = true;
            } else continue;
        }
    }

    function UnCheckAll()
    {
        var allInputs = document.getElementsByTagName("input")
        for (var i = 0; i < allInputs.length; i++) {
            if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
                allInputs[i].checked = false;
            } else continue;
        }
    }
    // End -->
</script>
{/literal}
<div class="wrapper">

    {include file="menu2.html"}

    <div class="content-wrapper" style="min-height:0px;">

        <section class="content-header">
            <h1>Top Service</h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- AREA CHART -->
                    <div class="box box-primary">
                        <div class="box-body">
                            <form class="form-horizontal" action="" method="GET">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="col-md-3">SHORTCODE</label>
                                        <div class="col-md-8">
                                            {$dd_shortcode}                                                
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="col-md-3">TELCO</label>
                                        <div class="col-md-8">
                                            {$dd_telco}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="col-md-5 col-md-offset-3">
                                        <button type="submit" class="btn btn-success" name="app_add"><i class="fa fa-search"></i> Search</button>
                                        <input type="hidden" name="active" value="report">
                                        <input type="hidden" name="menu" value="Top Service">
                                    </div>
                                </div>                                     
                            </form>
                        </div>
                        <div class="col-md-12">
                            <strong style="color: #4183D7">TOP 10 SERVICE : [ SHORTCODE : {$sc} ] [ TELCO : {$tlc} ]</strong>
                        </div>
                        <div class="box-body" style="overflow-x:auto">
                            <table id="example2" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">NO</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">APP ID</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">DESCRIPTION</th>
                                        <th style="text-align: center;background-color: #4183D7;color: #fff;">TOTAL NETT</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {section name=p loop=$appid}
                                    <tr>
                                        <td style="text-align:center">{$no[p]}</td>
                                        <td style="text-align:center">{$appid[p]}</td>
                                        <td style="text-align:center">{$desc[p]}</td>
                                        <td style="text-align:center"><strong>{$nett[p]|number_format}</strong></td>
                                    </tr>
                                    {/section}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box --> 
                </div>
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->


    </div> 
    <footer class="main-footer">
        {$copyright}
    </footer>
</div>

{include file="footer2.html"}
