{include file="header.html"}
{include file="menu.html"}
<table width="800" border="0" cellspacing="0" cellpadding="0" class="tabel">
	<tr>
	   <td height="20"></td>
	</tr>
	<tr>
		<td height="20"><div align="center" class="text">
			<form name="form1" method="post" action="">
			  <table width="50%"  border="0" cellspacing="0" cellpadding="0" class="tabel">
			    <tr>
			      <td height="20" colspan="3"><div align="center" class="text">{$msg}</div></td>
			    </tr>
			    <tr>
			      <td height="20" colspan="3"><div align="center" class="text">Add Content Quiz </div></td>
			    </tr>
			    <tr>
			      <td height="20"><div align="right" class="text">Service</div></td>
			      <td>&nbsp;</td>
			      <td height="20"><div align="left" class="text">
			        {$dd_service}
			      </div></td>
			    </tr>
			    <tr>
			      <td height="20"><div align="right" class="text">Question</div></td>
			      <td>&nbsp;</td>
			      <td height="20"><div align="left" class="text">
					<textarea class="text" name="content" cols="20" rows="7" onKeyDown="textCounter(this.form.content,this.form.remLentext,160);" onKeyUp="textCounter(this.form.content,this.form.remLentext,160);">{$questione}</textarea>*
			      </div></td>
			    </tr>
			    <tr>
			      <td height="20"><div align="right" class="text">Character Count</div></td>
			      <td>&nbsp;</td>
			      <td height="20"><div align="left" class="text">
					<input name="remLentext" type="text" class="text" id="remLentext" value="160" size="10">
			      </div></td>
			    </tr>
			    <tr>
			      <td height="20"><div align="right" class="text">Answer</div></td>
			      <td>&nbsp;</td>
			      <td height="20"><div align="left" class="text">
			        <input name="answer" type="text" class="text" value="{$answere}" size="10">*
			      </div></td>
			    </tr>
			    <tr>
			      <td height="20"><div align="right" class="text">Point True</div></td>
			      <td>&nbsp;</td>
			      <td height="20"><div align="left" class="text">
			        <input name="point_true" type="text" class="text" value="{$point_truee}" size="10">
			      </div></td>
			    </tr>
			    <tr>
			      <td height="20"><div align="right" class="text">Point False</div></td>
			      <td>&nbsp;</td>
			      <td height="20"><div align="left" class="text">
			        <input name="point_false" type="text" class="text" value="{$point_falsee}" size="10">
			      </div></td>
			    </tr>
			    <tr>
			      <td height="20"><div align="right" class="text">Publish Date</div></td>
			      <td>&nbsp;</td>
			      <td height="20"><div align="left" class="text">
			        <input type="text" name="publish_date" class="text" value="{$publish_datee}" id="a"><input name="reset" type="reset" class="text" onclick="return showCalendar('a', '%Y-%m-%d', '24', true);" value=" ... ">
			      </div></td>
			    </tr>
			    <tr>
			      <td height="20"><div align="right" class="text">Publish Seq</div></td>
			      <td>&nbsp;</td>
			      <td height="20"><div align="left" class="text">
			        <input name="publish_seq" type="text" class="text" value="{$publish_seqe}" size="10">
			      </div></td>
			    </tr>
			    <tr>
			      <td height="20">&nbsp;</td>
			      <td>&nbsp;</td>
			      <td height="20"><div align="left" class="text">
			      	<input type="hidden" name="id" value="{$ide}">
			        <input type="submit" name="{$smt}" value="Submit" class="text">
			      </div></td>
			    </tr>
			    <tr>
			      <td colspan="3">&nbsp;</td>
			    </tr>
			  </table>
			</form>
			<br/>
			<table width="95%"  border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td bgcolor="#003366">
			    	<table width="100%" border="0" cellspacing="1" cellpadding="2">
					  <tr bgcolor="#FFFFFF">
					    <td><div align="center"><strong>SERVICE</strong></div></td>
					    <td><div align="center"><strong>QUESTION</strong></div></td>
					    <td><div align="center"><strong>ANSWER</strong></div></td>
					    <td><div align="center"><strong>POINT TRUE</strong></div></td>
					    <td><div align="center"><strong>POINT FALSE</strong></div></td>
					    <td><div align="center"><strong>PUBLISH DATE</strong></div></td>
					    <td><div align="center"><strong>PUBLISH SEQ</strong></div></td>
					    <td><div align="center"><strong>ENTRY DATE</strong></div></td>
					    <td><div align="center"><strong>EDIT</strong></div></td>
					    <td><div align="center"><strong>DELETE</strong></div></td>
					  </tr>
					  {section name=row loop=$id}
					  <tr bgcolor="#FFFFFF">
					    <td><div align="left">{$appid[row]} - {$desc[row]}</div></td>
					    <td><div align="left">{$question[row]}</div></td>
					    <td><div align="center">{$answer[row]}</div></td>
					    <td><div align="center">{$point_true[row]}</div></td>
					    <td><div align="center">{$point_false[row]}</div></td>
					    <td><div align="center">{$publish_date[row]}</div></td>
					    <td><div align="center">{$publish_seq[row]}</div></td>
					    <td><div align="center">{$entry_date[row]}</div></td>
					    <td><div align="center"><a href="edit_quiz.php?id={$id[row]}&appid={$appid[row]}&action=edit" class="link-page">EDIT</a></div></td>
					    <td><div align="center"><a href="javascript:go_delete({$id[row]},'{$appid[row]}')" class="link-page">DELETE</a></div></td>
					  </tr>
					  {/section}
					</table>
					{literal}
					<script type="text/javascript" language="JavaScript"> 
					<!-- 
					function go_delete(i,j) 
					{ 
					 var where_to= confirm("Yakin Anda akan menghapus content ini?");
					 var a;
					 var b;
					 a = i;
					 b = j;

					 if (where_to== true)
					   window.location= "delete_quiz.php?id=" + a + "&action=delete&appid=" + b;
					}
					//-->
					</script>
					{/literal}
			    </td>
			  </tr>
			  <tr bgcolor="#FFFFFF">
			  	<td>
			  		<br/>
					{if $numrows ne ""}
					<table width="100%" border="0" cellpadding="5" cellspacing="0" style="margin-bottom: 30px;">
						<tr class="text">
							<td align="left" valign="center" width="60%"><div class="garis">
							<a href="list_quiz.php?begin={$first}" class="link-page"><strong><<</strong></a>
						   <a href="list_quiz.php?begin={$prev}" class="link-page"><strong>< </strong></a>{$dispfrom} - {$dispto} / {$numrows} 
						   <a href="list_quiz.php?begin={$next}" class="link-page"><strong>></strong></a>
						   <a href="list_quiz.php?begin={$last}" class="link-page"><strong>>></strong></a> </div></td>
							<td width="40%" align="right" style="padding-top: 5px; font-weight: bold;" class="text"><div class="garis">Total Data: {$numrows}</div></td>
						</tr>
					</table>
					{/if}
			  	</td>
			  </tr>
			</table>
		</div></td>
	</tr>
	<tr>
	   <td height="20"></td>
	</tr>
</table>
{include file="copyright.html"}
{include file="footer.html"}
