{include file="header.html"}
<body>
{literal}
<script type="text/javascript" language="JavaScript"> 
<!-- 
function go_delete(d,e) 
{ 
 var where_to= confirm("Yakin Anda akan menghapus ini?");
 var i;
 var j;
 i = d;
 j = e;
 if (where_to== true)
   window.location=i + j;
} 
//-->
</script>
{/literal}
<table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0" class="tabel">
  <tr>
    <td height="106" valign="center" background="{$img_dir}topbarbkg.gif"><div align="center" class="txt-title">{$title}</td>
  </tr>
  <tr>
    <td height="435" valign="top"><table width="100%" height="91%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="16%" height="444" valign="top" background="{$img_dir}leftcollumbkg2.gif"><div align="left">
{include file="menu.html"}
        </div></td>
        <td width="84%" valign="top">
		  <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr height="20">
            <td width="97%">&nbsp;</td>
            <td width="3%">&nbsp;</td>
          </tr>
          <tr>
            <td height="401" valign="top"><div align="center">
            <!-- content begin -->
            	<div align="left" class="text">
            	<!-- Description -->
            	<strong>Cost Service List | <font color="#FF0018">{$msg}</font></strong>
            	<br>
            	<br/>
            	<form name="add" method="get" action="">
						  <table width="392" border="0" cellpadding="0" cellspacing="0" bgcolor="#000033">
						    <tr>
						      <td width="392"><table width="100%" height="100"  border="0" cellpadding="3" cellspacing="1">
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">SERVICE</td>
						          <td><div align="left">
												{$dd_service}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">SHORTCODE</td>
						          <td><div align="left">
												{$dd_shortcode}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">TELCO</td>
						          <td><div align="left">
						            {$dd_telco}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">&nbsp;</td>
						          <td><div align="left">
						            <input type="submit" name="submit" value="Submit" class="text">
						          </div></td>
						        </tr>
						      </table></td>
						    </tr>
						  </table>
						</form>
			        <!-- Description -->
			        <br>
			        <br>
			        <table border="0" cellspacing="0" cellpadding="0">
						  	<tr>
								 <td><div align="left"><strong>COST SERVICE : [ SHORTCODE : {$sc} ] [ TELCO : {$tlc} ] [ Service : {$s_name} ]</strong></div></td>
								 </tr>
								 <tr>
								 <td>&nbsp;</td>
								 </tr>
					  	</table>
			        <!-- List -->
			        <table border="0" cellspacing="0" cellpadding="0">
						 <tr>
						   <td bgcolor="#000033">
						    	<table width="100%" height="100%"  border="0" cellpadding="3" cellspacing="1">
								<tr bgcolor="#006699" class="txt-menu">
									<td width="100"><div align="center"><strong>APPID</strong></div></td>
									<td width="150"><div align="center"><strong>DESCRIPTION</strong></div></td>
									<td width="100"><div align="center"><strong>TELCO</strong></div></td>
									<td width="100"><div align="center"><strong>SHORTCODE</strong></div></td>
									<td width="100"><div align="center"><strong>COST NAME</strong></div></td>
									<td width="100"><div align="center"><strong>COST AMOUNT</strong></div></td>
									<td width="100"><div align="center"><strong>DELETE</strong></div></td>
								</tr>
{section name=row loop=$appid}
								<tr bgcolor="{$warna[row]}" class="text">
									<td ><div align="center">{$appid[row]}</div></td>
									<td ><div align="left">{$description[row]}</div></td>
									<td ><div align="left">{$telco[row]}</div></td>
									<td ><div align="center">{$shortcode[row]}</div></td>
									<td ><div align="left">{$cost_name[row]}</div></td>
									<td ><div align="right">{$cost_amount[row]|number_format}</div></td>
									<td ><div align="center"><a href="javascript:go_delete('cost_service.php?action=delete&id=',{$id[row]})" class="link-page">DELETE</a></div></td>
									<!-- <td ><div align="center"><a href="application.php?action=delete&id={$id[row]}" class="link-page">DELETE</a></div></td> -->
								</tr>
{/section}
							 	<tr bgcolor="#CCCCCC" class="text">
									<td ><div align="center"><strong>TOTAL</strong></div></td>
									<td ><div align="left"></div></td>
									<td ><div align="left"></div></td>
									<td ><div align="left"></div></td>
									<td ><div align="left"></div></td>
									<td ><div align="right"><strong>{$cost_tot|number_format}</strong></div></td>
									<td ><div align="center"></div></td>
									<!-- <td ><div align="center"><a href="application.php?action=delete&id={$id[row]}" class="link-page">DELETE</a></div></td> -->
								</tr>
							 </table>
						   </td>
						 </tr>
					  </table>
{if $numrows ne ""}
						<table width="70%" border="0" cellpadding="5" cellspacing="0" style="margin-bottom: 30px;">
							<tr class="text">
								<td align="left" valign="top">
									<a href="cost_service.php?begin={$first}&filter={$filter}"><img class="first" src="{$img_dir}bd_firstpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
									<a href="cost_service.php?begin={$prev}&filter={$filter}"><img class="prev" src="{$img_dir}bd_prevpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="prev" /></a>{$dispfrom} - {$dispto} / {$numrows}
									<a href="cost_service.php?begin={$next}&filter={$filter}"><img class="next" src="{$img_dir}bd_nextpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="next" /></a>
									<a href="cost_service.php?begin={$last}&filter={$filter}"><img class="last" src="{$img_dir}bd_lastpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
								</td>
								<td align="right" class="text">Total Data: {$numrows}</td>
							</tr>
						</table>
{/if}
					  <!-- List -->
					  <!-- Add -->
					  <br/>
					  <a name="add">
					  <form name="add" method="post" action="">
						  <table width="392" border="0" cellpadding="0" cellspacing="0" bgcolor="#000033">
						    <tr>
						    <td bgcolor="#FFFFFF"><div align="left"><strong>Add Cost</strong></div></td>
						    </tr>
						    <tr>
						      <td width="392"><table width="100%" height="100"  border="0" cellpadding="3" cellspacing="1">
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">* SERVICE</td>
						          <td><div align="left">
						            {$dd_service}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">* TELCO</td>
						          <td><div align="left">
						            {$dd_telco}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">* SHORTCODE</td>
						          <td><div align="left">
						            {$dd_shortcode}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">* COST NAME</td>
						          <td><div align="left">
						            <input type="text" name="cost_name" class="text"  value="{$cost_namee}">
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">* COST AMOUNT</td>
						          <td><div align="left">
						            <input type="text" name="cost_amount" class="text"  value="{$cost_amounte}">
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">&nbsp;</td>
						          <td><div align="left">
						            <input type="submit" name="app_add" value="Submit" class="text">
						            <input type="reset" name="Reset" value="Reset" class="text">
						            <input type="hidden" name="action" value="{$action}" class="text">
						            <input type="hidden" name="id" value="{$id_edit}" class="text">
						          </div></td>
						        </tr>
						      </table></td>
						    </tr>
						  </table>
						</form>
					  <!-- Add -->
					  
            	</div>
            <!-- content end -->
            </div></td>
            <td>&nbsp;</td>
          </tr>
{include file="copyright.html"}
        </table>
		</td>
      </tr>
    </table></td>
  </tr>
</table>

{include file="footer.html"}