{include file="header.html"}
<body>
<table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0" class="tabel">
  <tr>
    <td height="106" valign="center" background="{$img_dir}topbarbkg.gif"><div align="center" class="txt-title">{$title}</td>
  </tr>
  <tr>
    <td height="435" valign="top"><table width="100%" height="91%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="16%" height="444" valign="top" background="{$img_dir}leftcollumbkg2.gif"><div align="center">
        </div></td>
        <td width="84%" valign="top">
		  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="97%">&nbsp;</td>
            <td width="3%">&nbsp;</td>
          </tr>
          <tr>
            <td height="401" valign="top"><div align="center">
            <!-- content begin -->
            	<table width="43%"  border="0" cellpadding="0" cellspacing="2" class="tabel">
                  <tr>
                    <td height="144" bgcolor="#9DC1F5">
                      <form ACTION="login.php" name="frmLogin" method="POST">
                        <table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td colspan="3">&nbsp;</td>
                          </tr>
                          <tr>
                            <td height="20" colspan="3"><div align="center" class="text">Silahkan login terlebih dahulu </div></td>
                          </tr>
                          <tr>
                            <td height="20" colspan="3"><div align="center" class="text"><font color="#FF0000">{$wrong}</font></div></td>
                          </tr>
                          <tr>
                            <td width="39%" height="22" class="text"><div align="right">Username</div></td>
                            <td width="3%">&nbsp;</td>
                            <td width="58%" height="20"><div align="left">
                                <input name="username" type="text" class="text" id="username">
                            </div></td>
                          </tr>
                          <tr>
                            <td height="22" class="text"><div align="right">Password</div></td>
                            <td>&nbsp;</td>
                            <td height="20"><div align="left">
                                <input name="password" type="password" class="text" id="password">
                            </div></td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td height="22"><div align="left">
                                <input name="Submit" type="submit" class="text" value="Submit">
                                <input name="Reset" type="reset" class="text" value="Reset">
                            </div></td>
                          </tr>
                          <tr>
                            <td colspan="3">&nbsp;</td>
                          </tr>
                        </table>
                    </form></td>
                  </tr>
               </table>
            <!-- content end -->
            </div></td>
            <td>&nbsp;</td>
          </tr>
{include file="copyright.html"}
        </table>
		</td>
      </tr>
    </table></td>
  </tr>
</table>

{include file="footer.html"}