<table align="center" border="0" cellpadding="0" cellspacing="0" style="margin-top: 10px; margin-bottom: 30px;">
	<tr>
		<td colspan="3"><b>Keterangan:</b></td>
	</tr>
	<tr>
		<td width="100">SMSC ACK</td>
		<td width="10">:</td>
		<td>Successfully received by SMSC (waiting for Mobile Ack)</td>
	</tr>
	<tr>
		<td>Mobile ACK</td>
		<td>:</td>
		<td>Successfully delivered to handset</td>
	</tr>
	<tr>
		<td>ICB</td>
		<td>:</td>
		<td>Insufficient Balance</td>
	</tr>
	<tr>
		<td>Invalid</td>
		<td>:</td>
		<td>Invalid MSISDN</td>
	</tr>
	<tr>
		<td>Not Subscribe</td>
		<td>:</td>
		<td>MSISDN not subscribed to service</td>
	</tr>
	<tr>
		<td>Error</td>
		<td>:</td>
		<td>SMSC Internal Server Error</td>
	</tr>
	<tr>
		<td>Charging Error</td>
		<td>:</td>
		<td>Charging Error</td>
	</tr>
	<tr>
		<td>Expired</td>
		<td>:</td>
		<td>Message Session Expired</td>
	</tr>
	<tr>
		<td>GW Problem</td>
		<td>:</td>
		<td>Gateway Problem</td>
	</tr>
	<tr>
		<td>GW Timeout</td>
		<td>:</td>
		<td>Gateway sent to telco Timeout</td>
	</tr>
</table>
