{include file="header.html"}
<body>
{literal}
<script type="text/javascript" language="JavaScript"> 
<!-- 
function go_delete(d,e) 
{ 
 var where_to= confirm("Yakin Anda akan menghapus ini?");
 var i;
 var j;
 i = d;
 j = e;
 if (where_to== true)
   window.location=i + j;
} 
//-->
</script>
{/literal}
<table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0" class="tabel">
  <tr>
    <td height="106" valign="center" background="{$img_dir}topbarbkg.gif"><div align="center" class="txt-title">{$title}</td>
  </tr>
  <tr>
    <td height="435" valign="top"><table width="100%" height="91%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="16%" height="444" valign="top" background="{$img_dir}leftcollumbkg2.gif"><div align="left">
{include file="menu.html"}
        </div></td>
        <td width="84%" valign="top">
		  <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr height="20">
            <td width="97%">&nbsp;</td>
            <td width="3%">&nbsp;</td>
          </tr>
          <tr>
            <td height="401" valign="top"><div align="center">
            <!-- content begin -->
            	<div align="left" class="text">
            	<!-- Description -->
            	<strong>Media List | <a href="#add" class="link-page">Add New</a> | <font color="#FF0018">{$msg}</font></strong>
            	<br>
            	<br>
            	 <table border="1">
			        <form name="filter" action="" method="get">
			        <tr>
			          <th>Filter</th>
			          <td>
			            Media LIKE
			            <input type="text" name="filter" value="{$filter}" class="text">
			          </td>
			          <td>
			            <input type="submit" value="Go!" class="text">
			          </td>
			         </tr>
			        </form>
			        </table>
			        <!-- Description -->
			        <br>
			        <br>
			        <!-- List -->
			        <table border="0" cellspacing="0" cellpadding="0">
						 <tr>
						   <td bgcolor="#000033">
						    	<table width="100%" height="100%"  border="0" cellpadding="3" cellspacing="1">
								<tr bgcolor="#006699" class="txt-menu">
									<td width="100"><div align="center"><strong>MEDIA ID</strong></div></td>
									<td width="150"><div align="center"><strong>MEDIA CODE</strong></div></td>
									<td width="150"><div align="center"><strong>MEDIA</strong></div></td>
									<td width="150"><div align="center"><strong>ENTRY DATE</strong></div></td>
									<td width="100"><div align="center"><strong>EDIT</strong></div></td>
									<td width="100"><div align="center"><strong>DELETE</strong></div></td>
								</tr>
{section name=row loop=$media_id}
								<tr bgcolor="{$warna[row]}" class="text">
									<td ><div align="center">{$media_id[row]}</div></td>
									<td ><div align="center">{$media_code[row]}</div></td>
									<td ><div align="left">{$media_name[row]}</div></td>
									<td ><div align="left">{$datetime[row]}</div></td>
									<td ><div align="center"><a href="media.php?action=edit&media_id={$media_id[row]}" class="link-page">EDIT</a></div></td>
									<td ><div align="center"><a href="javascript:go_delete('media.php?action=delete&media_id=',{$media_id[row]})" class="link-page">DELETE</a></div></td>
									<!-- <td ><div align="center"><a href="media.php?action=delete&media_id={$media_id[row]}" class="link-page">DELETE</a></div></td> -->
								</tr>
{/section}
							 </table>
						   </td>
						 </tr>
					  </table>
{if $numrows ne ""}
						<table width="45%" border="0" cellpadding="5" cellspacing="0" style="margin-bottom: 30px;">
							<tr class="text">
								<td align="left" valign="top">
									<a href="media.php?begin={$first}&filter={$filter}"><img class="first" src="{$img_dir}bd_firstpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
									<a href="media.php?begin={$prev}&filter={$filter}"><img class="prev" src="{$img_dir}bd_prevpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="prev" /></a>{$dispfrom} - {$dispto} / {$numrows}
									<a href="media.php?begin={$next}&filter={$filter}"><img class="next" src="{$img_dir}bd_nextpage.png" width="8" height="13" hspace="0" vspace="0" border="0" class="next" /></a>
									<a href="media.php?begin={$last}&filter={$filter}"><img class="last" src="{$img_dir}bd_lastpage.png" width="16" height="13" hspace="0" vspace="0" border="0" /></a>
								</td>
								<td align="right" class="text">Total Data: {$numrows}</td>
							</tr>
						</table>
{/if}
					  <!-- List -->
					  <br>
			        <br>
					  <!-- Add -->
					  <a name="add">
					  <form name="add" method="post" action="">
						  <table width="392" border="0" cellpadding="0" cellspacing="0" bgcolor="#000033">
						    <tr>
						    <td bgcolor="#FFFFFF"><div align="left"><strong>Add Media</strong></div></td>
						    </tr>
						    <tr>
						      <td width="392"><table width="100%" height="100"  border="0" cellpadding="3" cellspacing="1">
						        <tr bgcolor="#FFFFFF">
						          <td width="40%" bgcolor="#9DC1F5">* MEDIA CODE</td>
						          <td width="49%"><div align="left">
						            <input type="text" name="media_code" class="text" border="0" value="{$media_code_edit}">
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td width="40%" bgcolor="#9DC1F5">* MEDIA</td>
						          <td width="49%"><div align="left">
						            <input type="text" name="media_name" class="text" border="0" value="{$media_edit}">
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">&nbsp;</td>
						          <td><div align="left">
						            <input type="submit" name="app_add" value="Submit" class="text">
						            <input type="reset" name="Reset" value="Reset" class="text">
						            <input type="hidden" name="action" value="{$action}" class="text">
						            <input type="hidden" name="media_id" value="{$media_id_edit}" class="text">
						          </div></td>
						        </tr>
						      </table></td>
						    </tr>
						  </table>
						</form>
					  <!-- Add -->
					  
            	</div>
            <!-- content end -->
            </div></td>
            <td>&nbsp;</td>
          </tr>
{include file="copyright.html"}
        </table>
		</td>
      </tr>
    </table></td>
  </tr>
</table>

{include file="footer.html"}