{include file="header.html"}
<body>
{literal}
<script type="text/javascript" language="JavaScript"> 
<!-- 
function go_delete(d,e) 
{ 
 var where_to= confirm("Yakin Anda akan menghapus ini?");
 var i;
 var j;
 i = d;
 j = e;
 if (where_to== true)
   window.location=i + j;
} 
//-->
</script>
<SCRIPT LANGUAGE="JavaScript">
<!--

<!-- Begin
function CheckAll()
{
	var allInputs = document.getElementsByTagName("input")
	for (var i = 0; i < allInputs.length; i++) {
		if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
			allInputs[i].checked = true;
		} else continue;
	}
}

function UnCheckAll()
{
	var allInputs = document.getElementsByTagName("input")
	for (var i = 0; i < allInputs.length; i++) {
		if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
			allInputs[i].checked = false;
		} else continue;
	}
}
// End -->
</script>
{/literal}
<table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0" class="tabel">
  <tr>
    <td height="106" valign="center" background="{$img_dir}topbarbkg.gif"><div align="center" class="txt-title">{$title}</td>
  </tr>
  <tr>
    <td height="435" valign="top"><table width="100%" height="91%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="16%" height="444" valign="top" background="{$img_dir}leftcollumbkg2.gif"><div align="left">
{include file="menu.html"}
        </div></td>
        <td width="84%" valign="top">
		  <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr height="20">
            <td width="97%">&nbsp;</td>
            <td width="3%">&nbsp;</td>
          </tr>
          <tr>
            <td height="401" valign="top"><div align="center">
            <!-- content begin -->
            	<div align="left" class="text">
            		<div align="left" class="text">
            		<strong>MONTHLY TRAFFIC</strong>
            	<br>
            	<br>
            	 <!-- Add -->
					  <a name="add">
					  <form name="add" method="get" action="">
						  <table width="1070" border="0" cellpadding="0" cellspacing="0" bgcolor="#000033">
						    <tr>
						      <td width="850"><table width="100%" height="100"  border="0" cellpadding="3" cellspacing="1">
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">TAHUN</td>
						          <td><div align="left">
						            {$dd_year}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">SHORTCODE</td>
						          <td><div align="left">
						            {$dd_shortcode}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">TELCO</td>
						          <td><div align="left">
						            {$dd_telco}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">SERVICE</td>
						          <td><div align="left">
						            {$checkbox}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">&nbsp;</td>
						          <td><div align="left">
						            <input type="submit" name="submit" value="Submit" class="text">
						          </div></td>
						        </tr>
						      </table></td>
						    </tr>
						  </table>
						</form>
					  <!-- Add -->
					  	<br>
					  	<br>
					  	<!-- List -->
			        <table border="0" cellspacing="0" cellpadding="0">
						  	<tr>
								 <td><div align="left"><strong>MONTHLY TRAFFIC : [ Tahun : {$tahun_traffic} ] [ SHORTCODE : {$sc} ] [ TELCO : {$tlc} ] [ Service : {$s_name} ]</strong></div></td>
								 </tr>
								 <tr>
								 <td>&nbsp;</td>
								 </tr>
					  	</table>
							<table border="0" cellspacing="0" cellpadding="0">
						  	<tr bgcolor="#000033">
								 <td>
								 	<table border="0" cellpadding="3" cellspacing="1">
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>Bulan</strong></div></td>
											<td><div align="left" class="txt-menu"><strong>This Year Running</strong></div></td>
											{section name=r loop=$tgl_print}
											<td><div align="center" class="txt-menu"><strong>{$tgl_print[r]}</strong></div></td>
											{/section}
										</tr>
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>MO</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$mo_tot|number_format}</strong></div></td>
											{section name=rmo loop=$mo}
											<td bgcolor="#FFFFFF"><div align="right" class="text">{$mo[rmo]|number_format}</div></td>
											{/section}
										</tr>
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>MT Delivered</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$mt_ok_tot|number_format}</strong></div></td>
											{section name=rmt_ok loop=$mt_ok}
											<td bgcolor="#FFFFFF"><div align="right" class="text">{$mt_ok[rmt_ok]|number_format}</div></td>
											{/section}
										</tr>
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>MT Rejected</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$mt_nok_tot|number_format}</strong></div></td>
											{section name=rmt_nok loop=$mt_nok}
											<td bgcolor="#FFFFFF"><div align="right" class="text">{$mt_nok[rmt_nok]|number_format}</div></td>
											{/section}
										</tr>
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>MT Total</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$total_mt_tot|number_format}</strong></div></td>
											{section name=rtotal_mt loop=$total_mt}
											<td bgcolor="#FFFFFF"><div align="right" class="text">{$total_mt[rtotal_mt]|number_format}</div></td>
											{/section}
										</tr>
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>Gross Rev</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$gross_tot|number_format}</strong></div></td>
											{section name=rgross loop=$gross}
											<td bgcolor="#CCCCCC"><div align="right" class="text"><strong>{$gross[rgross]|number_format}</strong></div></td>
											{/section}
										</tr>
										<tr bgcolor="#006699" class="text">
											<td><div align="left" class="txt-menu"><strong>Net Rev</strong></div></td>
											<td bgcolor="#666666"><div align="right" class="txt-menu"><strong>{$net_tot|number_format}</strong></div></td>
											{section name=rnet loop=$net}
											<td bgcolor="#CCCCCC"><div align="right" class="text"><strong>{$net[rnet]|number_format}</strong></div></td>
											{/section}
										</tr> 
							 </table>
								 </td>
								 </tr>
					  	</table>
					  	<br/>
						  <table width="100%" height="100%"  border="0" cellpadding="3" cellspacing="1">
									<tr class="txt-menu">
										<td><div align="left"><img src="http://202.75.28.18/sms/engine/reporting/chart_monthly_traffic.php{$php_query_string}" /></div></td>
									</tr>
							 </table>
					  <!-- List -->
            	</div>
            <!-- content end -->
            </div></td>
            <td>&nbsp;</td>
          </tr>
{include file="copyright.html"}
        </table>
		</td>
      </tr>
    </table></td>
  </tr>
</table>

{include file="footer.html"}