{include file="header.html"}
<body>
{literal}
<script type="text/javascript" language="JavaScript"> 
<!-- 
function go_delete(d,e) 
{ 
 var where_to= confirm("Yakin Anda akan menghapus ini?");
 var i;
 var j;
 i = d;
 j = e;
 if (where_to== true)
   window.location=d + e;
} 
//-->
</script>
{/literal}
<table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0" class="tabel">
  <tr>
    <td height="106" valign="center" background="{$img_dir}topbarbkg.gif"><div align="center" class="txt-title">{$title}</td>
  </tr>
  <tr>
    <td height="435" valign="top"><table width="100%" height="91%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="16%" height="444" valign="top" background="{$img_dir}leftcollumbkg2.gif"><div align="left">
{include file="menu.html"}
        </div></td>
        <td width="84%" valign="top">
		  <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr height="20">
            <td width="97%">&nbsp;</td>
            <td width="3%">&nbsp;</td>
          </tr>
          <tr>
            <td height="401" valign="top"><div align="center">
            <!-- content begin -->
            	<div align="left" class="text">
            	<!-- Description -->
            	<strong>MT REPORT</strong>
            	<br>
            	<br>
            	 <!-- Add -->
					  <a name="add">
					  <form name="add" method="get" action="">
						  <table width="392" border="0" cellpadding="0" cellspacing="0" bgcolor="#000033">
						    <tr>
						      <td width="392"><table width="100%" height="100"  border="0" cellpadding="3" cellspacing="1">
						        
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">PREFIX</td>
						          <td><div align="left">
						            {$dd_prefix}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">DATE START</td>
						          <td><div align="left">
						            <input name="tgl2" type="text" class="text" id="a" value="{$tgl2}"><input name="reset" type="reset" class="text" onclick="return showCalendar('a', '%Y-%m-%d', '24', true);" value=" ... ">
						          </div></td>
						        </tr>
								<tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">DATE END</td>
						          <td><div align="left">
						            <input name="tgl3" type="text" class="text" id="b" value="{$tgl3}"><input name="reset" type="reset" class="text" onclick="return showCalendar('b', '%Y-%m-%d', '24', true);" value=" ... ">
						          </div></td>
						        </tr>
								<tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">TIME</td>
						          <td><div align="left">
						            {$dd_month}
						            {$dd_year}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">&nbsp;</td>
						          <td><div align="left">
									<input type="submit" name="submit" value="Submit" class="text">
						          </div></td>
						        </tr>
						      </table></td>
						    </tr>
						  </table>
						</form>
{if $submit ne ""}
					  <!-- Add -->
			        <!-- Description -->
			        <br>
			        <br>
			        <!-- List -->
					<table border="0" cellspacing="0" cellpadding="0">
						  	<tr>
								 <td><div align="left"><strong>MT REPORT -- : [ Bulan : {$bulan_name} , Tahun : {$tahun} ] [ PREFIX : {$prefix2} ] [ DATE START : {$tgl2} ] [ DATE END : {$tgl3} ]</strong></div></td>
								 </tr>
								 <tr>
								 <td>&nbsp;</td>
								 </tr>
					  	</table>
			        <table border="0" cellspacing="0" cellpadding="0">
						 <tr>
						   <td bgcolor="#000033">
						    	<table width="100%" height="100%"  border="0" cellpadding="3" cellspacing="1">
								<tr bgcolor="#006699" class="txt-menu">
									<td width="100"><div align="center"><strong>PREFIX</strong></div></td>
									<td width="150"><div align="center"><strong>SID</strong></div></td>
									<td width="100"><div align="center"><strong>CHARGE</strong></div></td>
									<td width="100"><div align="center"><strong>DN TELCO</strong></div></td>
									<td width="100"><div align="center"><strong>JUMLAH</strong></div></td>
									<td width="100"><div align="center"><strong>GROSS</strong></div></td>
								</tr>
{section name=row loop=$prefix}
								<tr bgcolor="{$warna[row]}" class="text">
									<td ><div align="center">{$prefix[row]}</div></td>
									<td ><div align="center">{$sid[row]}</div></td>
									<td ><div align="right">{$charge[row]|number_format}</div></td>
									<td ><div align="center">{$dn_telco[row]}</div></td>
									<td ><div align="right">{$jumlah_final[row]|number_format}</div></td>
									<td ><div align="right">{$gross[row]|number_format}</div></td>
								</tr>
{/section}
								<tr bgcolor="#CCCCCC" class="text">
									<td ><div align="center"></div></td>
									<td ><div align="center"></div></td>
									<td ><div align="right"></div></td>
									<td ><div align="center"></div></td>
									<td ><div align="right"></div></td>
									<td ><div align="right">{$total_gross|number_format}</div></td>
								</tr>
							 </table>
						   </td>
						 </tr>
					  </table>
					  <!-- List -->
					  <br>
{/if}
            	</div>
            <!-- content end -->
            </div></td>
            <td>&nbsp;</td>
          </tr>
{include file="copyright.html"}
        </table>
		</td>
      </tr>
    </table></td>
  </tr>
</table>

{include file="footer.html"}