{include file="header.html"}
<body>
{literal}
<script type="text/javascript" language="JavaScript"> 
<!-- 
function go_delete(d,e) 
{ 
 var where_to= confirm("Yakin Anda akan menghapus ini?");
 var i;
 var j;
 i = d;
 j = e;
 if (where_to== true)
   window.location=d + e;
} 
//-->
</script>
{/literal}
<table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0" class="tabel">
  <tr>
    <td height="106" valign="center" background="{$img_dir}topbarbkg.gif"><div align="center" class="txt-title">{$title}</td>
  </tr>
  <tr>
    <td height="435" valign="top"><table width="100%" height="91%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="16%" height="444" valign="top" background="{$img_dir}leftcollumbkg2.gif"><div align="left">
{include file="menu.html"}
        </div></td>
        <td width="84%" valign="top">
		  <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr height="20">
            <td width="97%">&nbsp;</td>
            <td width="3%">&nbsp;</td>
          </tr>
          <tr>
            <td height="401" valign="top"><div align="center">
            <!-- content begin -->
            	<div align="left" class="text">
            	<!-- Description -->
            	<strong>Partner Traffic</strong>
            	<br>
            	<br>
            	 <!-- Add -->
					  <a name="add">
					  <form name="add" method="get" action="">
						  <table width="392" border="0" cellpadding="0" cellspacing="0" bgcolor="#000033">
						    <tr>
						      <td width="392"><table width="100%" height="100"  border="0" cellpadding="3" cellspacing="1">
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">BULAN</td>
						          <td><div align="left">
						            {$dd_month}
						            {$dd_year}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">SHORTCODE</td>
						          <td><div align="left">
						            {$dd_shortcode}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">TELCO</td>
						          <td><div align="left">
						            {$dd_telco}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">SERVICE</td>
						          <td><div align="left">
						            {$dd_service}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">&nbsp;</td>
						          <td><div align="left">
						            <input type="submit" name="submit" value="Submit" class="text">
						          </div></td>
						        </tr>
						      </table></td>
						    </tr>
						  </table>
						</form>
					  <!-- Add -->
			        <!-- Description -->
			        <br>
			        <br>
			        <!-- List -->
{if $submit == "Submit"}
{if $service eq "--"}
							<table border="0" cellspacing="0" cellpadding="0">
						 <tr>
						 <td><div align="left"><strong>Silahkan pilih service terlebih dahulu</strong></div></td>
						 </tr>
						</table>
{else}
						<table border="0" cellspacing="0" cellpadding="0">
						 <tr>
						 <td><div align="left"><strong>TRAFFIC : [ {$bln} - {$thn} ] [ SHORTCODE : {$sc} ] [ TELCO : {$tlc} ] [ Service : {$s_name} ]</strong></div></td>
						 </tr>
						 <tr>
						 <td>&nbsp;</td>
						 </tr>
						 <tr>
						   <td bgcolor="#000033">
						    	<table width="100%" height="100%"  border="0" cellpadding="3" cellspacing="1">
									<tr bgcolor="#9DC1F5">
										<th align="center" >DATE</th>
										<th align="center" >Total SMS Sukses</th>
										<th align="center" >Total SMS Fail</th>
										<th align="center" >Total SMS Send</th>
										<th align="center" >Gross Revenue</th>
										<th align="center" >Net Revenue GALAKSI</th>
									</tr>
{section name=p loop=$tgl}
									<tr bgcolor="#FFFFFF">
										<td align="center">{$tgl[p]}</td>
										<td align="center">{$mt_ok[p]|number_format}</td>
										<td align="center">{$mt_nok[p]|number_format}</td>
										<td align="center">{$mt_tot[p]|number_format}</td>
										<td align="right">Rp.{$gross[p]|number_format}</td>
										<td align="right">Rp.{$nett[p]|number_format}</td>
									</tr>
{/section}
							 		<tr bgcolor="#9DC1F5">
										<th align="center" ></th>
										<th align="center" >{$mt_ok_total|number_format}</th>
										<th align="center" >{$mt_nok_total|number_format}</th>
										<th align="center" >{$mt_tot_total|number_format}</th>
										<th align="right" >Rp.{$gross_total|number_format}</th>
										<th align="right" >Rp.{$nett_total|number_format}</th>
									</tr>
							 </table>
						   </td>
						 </tr>
						 <tr>
						 <td><div align="center">&nbsp;</div></td>
						 </tr>
						 <tr>
						 <td><div align="center"><a href="partner_traffic_excel.php?bln={$bln}&thn={$thn}&shortcode={$sc}&telco={$tlc}&service={$service}" class="link1">Save to Excel</a></div></td>
						 </tr>
					  </table>
{/if}
			        
{/if}
					  <!-- List -->
					  <br>
            	</div>
            <!-- content end -->
            </div></td>
            <td>&nbsp;</td>
          </tr>
{include file="copyright.html"}
        </table>
		</td>
      </tr>
    </table></td>
  </tr>
</table>

{include file="footer.html"}