{include file="header.html"}
<body>
{literal}
<script type="text/javascript" language="JavaScript"> 
<!-- 
function go_delete(d,e) 
{ 
 var where_to= confirm("Yakin Anda akan menghapus ini?");
 var i;
 var j;
 i = d;
 j = e;
 if (where_to== true)
   window.location=i + j;
} 
//-->
</script>
{/literal}
<table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0" class="tabel">
  <tr>
    <td height="106" valign="center" background="{$img_dir}topbarbkg.gif"><div align="center" class="txt-title">{$title}</td>
  </tr>
  <tr>
    <td height="435" valign="top"><table width="100%" height="91%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="16%" height="444" valign="top" background="{$img_dir}leftcollumbkg2.gif"><div align="left">
{include file="menu.html"}
        </div></td>
        <td width="84%" valign="top">
		  <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr height="20">
            <td width="97%">&nbsp;</td>
            <td width="3%">&nbsp;</td>
          </tr>
          <tr>
            <td height="401" valign="top"><div align="center">
            <!-- content begin -->
            	<div align="left" class="text">
            	<!-- Description -->
            	<strong>Push SMS | <font color="#FF0018">{$msg}</font></strong>
            	<br>
			        <!-- Description -->
			        <br>
			        <br>
					<!-- Add -->
					  <a name="add">
					  <form name="add" method="post" action="">
						  <table width="392" border="0" cellpadding="0" cellspacing="0" bgcolor="#000033">
						    <tr>
						    <td bgcolor="#FFFFFF"><div align="left"><strong>Push SMS</strong></div></td>
						    </tr>
						    <tr>
						      <td width="392"><table width="100%" height="100"  border="0" cellpadding="3" cellspacing="1">
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">* SERVICE</td>
						          <td><div align="left">
						            {$dd_service}
						          </div></td>
						        </tr>
								<tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">* MSISDN</td>
						          <td><div align="left">
						            <textarea class="text" name="msisdns" cols="30" rows="7" ></textarea>
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">* SHORTCODE</td>
						          <td><div align="left">
						            {$dd_shortcode}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">* TELCO</td>
						          <td><div align="left">
						            {$dd_telco}
						          </div></td>
						        </tr>
								<tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">* PRICE</td>
						          <td><div align="left">
						            <select name='price' class="text">
										<option value='PULL-0' >PULL-0</option>
										<option value='PUSH-0' >PUSH-0</option>
										<option value='PULL-2000' >PULL-2000</option>
										<option value='PUSH-2000' >PUSH-2000</option>
										<option value='PUSH-1650' >PUSH-1650</option>
										<option value='PUSH-2000-musik' >PUSH-2000-cool</option>
									</select>
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">* SMS</td>
						          <td><div align="left">
						            <textarea class="text" name="content" cols="30" rows="7" onKeyDown="textCounter(this.form.content,this.form.remLentext,160);" onKeyUp="textCounter(this.form.content,this.form.remLentext,160);"></textarea>*
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">CHARACTER COUNT</td>
						          <td><div align="left">
						            <input name="remLentext" type="text" class="text" id="remLentext" value="160" size="10">
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">&nbsp;</td>
						          <td><div align="left">
						            <input type="submit" name="app_add" value="Submit" class="text">
						            <input type="reset" name="Reset" value="Reset" class="text">
						          </div></td>
						        </tr>
						      </table></td>
						    </tr>
						  </table>
						</form>
					  <!-- Add -->
					  <br/><br/>
			        <!-- List -->
			        <table border="0" cellspacing="0" cellpadding="0">
						 <tr>
						   <td bgcolor="#000033">
						    	<table width="100%" height="100%"  border="0" cellpadding="3" cellspacing="1">
								<tr bgcolor="#006699" class="txt-menu">
									<td><div align="center"><strong>APPID</strong></div></td>
									<td><div align="center"><strong>DESCRIPTION</strong></div></td>
									<td><div align="center"><strong>MSISDN</strong></div></td>
									<td><div align="center"><strong>SHORTCODE</strong></div></td>
									<td><div align="center"><strong>TELCO</strong></div></td>
									<td><div align="center"><strong>SMS</strong></div></td>
									<td><div align="center"><strong>ENTRY DATE</strong></div></td>
								</tr>
{section name=row loop=$id}
								<tr bgcolor="{$warna[row]}" class="text">
									<td ><div align="center">{$appid[row]}</div></td>
									<td ><div align="left">{$description[row]}</div></td>
									<td ><div align="left">{$msisdn[row]}</div></td>
									<td ><div align="center">{$shortcode[row]}</div></td>
									<td ><div align="center">{$telco[row]}</div></td>
									<td ><div align="left">{$sms[row]}</div></td>
									<td ><div align="left">{$datetime[row]}</div></td>
								</tr>
{/section}
							 </table>
						   </td>
						 </tr>
					  </table>
					  <!-- List -->
					  <br>
					  
            	</div>
            <!-- content end -->
            </div></td>
            <td>&nbsp;</td>
          </tr>
{include file="copyright.html"}
        </table>
		</td>
      </tr>
    </table></td>
  </tr>
</table>

{include file="footer.html"}