{include file="header.html"}
<body>
{literal}
<script type="text/javascript" language="JavaScript"> 
<!-- 
function go_delete(d,e) 
{ 
 var where_to= confirm("Yakin Anda akan menghapus ini?");
 var i;
 var j;
 i = d;
 j = e;
 if (where_to== true)
   window.location=d + e;
} 
//-->
</script>
{/literal}
<table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0" class="tabel">
  <tr>
    <td height="106" valign="center" background="{$img_dir}topbarbkg.gif"><div align="center" class="txt-title">{$title}</td>
  </tr>
  <tr>
    <td height="435" valign="top"><table width="100%" height="91%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="16%" height="444" valign="top" background="{$img_dir}leftcollumbkg2.gif"><div align="left">
{include file="menu.html"}
        </div></td>
        <td width="84%" valign="top">
		  <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr height="20">
            <td width="97%">&nbsp;</td>
            <td width="3%">&nbsp;</td>
          </tr>
          <tr>
            <td height="401" valign="top"><div align="center">
            <!-- content begin -->
            	<div align="left" class="text">
            	<!-- Description -->
            	<strong>Report</strong>
            	<br>
            	<br>
            	 <!-- Add -->
					  <a name="add">
					  <form name="add" method="get" action="">
						  <table width="392" border="0" cellpadding="0" cellspacing="0" bgcolor="#000033">
						    <tr>
						      <td width="392"><table width="100%" height="100"  border="0" cellpadding="3" cellspacing="1">
						        <tr bgcolor="#FFFFFF">
						          <td width="40%" bgcolor="#9DC1F5"><input type="radio" name="type" value="now" {if $check == "1"} checked {/if}>TGL HARI INI</td>
						          <td width="49%"><div align="left">
						            {$tgl_now}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5"><input type="radio" name="type" value="other" {if $check == "2"} checked {/if}>TGL LAIN</td>
						          <td><div align="left">
						            <input name="tgl" type="text" class="text" id="b" value="{$tgl}" ><input name="reset" type="reset" class="text" onclick="return showCalendar('b', '%Y-%m-%d', '24', true);" value=" ... ">
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5"><input type="radio" name="type" value="bln" {if $check == "3"} checked {/if}>BULAN</td>
						          <td><div align="left">
						            {$dd_month}
						            {$dd_year}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">TELCO</td>
						          <td><div align="left">
						            {$dd_telco}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">SHORTCODE</td>
						          <td><div align="left">
						            <input type="text" name="shortcode2" class="text" value="{$shortcode2}">
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">MEDIA</td>
						          <td><div align="left">
						            <select name="media2" class="text">
{if $media2_id ne ""}
										<option value="{$media2_id}" selected>{$media2_name}</option>
{/if}
										<option value="all">All</option>
{section name=row loop=$media_id}
						            <option value="{$media_id[row]}">{$media_name[row]}</option>
{/section}
						            </select>
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">PARTNER</td>
						          <td><div align="left">
						            <select name="partner2" class="text">
{if $partner2_id ne ""}
										<option value="{$partner2_id}" selected>{$partner2_name}</option>
{/if}
						            <option value="all">All</option>
{section name=row loop=$partner_id}
						            <option value="{$partner_id[row]}">{$partner_name[row]}</option>
{/section}
						            </select>
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">&nbsp;</td>
						          <td><div align="left">
						            <input type="submit" name="submit" value="Submit" class="text">
						          </div></td>
						        </tr>
						      </table></td>
						    </tr>
						  </table>
						</form>
					  <!-- Add -->
			        <!-- Description -->
			        <br>
			        <br>
			        <!-- List -->
{if $submit == "Submit"}
			        <table border="0" cellspacing="0" cellpadding="0">
						 <tr>
						 <td><div align="left"><strong>TRAFFIC : [ {if $type == "bln"} Bulan : {$bln} , Tahun : {$thn} {elseif $type == "other"} Tanggal : {$tgl} {else} Tanggal : {$tgl_now} {/if} ] [ Operator : {$telco_name} ] [ Media : {$media2_name} ] [ Partner : {$partner2_name} ]</strong></div></td>
						 </tr>
						 <tr>
						 <td>&nbsp;</td>
						 </tr>
						 <tr>
						   <td bgcolor="#000033">
						    	<table width="100%" height="100%"  border="0" cellpadding="3" cellspacing="1">
									<tr bgcolor="#9DC1F5">
										<th align="center" width="100" rowspan="2">APPID</th>
										<th align="center" rowspan="2">DESCRIPTION</th>
										<th align="center" width="150" rowspan="2">DLV</th>
										<th align="center" width="150" rowspan="2">UNDLV</th>
										<th align="center" width="150" rowspan="2">TOTAL</th>
										<th align="center" width="150" colspan="7">CHANNEL</th>
										<th align="center" width="150" rowspan="2">GROSS REV (RP)</th>
										<th align="center" width="150" rowspan="2">NET REV (RP)</th>
									</tr>
									<tr bgcolor="#9DC1F5">
										<th align="center" width="150">SMS</th>
										<th align="center" width="150">WAP</th>
										<th align="center" width="150">WEB</th>
										<th align="center" width="150">STK</th>
										<th align="center" width="150">UMB</th>
										<th align="center" width="150">MENU</th>
										<th align="center" width="150">OTHER</th>
									</tr>
{section name=p loop=$appids}
									<tr bgcolor="#FFFFFF">
										<td align="center" width="100">{$appids[p]}</td>
										<td align="left">{$descs[p]}</td>
										<td align="right" width="150">{$dlvs[p]|number_format}</td>
										<td align="right" width="150">{$undlvs[p]|number_format}</td>
										<td align="right" width="150">{$total_sms[p]|number_format}</td>
										<td align="right" width="150">{$c_sms[p]|number_format}</td>
										<td align="right" width="150">{$c_wap[p]|number_format}</td>
										<td align="right" width="150">{$c_web[p]|number_format}</td>
										<td align="right" width="150">{$c_stk[p]|number_format}</td>
										<td align="right" width="150">{$c_umb[p]|number_format}</td>
										<td align="right" width="150">{$c_menu[p]|number_format}</td>
										<td align="right" width="150">{$c_other[p]|number_format}</td>
										<td align="right" width="150">{$gross_rev[p]|number_format}</td>
										<td align="right" width="150">{$net_rev[p]|number_format}</td>
									</tr>
{/section}
									<tr bgcolor="#FFFFFF">
										<td><b>Total</b></td>
										<td></td>
										<td align="right"><b>{$stat_d|number_format}</b></td>
										<td align="right"><b>{$stat_u|number_format}</b></td>
										<td align="right"><b>{$stat_tot|number_format}</b></td>
										<td align="right"><b>{$tot_sms|number_format}</b></td>
										<td align="right"><b>{$tot_wap|number_format}</b></td>
										<td align="right"><b>{$tot_web|number_format}</b></td>
										<td align="right"><b>{$tot_stk|number_format}</b></td>
										<td align="right"><b>{$tot_umb|number_format}</b></td>
										<td align="right"><b>{$tot_menu|number_format}</b></td>
										<td align="right"><b>{$tot_other|number_format}</b></td>
										<td align="right"><b>{$stat_gr|number_format}</b></td>
										<td align="right"><b>{$stat_nr|number_format}</b></td>
									</tr>
									<tr bgcolor="#9DC1F5">
										<th align="center" width="100" rowspan="2">APPID</th>
										<th align="center" rowspan="2">DESCRIPTION</th>
										<th align="center" width="150" rowspan="2">DLV</th>
										<th align="center" width="150" rowspan="2">UNDLV</th>
										<th align="center" width="150" rowspan="2">TOTAL</th>
										<th align="center" width="150" colspan="7">CHANNEL</th>
										<th align="center" width="150" rowspan="2">GROSS REV (RP)</th>
										<th align="center" width="150" rowspan="2">NET REV (RP)</th>
									</tr>
									<tr bgcolor="#9DC1F5">
										<th align="center" width="150">SMS</th>
										<th align="center" width="150">WAP</th>
										<th align="center" width="150">WEB</th>
										<th align="center" width="150">STK</th>
										<th align="center" width="150">UMB</th>
										<th align="center" width="150">MENU</th>
										<th align="center" width="150">OTHER</th>
									</tr>
							 </table>
						   </td>
						 </tr>
					  </table>
{/if}
					  <!-- List -->
					  <br>
            	</div>
            <!-- content end -->
            </div></td>
            <td>&nbsp;</td>
          </tr>
{include file="copyright.html"}
        </table>
		</td>
      </tr>
    </table></td>
  </tr>
</table>

{include file="footer.html"}