{include file="header.html"}
<body>
{literal}
<script type="text/javascript" language="JavaScript"> 
<!-- 
function go_delete(d,e) 
{ 
 var where_to= confirm("Yakin Anda akan menghapus ini?");
 var i;
 var j;
 i = d;
 j = e;
 if (where_to== true)
   window.location=d + e;
} 
//-->
</script>
{/literal}
<table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0" class="tabel">
  <tr>
    <td height="106" valign="center" background="{$img_dir}topbarbkg.gif"><div align="center" class="txt-title">{$title}</td>
  </tr>
  <tr>
    <td height="435" valign="top"><table width="100%" height="91%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="16%" height="444" valign="top" background="{$img_dir}leftcollumbkg2.gif"><div align="left">
{include file="menu.html"}
        </div></td>
        <td width="84%" valign="top">
		  <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr height="20">
            <td width="97%">&nbsp;</td>
            <td width="3%">&nbsp;</td>
          </tr>
          <tr>
            <td height="401" valign="top"><div align="center">
            <!-- content begin -->
            	<div align="left" class="text">
            	<!-- Description -->
            	<strong>SMS SUBSCRIBER</strong>
            	<br>
            	<br>
            	 <!-- Add -->
					  <a name="add">
					  <form name="add" method="get" action="">
						  <table width="392" border="0" cellpadding="0" cellspacing="0" bgcolor="#000033">
						    <tr>
						      <td width="392"><table width="100%" height="100"  border="0" cellpadding="3" cellspacing="1">
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">SHORTCODE</td>
						          <td><div align="left">
												{$dd_shortcode}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">TELCO</td>
						          <td><div align="left">
						            {$dd_telco}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">&nbsp;</td>
						          <td><div align="left">
						            <input type="submit" name="app_add" value="Submit" class="text">
						          </div></td>
						        </tr>
						      </table></td>
						    </tr>
						  </table>
						</form>
					  <!-- Add -->
			        <!-- Description -->
			        <br>
			        <br>
			        <!-- List -->
			        <table width="80%" border="0" cellspacing="0" cellpadding="0">
			        	<tr>
			        		<td><strong>SUBSCRIBER : [ SHORTCODE : {$sc} ] [ TELCO : {$tlc} ]</strong></td>
			        	</tr>
			        	<tr>
								 <td>&nbsp;</td>
								 </tr>
						 <tr>
						   <td bgcolor="#000033">
						    <table width="100%" height="100%" border="0" cellpadding="3" cellspacing="1">
								<tr bgcolor="#006699" class="txt-menu">
									<td width="50"><div align="center"><strong>NO</strong></div></td>
									<td width="100"><div align="center"><strong>SERVICE</strong></div></td>
									<td width="150"><div align="center"><strong>DESCRIPTION</strong></div></td>
									<td width="100"><div align="center"><strong>MEMBER AKTIF</strong></div></td>
									<td width="150"><div align="center"><strong>MEMBER NON AKTIF</strong></div></td>
									<td width="150"><div align="center"><strong>TOTAL MEMBER</strong></div></td>
								</tr>
{section name=row loop=$no}
								<tr bgcolor="{$warna[row]}" class="text">
									<td ><div align="center">{$no[row]}</div></td>
									<td ><div align="center">{$appids[row]}</div></td>
									<td ><div align="left">{$descs[row]}</div></td>
									<td ><div align="center">{$aktifs[row]|number_format}</div></td>
									<td ><div align="center">{$non_aktifs[row]|number_format}</div></td>
									<td ><div align="center">{$total_members[row]|number_format}</div></td>
								</tr>
{/section}
								<tr bgcolor="#006699" class="txt-menu">
									<td width="50"><div align="center"><strong></strong></div></td>
									<td width="100"><div align="center"><strong></strong></div></td>
									<td width="150"><div align="center"><strong>TOTAL</strong></div></td>
									<td width="100"><div align="center"><strong>{$total_reg_aktif|number_format}</strong></div></td>
									<td width="150"><div align="center"><strong>{$total_reg_nonaktif|number_format}</strong></div></td>
									<td width="150"><div align="center"><strong>{$total|number_format}</strong></div></td>
								</tr>
							 </table>
						   </td>
						 </tr>
					  </table>
					  <!-- List -->
					  <br>
            	</div>
            <!-- content end -->
            </div></td>
            <td>&nbsp;</td>
          </tr>
{include file="copyright.html"}
        </table>
		</td>
      </tr>
    </table></td>
  </tr>
</table>

{include file="footer.html"}