{include file="header.html"}
<body>
{literal}
<script type="text/javascript" language="JavaScript"> 
<!-- 
function go_delete(d,e) 
{ 
 var where_to= confirm("Yakin Anda akan menghapus ini?");
 var i;
 var j;
 i = d;
 j = e;
 if (where_to== true)
   window.location=i + j;
} 
//-->
</script>
<SCRIPT LANGUAGE="JavaScript">
<!--

<!-- Begin
function CheckAll()
{
	var allInputs = document.getElementsByTagName("input")
	for (var i = 0; i < allInputs.length; i++) {
		if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
			allInputs[i].checked = true;
		} else continue;
	}
}

function UnCheckAll()
{
	var allInputs = document.getElementsByTagName("input")
	for (var i = 0; i < allInputs.length; i++) {
		if (allInputs[i].type == 'checkbox' && allInputs[i].id.substring(0,10)=='check_list'){
			allInputs[i].checked = false;
		} else continue;
	}
}
// End -->
</script>
{/literal}
<table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0" class="tabel">
  <tr>
    <td height="106" valign="center" background="{$img_dir}topbarbkg.gif"><div align="center" class="txt-title">{$title}</td>
  </tr>
  <tr>
    <td height="435" valign="top"><table width="100%" height="91%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="16%" height="444" valign="top" background="{$img_dir}leftcollumbkg2.gif"><div align="left">
{include file="menu.html"}
        </div></td>
        <td width="95%" valign="top">
		  <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr height="20">
            <td width="97%">&nbsp;</td>
            <td width="3%">&nbsp;</td>
          </tr>
          <tr>
            <td height="401" valign="top"><div align="center">
            <!-- content begin -->
            	<div align="left" class="text">
            		<div align="left" class="text">
            		<strong>TRAFFIC PER SID</strong>
            	<br>
            	<br>
            	 <!-- Add -->
					  <a name="add">
					  <form name="add" method="get" action="">
						  <table border="0" cellpadding="0" cellspacing="0" bgcolor="#000033">
						    <tr>
						      <td ><table width="100%" height="100"  border="0" cellpadding="3" cellspacing="1">
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">BULAN</td>
						          <td><div align="left">
						            {$dd_month}
						            {$dd_year}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">SHORTCODE</td>
						          <td><div align="left">
						            {$dd_shortcode}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">TELCO</td>
						          <td><div align="left">
						            {$dd_telco}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">&nbsp;</td>
						          <td><div align="left">
						            <input type="submit" name="submit" value="Submit" class="text">
						          </div></td>
						        </tr>
						      </table></td>
						    </tr>
						  </table>
						</form>
					  <!-- Add -->
					  	<br>
					  	<br>
					  	<!-- List -->
			        <table border="0" cellspacing="0" cellpadding="0">
						  	<tr>
								 <td><div align="left"><strong> TRAFFIC PER SID -- : [ Bulan : {$bulan_traffic} , Tahun : {$tahun_traffic} ] [ SHORTCODE : {$sc} ] [ TELCO : {$tlc} ]</strong></div></td>
								 </tr>
								 <tr>
								 <td>&nbsp;</td>
								 </tr>
					  	</table>
							
						<table border="0" cellspacing="0" cellpadding="0">
						 <tr>
						   <td bgcolor="#000033">
						    	<table width="100%" height="100%"  border="0" cellpadding="3" cellspacing="1">
								<tr bgcolor="#006699" class="txt-menu">
									<td><div align="center"><strong>TARIFF</strong></div></td>
									<td><div align="center"><strong>BEARER COST</strong></div></td>
									<td><div align="center"><strong>CONTENT VALUE</strong></div></td>
									<td><div align="center"><strong>SID</strong></div></td>
									<td><div align="center"><strong>JUMLAH</strong></div></td>
									<td><div align="center"><strong>GROSS REVENUE</strong></div></td>
									<td><div align="center"><strong>NETT REVENUE</strong></div></td>
								</tr>
{section name=row loop=$sid}
								<tr bgcolor="{$warna[row]}" class="text">
									<td ><div align="right">{$tarif[row]|number_format}</div></td>
									<td ><div align="right">{$bearer[row]}</div></td>
									<td ><div align="right">{$content_value[row]|number_format}</div></td>
									<td ><div align="left">{$sid[row]}</div></td>
									<td ><div align="right">{$jumlah[row]|number_format}</div></td>
									<td ><div align="right">{$gross[row]|number_format}</div></td>
									<td ><div align="right">{$nett[row]|number_format}</div></td>
								</tr>
{/section}
								<tr bgcolor="#CCCCCC" class="text">
									<td ><div align="center"></div></td>
									<td ><div align="left"></div></td>
									<td ><div align="center"></div></td>
									<td ><div align="center"></div></td>
									<td ><div align="center"></div></td>
									<td ><div align="right"><strong>{$tot_gross|number_format}</strong></div></td>
									<td ><div align="right"><strong>{$tot_nett|number_format}</strong></div></td>
								</tr>
							 </table>
						   </td>
						 </tr>
					  </table>
							
            	</div>
            <!-- content end -->
            </div></td>
            <td>&nbsp;</td>
          </tr>
{include file="copyright.html"}
        </table>
		</td>
      </tr>
    </table></td>
  </tr>
</table>

{include file="footer.html"}