{include file="header.html"}
<body>
{literal}
<script type="text/javascript" language="JavaScript"> 
<!-- 
function go_delete(d,e) 
{ 
 var where_to= confirm("Yakin Anda akan menghapus ini?");
 var i;
 var j;
 i = d;
 j = e;
 if (where_to== true)
   window.location=d + e;
} 
//-->
</script>
{/literal}
<table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0" class="tabel">
  <tr>
    <td height="106" valign="center" background="{$img_dir}topbarbkg.gif"><div align="center" class="txt-title">{$title}</td>
  </tr>
  <tr>
    <td height="435" valign="top"><table width="100%" height="91%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="16%" height="444" valign="top" background="{$img_dir}leftcollumbkg2.gif"><div align="left">
{include file="menu.html"}
        </div></td>
        <td width="84%" valign="top">
		  <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
          <tr height="20">
            <td width="97%">&nbsp;</td>
            <td width="3%">&nbsp;</td>
          </tr>
          <tr>
            <td height="401" valign="top"><div align="center">
            <!-- content begin -->
            	<div align="left" class="text">
            	<!-- Description -->
            	<strong>Traffic Co-Branding</strong>
            	<br>
            	<br>
            	 <!-- Add -->
					  <a name="add">
					  <form name="add" method="get" action="">
						  <table width="392" border="0" cellpadding="0" cellspacing="0" bgcolor="#000033">
						    <tr>
						      <td width="392"><table width="100%" height="100"  border="0" cellpadding="3" cellspacing="1">
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">BULAN</td>
						          <td><div align="left">
						            {$dd_month}
						            {$dd_year}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">TELCO</td>
						          <td><div align="left">
						            {$dd_telco}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">SHORTCODE</td>
						          <td><div align="left">
						            {$dd_shortcode}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">SERVICE</td>
						          <td><div align="left">
						            {$dd_service}
						          </div></td>
						        </tr>
						        <tr bgcolor="#FFFFFF">
						          <td bgcolor="#9DC1F5">&nbsp;</td>
						          <td><div align="left">
						            <input type="submit" name="submit" value="Submit" class="text">
						          </div></td>
						        </tr>
						      </table></td>
						    </tr>
						  </table>
						</form>
					  <!-- Add -->
			        <!-- Description -->
			        <br>
			        <br>
			        <!-- List -->
{if $submit == "Submit"}
{if $service eq "--"}
							<table border="0" cellspacing="0" cellpadding="0">
						 <tr>
						 <td><div align="left"><strong>Silahkan pilih service terlebih dahulu</strong></div></td>
						 </tr>
						</table>
{else}
						<table border="0" cellspacing="0" cellpadding="0">
						 <tr>
						 <td><div align="left"><strong>TRAFFIC : [ Bulan : {$bln} , Tahun : {$thn} ] [ Telco : {$tlc} ] [ Shortcode : {$sc} ] [ Service : {$s_name} ]</strong></div></td>
						 </tr>
						 <tr>
						 <td>&nbsp;</td>
						 </tr>
						 <tr>
						   <td bgcolor="#000033">
						    	<table width="100%" height="100%"  border="0" cellpadding="3" cellspacing="1">
									<tr bgcolor="#9DC1F5">
										<th align="center" >DATE</th>
										<th align="center" >MO REG</th>
										<th align="center" >MO UNREG</th>
										<th align="center" >Status 1</th>
										<th align="center" >Status 0</th>
										<th align="center" >Status 3:101</th>
										<th align="center" >Status 3:105</th>
										<th align="center" >Status 3:109</th>
										<th align="center" >Status 3:3:21</th>
										<th align="center" >Status 4</th>
										<th align="center" >Status Others</th>
										<th align="center" >Total MT</th>
									</tr>
{section name=p loop=$t_tgl1}
									<tr bgcolor="#FFFFFF">
										<td align="center">{$t_tgl1[p]}</td>
										<td align="center">{$t_reg1[p]|number_format}</td>
										<td align="center">{$t_unreg1[p]|number_format}</td>
										<td align="center">{$t_mt_1[p]|number_format}</td>
										<td align="center">{$t_mt_0[p]|number_format}</td>
										<td align="center">{$t_mt_3101[p]|number_format}</td>
										<td align="center">{$t_mt_3105[p]|number_format}</td>
										<td align="center">{$t_mt_3109[p]|number_format}</td>
										<td align="center">{$t_mt_3321[p]|number_format}</td>
										<td align="center">{$t_mt_4[p]|number_format}</td>
										<td align="center">{$t_mt_lain[p]|number_format}</td>
										<td align="center">{$total_mt1[p]|number_format}</td>
									</tr>
{/section}
							 		<tr bgcolor="#FFFFFF">
										<td align="center"><strong>TOTAL</strong></td>
										<td align="center"><strong>{$total_reg|number_format}</strong></td>
										<td align="center"><strong>{$total_unreg|number_format}</strong></td>
										<td align="center"><strong>{$total_mt_1|number_format}</strong></td>
										<td align="center"><strong>{$total_mt_0|number_format}</strong></td>
										<td align="center"><strong>{$total_mt_3101|number_format}</strong></td>
										<td align="center"><strong>{$total_mt_3105|number_format}</strong></td>
										<td align="center"><strong>{$total_mt_3109|number_format}</strong></td>
										<td align="center"><strong>{$total_mt_3321|number_format}</strong></td>
										<td align="center"><strong>{$total_mt_4|number_format}</strong></td>
										<td align="center"><strong>{$total_mt_lain|number_format}</strong></td>
										<td align="center"><strong>{$total_mt_all|number_format}</strong></td>
									</tr>
							 </table>
						   </td>
						 </tr>
					  </table>
{/if}
			        
{/if}
					  <!-- List -->
					  <br>
            	</div>
            <!-- content end -->
            </div></td>
            <td>&nbsp;</td>
          </tr>
{include file="copyright.html"}
        </table>
		</td>
      </tr>
    </table></td>
  </tr>
</table>

{include file="footer.html"}